Books/XML-and-Web-technology/Data/WADL/GenesByBindingSiteFeature.wadl

<?xml version='1.0'?>
<application xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance' xsi:schemaLocation='http://wadl.dev.java.net/2009/02 wadl.xsd' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns='http://wadl.dev.java.net/2009/02'>
<resources base='http://eupathdb.org/webservices/'>
<resource path='GeneQuestions'>
<resource path='GenesByBindingSiteFeature.xml'>
<method href='#genesbybindingsitefeature'/>
</resource>
<resource path='GenesByBindingSiteFeature.json'>
<method href='#genesbybindingsitefeature'/>
</resource>
<method name='POST' id='genesbybindingsitefeature'>
<doc title='display_name'><![CDATA[TF Binding Site Evidence]]></doc>
<doc title='summary'><![CDATA[Find Genes which have a specified transcription factor binding site upstream or dowstream.]]></doc>
<doc title='description'><![CDATA[<img id="tfbs_image" src="" height="250px" width="400px">
           <script type="text/javascript">
           function swapImage(x){
             var image = document.getElementById("tfbs_image");
             var newSrc = "/a/images/pf_tfbs/" + x  + ".png";
             image.src = newSrc;	
           };

           var names = document.getElementById("tfbs_name");
           swapImage(names.options[names.selectedIndex].value);
           names.setAttribute("onchange", "swapImage(names.options[names.selectedIndex].value)");
           </script>

          <br><br><i>Plasmodium falciparum</i> transcription-factor binding sites - Manuel Llinas<br><br>
          The DNA sequence motifs bound by each ApiAP2 transcription factor were
derived from protein binding microarray data using <i>P. falciparum</i> AP2
domains.  Protein binding microarrays are non-organism specific and
contain matches to all contiguous 10-mers at least once and
non-palindromic 8-mers up to 32 times.  The DNA motifs were determined
using purified recombinant AP2 domains and the resulting position weight
matrix for each AP2 domain was used to search upstream regions for
significant matches.  The AP2 domain that binds to each motif is
indicated at the end of the gene ID.  Binding sites are based on
sequence matches only and have not been verified <i>in vivo</i>.<br>  For further information, contact Manuel Llinas: manuel@princeton.edu
<br><br>References:<br><br> Identification and genome-wide mapping of DNA binding specificities for the ApiAP2 family of regulators from the malaria parasite.<i>Manuscript submitted</i>. 2010 Campbell <i>et al</i><br><br>
<a href="http://www.ncbi.nlm.nih.gov/pubmed/16998473">Compact, universal DNA microarrays to comprehensively determine transcription-factor binding site specificities</a><br><br>
The AP2 motifs were mapped to the genome using the algorithm described in the following paper: <a href="http://www.ncbi.nlm.nih.gov/pubmed/12370781">Identification of transcription factor binding sites in the human genome sequence</a><br>
The P value is the probability that the binding site with that score would match at that position given the input DNA (inter-genic and telomeric regions).  For example, a P value of 1X10<sup>-4</sup> means that you would find a good match every 10,000 basepairs on average on that strand.]]></doc>
<request>
<param name='organism' type='xsd:string' required='true' default='Plasmodium chabaudi,Plasmodium berghei,Plasmodium yoelii,Plasmodium falciparum,Plasmodium vivax' repeating='true'>
<doc title='prompt'><![CDATA[Organism]]></doc>
<doc title='help'><![CDATA[Organism]]></doc>
<doc title='default'><![CDATA[Plasmodium chabaudi,Plasmodium berghei,Plasmodium yoelii,Plasmodium falciparum,Plasmodium vivax]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='Plasmodium chabaudi'><doc title='description'><![CDATA[Plasmodium chabaudi]]></doc></option>
<option value='Plasmodium berghei'><doc title='description'><![CDATA[Plasmodium berghei]]></doc></option>
<option value='Plasmodium yoelii'><doc title='description'><![CDATA[Plasmodium yoelii]]></doc></option>
<option value='Plasmodium falciparum'><doc title='description'><![CDATA[Plasmodium falciparum]]></doc></option>
<option value='Plasmodium vivax'><doc title='description'><![CDATA[Plasmodium vivax]]></doc></option>
</param>
<param name='tfbs_name' type='xsd:string' required='true' default='MAL8P1.153' repeating='false'>
<doc title='prompt'><![CDATA[Transcription Factor]]></doc>
<doc title='help'><![CDATA[The image displayed below indicates the binding site for the chosen transcription factor.]]></doc>
<doc title='default'><![CDATA[MAL8P1.153]]></doc>
<doc title='SingleValued'>Choose at most one value from the options</doc>
<option value='MAL8P1.153'><doc title='description'><![CDATA[MAL8P1.153]]></doc></option>
<option value='PF07_0126_DLD'><doc title='description'><![CDATA[PF07_0126_DLD]]></doc></option>
<option value='PF10_0075_D1'><doc title='description'><![CDATA[PF10_0075_D1]]></doc></option>
<option value='PF10_0075_D2'><doc title='description'><![CDATA[PF10_0075_D2]]></doc></option>
<option value='PF10_0075_D3'><doc title='description'><![CDATA[PF10_0075_D3]]></doc></option>
<option value='PF11_0091'><doc title='description'><![CDATA[PF11_0091]]></doc></option>
<option value='PF11_0404_D1'><doc title='description'><![CDATA[PF11_0404_D1]]></doc></option>
<option value='PF11_0442'><doc title='description'><![CDATA[PF11_0442]]></doc></option>
<option value='PF13_0026'><doc title='description'><![CDATA[PF13_0026]]></doc></option>
<option value='PF13_0097'><doc title='description'><![CDATA[PF13_0097]]></doc></option>
<option value='PF13_0235_D1'><doc title='description'><![CDATA[PF13_0235_D1]]></doc></option>
<option value='PF13_0267'><doc title='description'><![CDATA[PF13_0267]]></doc></option>
<option value='PF14_0079'><doc title='description'><![CDATA[PF14_0079]]></doc></option>
<option value='PF14_0533'><doc title='description'><![CDATA[PF14_0533]]></doc></option>
<option value='PF14_0633'><doc title='description'><![CDATA[PF14_0633]]></doc></option>
<option value='PFD0985w_D1'><doc title='description'><![CDATA[PFD0985w_D1]]></doc></option>
<option value='PFD0985w_D2'><doc title='description'><![CDATA[PFD0985w_D2]]></doc></option>
<option value='PFE0840c_D2'><doc title='description'><![CDATA[PFE0840c_D2]]></doc></option>
<option value='PFF0200c_DLD'><doc title='description'><![CDATA[PFF0200c_DLD]]></doc></option>
<option value='PFF0670w_D1'><doc title='description'><![CDATA[PFF0670w_D1]]></doc></option>
<option value='PFF0670w_D2'><doc title='description'><![CDATA[PFF0670w_D2]]></doc></option>
<option value='PFL1075w'><doc title='description'><![CDATA[PFL1075w]]></doc></option>
<option value='PFL1085w'><doc title='description'><![CDATA[PFL1085w]]></doc></option>
<option value='PFL1900w_DLD'><doc title='description'><![CDATA[PFL1900w_DLD]]></doc></option>
</param>
<param name='tfbs_distance' type='xsd:string' required='true' default='1000' >
<doc title='prompt'><![CDATA[Maximum distance from 5' gene end]]></doc>
<doc title='help'><![CDATA[Enter the maximum distance you want to allow the center of the peak to be from the 5' end of the gene.  Note that the larger the value entered here (3000 bp maximum) the greater the chance for aberrant results.]]></doc>
<doc title='default'><![CDATA[1000]]></doc>
</param>
<param name='tfbs_num_sites' type='xsd:string' required='true' default='1' repeating='false'>
<doc title='prompt'><![CDATA[Minimum number of sites / gene]]></doc>
<doc title='help'><![CDATA[Choose the minimum number of sites per gene that meet your other criteria.]]></doc>
<doc title='default'><![CDATA[1]]></doc>
<doc title='SingleValued'>Choose at most one value from the options</doc>
<option value='1'><doc title='description'><![CDATA[1]]></doc></option>
<option value='2'><doc title='description'><![CDATA[2]]></doc></option>
<option value='3'><doc title='description'><![CDATA[3]]></doc></option>
<option value='4'><doc title='description'><![CDATA[4]]></doc></option>
</param>
<param name='tfbs_pvalue' type='xsd:string' required='true' default='1E-4' repeating='false'>
<doc title='prompt'><![CDATA[p value <=]]></doc>
<doc title='help'><![CDATA[The p value cutoff for this search. The P value is the probability that the binding site with that score would match at that position given the input DNA (inter-genic and telomeric regions).  For example, a P value of 1X10<sup>-4</sup> means that you would find a match that good every 10,000 basepairs on average on that strand.]]></doc>
<doc title='default'><![CDATA[1E-4]]></doc>
<doc title='SingleValued'>Choose at most one value from the options</doc>
<option value='1E-5'><doc title='description'><![CDATA[1X10<sup>-5</sup>]]></doc></option>
<option value='5E-5'><doc title='description'><![CDATA[5X10<sup>-5</sup>]]></doc></option>
<option value='1E-4'><doc title='description'><![CDATA[1X10<sup>-4</sup>]]></doc></option>
<option value='5E-4'><doc title='description'><![CDATA[5X10<sup>-4</sup>]]></doc></option>
</param>
<param name='o-fields' type='xsd:string' required='false' default='none' repeating='true'>
<doc title='prompt'><![CDATA[Output Fields]]></doc>
<doc title='help'><![CDATA[Single valued attributes of the feature.]]></doc>
<doc title='default'><![CDATA[none]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='all'><doc title='description'>Show all attributes</doc></option>
<option value='none'><doc title='description'>Show no attributes</doc></option>
<option value='primary_key'><doc title='description'><![CDATA[Gene]]></doc></option>
<option value='formatted_gene_id'><doc title='description'><![CDATA[Gene Group]]></doc></option>
<option value='sequence_id'><doc title='description'><![CDATA[Genomic Sequence ID]]></doc></option>
<option value='chromosome'><doc title='description'><![CDATA[Chromosome]]></doc></option>
<option value='location_text'><doc title='description'><![CDATA[Genomic Location]]></doc></option>
<option value='strand'><doc title='description'><![CDATA[Gene Strand]]></doc></option>
<option value='gene_type'><doc title='description'><![CDATA[Gene Type]]></doc></option>
<option value='exon_count'><doc title='description'><![CDATA[# Exons]]></doc></option>
<option value='transcript_length'><doc title='description'><![CDATA[Transcript Length]]></doc></option>
<option value='cds_length'><doc title='description'><![CDATA[CDS Length]]></doc></option>
<option value='product'><doc title='description'><![CDATA[Product Description]]></doc></option>
<option value='protein_length'><doc title='description'><![CDATA[Protein Length]]></doc></option>
<option value='tm_count'><doc title='description'><![CDATA[# TM Domains]]></doc></option>
<option value='molecular_weight'><doc title='description'><![CDATA[Molecular Weight]]></doc></option>
<option value='isoelectric_point'><doc title='description'><![CDATA[Isoelectric Point]]></doc></option>
<option value='ec_numbers_string'><doc title='description'><![CDATA[EC Numbers]]></doc></option>
<option value='ortholog_number'><doc title='description'><![CDATA[Ortholog count]]></doc></option>
<option value='paralog_number'><doc title='description'><![CDATA[Paralog count]]></doc></option>
<option value='orthomcl_name'><doc title='description'><![CDATA[Ortholog Group]]></doc></option>
<option value='signalp_scores'><doc title='description'><![CDATA[SignalP Scores]]></doc></option>
<option value='signalp_peptide'><doc title='description'><![CDATA[SignalP Peptide]]></doc></option>
<option value='ann_go_function'><doc title='description'><![CDATA[Annotated GO Function]]></doc></option>
<option value='ann_go_process'><doc title='description'><![CDATA[Annotated GO Process]]></doc></option>
<option value='ann_go_component'><doc title='description'><![CDATA[Annotated GO Component]]></doc></option>
<option value='pred_go_function'><doc title='description'><![CDATA[Predicted GO Function]]></doc></option>
<option value='pred_go_process'><doc title='description'><![CDATA[Predicted GO Process]]></doc></option>
<option value='pred_go_component'><doc title='description'><![CDATA[Predicted GO Component]]></doc></option>
<option value='organism'><doc title='description'><![CDATA[Organism]]></doc></option>
<option value='is_pseudo'><doc title='description'><![CDATA[Is Pseudo]]></doc></option>
<option value='protein_sequence'><doc title='description'><![CDATA[Predicted Protein Sequence]]></doc></option>
<option value='transcript_sequence'><doc title='description'><![CDATA[Predicted RNA/mRNA Sequence (introns spliced out)]]></doc></option>
<option value='cds'><doc title='description'><![CDATA[Coding Sequence]]></doc></option>
<option value='wdk_weight'><doc title='description'><![CDATA[Weight]]></doc></option>
<option value='tfbs_count'><doc title='description'><![CDATA[Total #TFBS]]></doc></option>
<option value='tfbs_distance'><doc title='description'><![CDATA[Min Distance]]></doc></option>
</param>
<param name='o-tables' type='xsd:string' required='false' default='none' repeating='true'>
<doc title='prompt'><![CDATA[Output Tables]]></doc>
<doc title='help'><![CDATA[Multi-valued attributes of the feature.]]></doc>
<doc title='default'><![CDATA[none]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='all'><doc title='description'>Show all tables</doc></option>
<option value='none'><doc title='description'>Show no tables</doc></option>
<option value='SNPs'><doc title='description'><![CDATA[SNPs Summary]]></doc></option>
<option value='GeneModelDump'><doc title='description'><![CDATA[Gene Model]]></doc></option>
<option value='InterPro'><doc title='description'><![CDATA[InterPro Domains]]></doc></option>
<option value='TMHMM'><doc title='description'><![CDATA[Transmembrane Domains]]></doc></option>
<option value='LowComplexity'><doc title='description'><![CDATA[Low Complexity Regions]]></doc></option>
<option value='SignalP'><doc title='description'><![CDATA[Signal Peptide]]></doc></option>
<option value='BlastP'><doc title='description'><![CDATA[BlastP Hits]]></doc></option>
<option value='Genbank'><doc title='description'><![CDATA[Gene Location]]></doc></option>
<option value='SageTags'><doc title='description'><![CDATA[Sage Tags]]></doc></option>
<option value='Notes'><doc title='description'><![CDATA[Notes]]></doc></option>
<option value='UserComments'><doc title='description'><![CDATA[User Comments]]></doc></option>
<option value='CommunityExpComments'><doc title='description'><![CDATA[Community Annotations]]></doc></option>
<option value='EcNumber'><doc title='description'><![CDATA[EC Number]]></doc></option>
<option value='MassSpec'><doc title='description'><![CDATA[Mass Spec.-based Expression Evidence]]></doc></option>
<option value='GoTerms'><doc title='description'><![CDATA[GO Terms]]></doc></option>
<option value='Phenotype'><doc title='description'><![CDATA[Phenotype]]></doc></option>
<option value='Y2hInteractions'><doc title='description'><![CDATA[Y2H Interactions]]></doc></option>
<option value='Orthologs'><doc title='description'><![CDATA[Orthologs and Paralogs within EuPathDB]]></doc></option>
<option value='MetabolicPathways'><doc title='description'><![CDATA[Metabolic Pathways]]></doc></option>
<option value='TaskComments'><doc title='description'><![CDATA[Toxoplasma Genome Sequencing Project Annotation]]></doc></option>
<option value='ArrayElements'><doc title='description'><![CDATA[Mapped Array Elements]]></doc></option>
<option value='TwoChannelDiffExpr'><doc title='description'><![CDATA[P.Berghei Differential Expression - DOZI KO vs. WT]]></doc></option>
<option value='ProteinExpression'><doc title='description'><![CDATA[P.Berghei Protein Expression]]></doc></option>
<option value='Mr4Reagents'><doc title='description'><![CDATA[MR4 Reagents]]></doc></option>
<option value='ProteinDatabase'><doc title='description'><![CDATA[Protein Linkouts]]></doc></option>
<option value='GeneLinkouts'><doc title='description'><![CDATA[External Links]]></doc></option>
<option value='3dPreds'><doc title='description'><![CDATA[3D Structure Predictions]]></doc></option>
<option value='PdbSimilarities'><doc title='description'><![CDATA[Similarities to Protein Data Bank (PDB) Chains]]></doc></option>
<option value='Epitopes'><doc title='description'><![CDATA[Epitopes from IEDB]]></doc></option>
<option value='IsolateOverlap'><doc title='description'><![CDATA[Isolates]]></doc></option>
</param>
</request>
<response>
<representation mediaType='text/xml'/>
<representation mediaType='text/plain'/>
</response>
</method>
</resource>
</resources>
</application>
