Books/XML-and-Web-technology/Data/WADL/GenesByGametocyteExpression.wadl

<?xml version='1.0'?>
<application xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance' xsi:schemaLocation='http://wadl.dev.java.net/2009/02 wadl.xsd' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns='http://wadl.dev.java.net/2009/02'>
<resources base='http://eupathdb.org/webservices/'>
<resource path='GeneQuestions'>
<resource path='GenesByGametocyteExpression.xml'>
<method href='#genesbygametocyteexpression'/>
</resource>
<resource path='GenesByGametocyteExpression.json'>
<method href='#genesbygametocyteexpression'/>
</resource>
<method name='POST' id='genesbygametocyteexpression'>
<doc title='display_name'><![CDATA[P.f. Gametocytogenesis (percentile)]]></doc>
<doc title='summary'><![CDATA[Find genes by percentile protein expression in gametocytes.]]></doc>
<doc title='description'><![CDATA[Find <i>Plasmodium falciparum</i> genes expressed during
                gametocytogenesis in strain NF54, strain 3D7, or MACS-purified
                strain 3D7. It uses data from a total of 23 microarray
                experiments (1), as shown here for gene PFD0830w:<br><br>
                <div align="center">
                <img src="images/plasmo_gam_pct_pfd0830w.png">
                </div><br><br>
                These experiments were performed using an Affymetrix short
                oligonucleotide platform, which contains oligos (25-mers)
                derived from the predicted coding regions of the entire <I>P.
                falciparum</I> genome. </P> <P> Expression values for each
                probe set were obtained by the MOID algorithm (2). Genes can
                be found by their percentile expression in the selected set of
                assays.<br><br>
                However, please note that, regardless of the percentile
                expression level selected, only genes that are above
                background and whose observed expression level would not be
                expected by chance (MOID expression level >10 and logP < -0.5)
                are included and will be reported.  This means that genes that
                have only a single probe on the array will not be reported as
                their logP values will always be too high to satisfy the query.
                <br><br>
                <pre><b>References:</b><br>(1) Jason A. Young, Quinton L. Fivelman, Peter L. Blair, Patricia de la Vega,<br>Karine G. Le Roch, Yingyao Zhou, Daniel J. Carucci, David A. Baker, Elizabeth A. Winzeler<br><a href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&db=PubMed&list_uids=16005087&dopt=Citation">The Plasmodium falciparum sexual development transcriptome: a microarray analysis using ontology-based pattern identification</a><br>Mol Biochem Parasitol. 2005 Jul 5; <br>(2) Zhou Y, Abagyan R.<br><a href="http://www.biomedcentral.com/1471-2105/3/3">Match-Only Integral Distribution (MOID) Algorithm for high-density oligonucleotide array analysis.</a><br>BMC Bioinformatics. 2002;3(1):3.</pre>]]></doc>
<request>
<param name='day_and_strain' type='xsd:string' required='true' default='Strain 3D7 (MACS-purified) Day 1' repeating='true'>
<doc title='prompt'><![CDATA[Day of Gametocytogenesis and Strain]]></doc>
<doc title='help'><![CDATA[Choose one or more strain/day combination]]></doc>
<doc title='default'><![CDATA[Strain 3D7 (MACS-purified) Day 1]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='Strain 3D7 (MACS-purified) Day 1'><doc title='description'><![CDATA[Strain 3D7 (MACS-purified) Day 1]]></doc></option>
<option value='Strain 3D7 (MACS-purified) Day 2'><doc title='description'><![CDATA[Strain 3D7 (MACS-purified) Day 2]]></doc></option>
<option value='Strain 3D7 (MACS-purified) Day 3'><doc title='description'><![CDATA[Strain 3D7 (MACS-purified) Day 3]]></doc></option>
<option value='Strain 3D7 (MACS-purified) Day 4'><doc title='description'><![CDATA[Strain 3D7 (MACS-purified) Day 4]]></doc></option>
<option value='Strain 3D7 Day 1'><doc title='description'><![CDATA[Strain 3D7 Day 1]]></doc></option>
<option value='Strain 3D7 Day 2'><doc title='description'><![CDATA[Strain 3D7 Day 2]]></doc></option>
<option value='Strain 3D7 Day 3'><doc title='description'><![CDATA[Strain 3D7 Day 3]]></doc></option>
<option value='Strain 3D7 Day 6'><doc title='description'><![CDATA[Strain 3D7 Day 6]]></doc></option>
<option value='Strain 3D7 Day 8'><doc title='description'><![CDATA[Strain 3D7 Day 8]]></doc></option>
<option value='Strain 3D7 Day 12'><doc title='description'><![CDATA[Strain 3D7 Day 12]]></doc></option>
<option value='Strain NF54 Day 1'><doc title='description'><![CDATA[Strain NF54 Day 1]]></doc></option>
<option value='Strain NF54 Day 2'><doc title='description'><![CDATA[Strain NF54 Day 2]]></doc></option>
<option value='Strain NF54 Day 3'><doc title='description'><![CDATA[Strain NF54 Day 3]]></doc></option>
<option value='Strain NF54 Day 4'><doc title='description'><![CDATA[Strain NF54 Day 4]]></doc></option>
<option value='Strain NF54 Day 5'><doc title='description'><![CDATA[Strain NF54 Day 5]]></doc></option>
<option value='Strain NF54 Day 6'><doc title='description'><![CDATA[Strain NF54 Day 6]]></doc></option>
<option value='Strain NF54 Day 7'><doc title='description'><![CDATA[Strain NF54 Day 7]]></doc></option>
<option value='Strain NF54 Day 8'><doc title='description'><![CDATA[Strain NF54 Day 8]]></doc></option>
<option value='Strain NF54 Day 9'><doc title='description'><![CDATA[Strain NF54 Day 9]]></doc></option>
<option value='Strain NF54 Day 10'><doc title='description'><![CDATA[Strain NF54 Day 10]]></doc></option>
<option value='Strain NF54 Day 11'><doc title='description'><![CDATA[Strain NF54 Day 11]]></doc></option>
<option value='Strain NF54 Day 12'><doc title='description'><![CDATA[Strain NF54 Day 12]]></doc></option>
<option value='Strain NF54 Day 13'><doc title='description'><![CDATA[Strain NF54 Day 13]]></doc></option>
</param>
<param name='min_expression_percentile' type='xsd:string' required='true' default='80' >
<doc title='prompt'><![CDATA[Minimum expression percentile]]></doc>
<doc title='help'><![CDATA[Lower bound on expression percentile.]]></doc>
<doc title='default'><![CDATA[80]]></doc>
</param>
<param name='max_expression_percentile' type='xsd:string' required='true' default='100' >
<doc title='prompt'><![CDATA[Maximum expression percentile]]></doc>
<doc title='help'><![CDATA[Upper bound on expression percentile.]]></doc>
<doc title='default'><![CDATA[100]]></doc>
</param>
<param name='o-fields' type='xsd:string' required='false' default='none' repeating='true'>
<doc title='prompt'><![CDATA[Output Fields]]></doc>
<doc title='help'><![CDATA[Single valued attributes of the feature.]]></doc>
<doc title='default'><![CDATA[none]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='all'><doc title='description'>Show all attributes</doc></option>
<option value='none'><doc title='description'>Show no attributes</doc></option>
<option value='primary_key'><doc title='description'><![CDATA[Gene]]></doc></option>
<option value='formatted_gene_id'><doc title='description'><![CDATA[Gene Group]]></doc></option>
<option value='sequence_id'><doc title='description'><![CDATA[Genomic Sequence ID]]></doc></option>
<option value='chromosome'><doc title='description'><![CDATA[Chromosome]]></doc></option>
<option value='location_text'><doc title='description'><![CDATA[Genomic Location]]></doc></option>
<option value='strand'><doc title='description'><![CDATA[Gene Strand]]></doc></option>
<option value='gene_type'><doc title='description'><![CDATA[Gene Type]]></doc></option>
<option value='exon_count'><doc title='description'><![CDATA[# Exons]]></doc></option>
<option value='transcript_length'><doc title='description'><![CDATA[Transcript Length]]></doc></option>
<option value='cds_length'><doc title='description'><![CDATA[CDS Length]]></doc></option>
<option value='product'><doc title='description'><![CDATA[Product Description]]></doc></option>
<option value='protein_length'><doc title='description'><![CDATA[Protein Length]]></doc></option>
<option value='tm_count'><doc title='description'><![CDATA[# TM Domains]]></doc></option>
<option value='molecular_weight'><doc title='description'><![CDATA[Molecular Weight]]></doc></option>
<option value='isoelectric_point'><doc title='description'><![CDATA[Isoelectric Point]]></doc></option>
<option value='ec_numbers_string'><doc title='description'><![CDATA[EC Numbers]]></doc></option>
<option value='ortholog_number'><doc title='description'><![CDATA[Ortholog count]]></doc></option>
<option value='paralog_number'><doc title='description'><![CDATA[Paralog count]]></doc></option>
<option value='orthomcl_name'><doc title='description'><![CDATA[Ortholog Group]]></doc></option>
<option value='signalp_scores'><doc title='description'><![CDATA[SignalP Scores]]></doc></option>
<option value='signalp_peptide'><doc title='description'><![CDATA[SignalP Peptide]]></doc></option>
<option value='ann_go_function'><doc title='description'><![CDATA[Annotated GO Function]]></doc></option>
<option value='ann_go_process'><doc title='description'><![CDATA[Annotated GO Process]]></doc></option>
<option value='ann_go_component'><doc title='description'><![CDATA[Annotated GO Component]]></doc></option>
<option value='pred_go_function'><doc title='description'><![CDATA[Predicted GO Function]]></doc></option>
<option value='pred_go_process'><doc title='description'><![CDATA[Predicted GO Process]]></doc></option>
<option value='pred_go_component'><doc title='description'><![CDATA[Predicted GO Component]]></doc></option>
<option value='organism'><doc title='description'><![CDATA[Organism]]></doc></option>
<option value='is_pseudo'><doc title='description'><![CDATA[Is Pseudo]]></doc></option>
<option value='protein_sequence'><doc title='description'><![CDATA[Predicted Protein Sequence]]></doc></option>
<option value='transcript_sequence'><doc title='description'><![CDATA[Predicted RNA/mRNA Sequence (introns spliced out)]]></doc></option>
<option value='cds'><doc title='description'><![CDATA[Coding Sequence]]></doc></option>
<option value='wdk_weight'><doc title='description'><![CDATA[Weight]]></doc></option>
</param>
<param name='o-tables' type='xsd:string' required='false' default='none' repeating='true'>
<doc title='prompt'><![CDATA[Output Tables]]></doc>
<doc title='help'><![CDATA[Multi-valued attributes of the feature.]]></doc>
<doc title='default'><![CDATA[none]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='all'><doc title='description'>Show all tables</doc></option>
<option value='none'><doc title='description'>Show no tables</doc></option>
<option value='SNPs'><doc title='description'><![CDATA[SNPs Summary]]></doc></option>
<option value='GeneModelDump'><doc title='description'><![CDATA[Gene Model]]></doc></option>
<option value='InterPro'><doc title='description'><![CDATA[InterPro Domains]]></doc></option>
<option value='TMHMM'><doc title='description'><![CDATA[Transmembrane Domains]]></doc></option>
<option value='LowComplexity'><doc title='description'><![CDATA[Low Complexity Regions]]></doc></option>
<option value='SignalP'><doc title='description'><![CDATA[Signal Peptide]]></doc></option>
<option value='BlastP'><doc title='description'><![CDATA[BlastP Hits]]></doc></option>
<option value='Genbank'><doc title='description'><![CDATA[Gene Location]]></doc></option>
<option value='SageTags'><doc title='description'><![CDATA[Sage Tags]]></doc></option>
<option value='Notes'><doc title='description'><![CDATA[Notes]]></doc></option>
<option value='UserComments'><doc title='description'><![CDATA[User Comments]]></doc></option>
<option value='CommunityExpComments'><doc title='description'><![CDATA[Community Annotations]]></doc></option>
<option value='EcNumber'><doc title='description'><![CDATA[EC Number]]></doc></option>
<option value='MassSpec'><doc title='description'><![CDATA[Mass Spec.-based Expression Evidence]]></doc></option>
<option value='GoTerms'><doc title='description'><![CDATA[GO Terms]]></doc></option>
<option value='Phenotype'><doc title='description'><![CDATA[Phenotype]]></doc></option>
<option value='Y2hInteractions'><doc title='description'><![CDATA[Y2H Interactions]]></doc></option>
<option value='Orthologs'><doc title='description'><![CDATA[Orthologs and Paralogs within EuPathDB]]></doc></option>
<option value='MetabolicPathways'><doc title='description'><![CDATA[Metabolic Pathways]]></doc></option>
<option value='TaskComments'><doc title='description'><![CDATA[Toxoplasma Genome Sequencing Project Annotation]]></doc></option>
<option value='ArrayElements'><doc title='description'><![CDATA[Mapped Array Elements]]></doc></option>
<option value='TwoChannelDiffExpr'><doc title='description'><![CDATA[P.Berghei Differential Expression - DOZI KO vs. WT]]></doc></option>
<option value='ProteinExpression'><doc title='description'><![CDATA[P.Berghei Protein Expression]]></doc></option>
<option value='Mr4Reagents'><doc title='description'><![CDATA[MR4 Reagents]]></doc></option>
<option value='ProteinDatabase'><doc title='description'><![CDATA[Protein Linkouts]]></doc></option>
<option value='GeneLinkouts'><doc title='description'><![CDATA[External Links]]></doc></option>
<option value='3dPreds'><doc title='description'><![CDATA[3D Structure Predictions]]></doc></option>
<option value='PdbSimilarities'><doc title='description'><![CDATA[Similarities to Protein Data Bank (PDB) Chains]]></doc></option>
<option value='Epitopes'><doc title='description'><![CDATA[Epitopes from IEDB]]></doc></option>
<option value='IsolateOverlap'><doc title='description'><![CDATA[Isolates]]></doc></option>
</param>
</request>
<response>
<representation mediaType='text/xml'/>
<representation mediaType='text/plain'/>
</response>
</method>
</resource>
</resources>
</application>
