Books/XML-and-Web-technology/Data/WADL/GenesByChIPchipToxo.wadl

<?xml version='1.0'?>
<application xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance' xsi:schemaLocation='http://wadl.dev.java.net/2009/02 wadl.xsd' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns='http://wadl.dev.java.net/2009/02'>
<resources base='http://eupathdb.org/webservices/'>
<resource path='GeneQuestions'>
<resource path='GenesByChIPchipToxo.xml'>
<method href='#genesbychipchiptoxo'/>
</resource>
<resource path='GenesByChIPchipToxo.json'>
<method href='#genesbychipchiptoxo'/>
</resource>
<method name='POST' id='genesbychipchiptoxo'>
<doc title='display_name'><![CDATA[T.g. ChIP on Chip Evidence]]></doc>
<doc title='summary'><![CDATA[Find genes with evidence for expression based on ChIP-chip peaks]]></doc>
<doc title='description'><![CDATA[<p>Find all <i>T. gondii</i> genes with evidence for expression based on ChIP-chip peaks.</p>

           <sup>1</sup><i>Mathieu Gissot, J. Eduardo Fajardo, Louis M. Weiss, Andras Fiser, Kami Kim (Albert Einstein College of Medicine, unpublished)</i><br />Two different antibodies were used identifying different chromatin marks which indicate active transcription. Coincident Histone 3 Lysine 4 trimethylation (H3K4me3) and Histone 3 Lysine 9 acetylation (H3K9ac) peaks are highly correlated with active promoters, with H3K4me3 marks oriented closer to the 5' end of the gene.  This search allows you to identify genes where the 5' end is within a selected distance (maximum of 3000 bp) from the center of a ChIP-chip peak.  A 770,000 Nimblegen oligonucleotide array was custom designed based upon
the Release 4 ME49 genomic sequence (63 Mb) with an average
oligonucleotide length of 50 bp (isothermal hybridization design) and
spacing of approximately 80 bp.
Tachyzoites of CTG (Type III), PLK (ME49 clone, Type II) and RH (Type
I) strains were harvested 36 hours after inoculation of human foreskin
fibroblasts and chromatin immunoprecipitation hybridization (ChIP-chip)
performed as described in <a href="http://www.ncbi.nlm.nih.gov/pubmed/17559302">Gissot et al PLoS Pathogens 2007</a>.<publication pmid="17559302"/>
<br/>
<br/>
          <sup>2</sup><i>Bougdour, Maubon, Baldacci, Ortet, Bastien, Bouillon, Barale, Pelloux, Menard, Hakimi (<u>Drug-inhibition of HDAC3 and epigenetic control of
differentiation in Apicomplexa parasites</u> J. Exp. Med. 2009</i><br/>
Using chromatin immunoprecipitation and microarray hybridization (Nimblegen arrays), we analyzed the patterns of DNA-bound Histone H4(K5-K8-K12-K16) acetylation after 4 hours treatment of RH strain with DMSO (control) or 40 nM of FR235222 (named previously drug A) which is a Toxoplasma-specific HDAC inhibitor. ChIP-on-chip isolated DNA samples (input and immunopurified DNA) were arrayed on custom synthetic oligo arrays (387,000 features per array, 46-50 mer oligos, 2 arrays for the whole genome; Nimblegen)]]></doc>
<request>
<param name='chip_strains' type='xsd:string' required='true' default='RH' repeating='false'>
<doc title='prompt'><![CDATA[Strain used in assay]]></doc>
<doc title='help'><![CDATA[Choose a strain from which the samples were prepared.]]></doc>
<doc title='default'><![CDATA[RH]]></doc>
<doc title='SingleValued'>Choose at most one value from the options</doc>
<option value='RH'><doc title='description'><![CDATA[RH (TypeI)]]></doc></option>
<option value='CTG'><doc title='description'><![CDATA[CTG (TypeIII)]]></doc></option>
<option value='PLK'><doc title='description'><![CDATA[PLK (TypeII)]]></doc></option>
</param>
<param name='chip_antibody_toxo' type='xsd:string' required='true' default='' repeating='false'>
<doc title='prompt'><![CDATA[Antibody/Treatment]]></doc>
<doc title='help'><![CDATA[Choose an Antibody]]></doc>
<doc title='default'><![CDATA[null]]></doc>
<doc title='SingleValued'>Choose at most one value from the options</doc>
<option value='H3K9ac|none'><doc title='description'><![CDATA[(1)  H3K9ac]]></doc></option>
<option value='H4(K5-K8-K12-K16)ac|DMSO control'><doc title='description'><![CDATA[(2)  H4(K5-K8-K12-K16)ac - DMSO control - No Replicates]]></doc></option>
<option value='H4(K5-K8-K12-K16)ac|FR2352222 (Drug A)'><doc title='description'><![CDATA[(2)  H4(K5-K8-K12-K16)ac - FR2352222 (Drug A) - No Replicates]]></doc></option>
<option value='H3K4me3|none'><doc title='description'><![CDATA[(1)  H3K4me3]]></doc></option>
</param>
<param name='chip_replicates' type='xsd:string' required='true' default='' repeating='false'>
<doc title='prompt'><![CDATA[Present in both replicates]]></doc>
<doc title='help'><![CDATA[Choose 'Yes' if you would like to fetch genes that have evidence from both replicates.]]></doc>
<doc title='default'><![CDATA[null]]></doc>
<doc title='SingleValued'>Choose at most one value from the options</doc>
<option value='No'><doc title='description'><![CDATA[Not Applicable]]></doc></option>
<option value='Yes'><doc title='description'><![CDATA[Yes]]></doc></option>
<option value='No'><doc title='description'><![CDATA[No]]></doc></option>
</param>
<param name='chip_distance' type='xsd:string' required='true' default='1000' >
<doc title='prompt'><![CDATA[Maximum distance from 5' gene end]]></doc>
<doc title='help'><![CDATA[Enter the maximum distance you want to allow the center of the peak to be from the 5' end of the gene.  Note that the larger the value entered here (3000 bp maximum) the greater the chance for aberrant results.]]></doc>
<doc title='default'><![CDATA[1000]]></doc>
</param>
<param name='chip_direction' type='xsd:string' required='true' default='Either' repeating='false'>
<doc title='prompt'><![CDATA[Peak location relative to 5' end of gene]]></doc>
<doc title='help'><![CDATA[Choose whether the peak should be upstream or downstream of the 5' end of the gene.]]></doc>
<doc title='default'><![CDATA[Either]]></doc>
<doc title='SingleValued'>Choose at most one value from the options</doc>
<option value='Upstream'><doc title='description'><![CDATA[Upstream]]></doc></option>
<option value='Downstream'><doc title='description'><![CDATA[Downstream]]></doc></option>
<option value='Either'><doc title='description'><![CDATA[Either]]></doc></option>
</param>
<param name='o-fields' type='xsd:string' required='false' default='none' repeating='true'>
<doc title='prompt'><![CDATA[Output Fields]]></doc>
<doc title='help'><![CDATA[Single valued attributes of the feature.]]></doc>
<doc title='default'><![CDATA[none]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='all'><doc title='description'>Show all attributes</doc></option>
<option value='none'><doc title='description'>Show no attributes</doc></option>
<option value='primary_key'><doc title='description'><![CDATA[Gene]]></doc></option>
<option value='formatted_gene_id'><doc title='description'><![CDATA[Gene Group]]></doc></option>
<option value='sequence_id'><doc title='description'><![CDATA[Genomic Sequence ID]]></doc></option>
<option value='chromosome'><doc title='description'><![CDATA[Chromosome]]></doc></option>
<option value='location_text'><doc title='description'><![CDATA[Genomic Location]]></doc></option>
<option value='strand'><doc title='description'><![CDATA[Gene Strand]]></doc></option>
<option value='gene_type'><doc title='description'><![CDATA[Gene Type]]></doc></option>
<option value='exon_count'><doc title='description'><![CDATA[# Exons]]></doc></option>
<option value='transcript_length'><doc title='description'><![CDATA[Transcript Length]]></doc></option>
<option value='cds_length'><doc title='description'><![CDATA[CDS Length]]></doc></option>
<option value='product'><doc title='description'><![CDATA[Product Description]]></doc></option>
<option value='protein_length'><doc title='description'><![CDATA[Protein Length]]></doc></option>
<option value='tm_count'><doc title='description'><![CDATA[# TM Domains]]></doc></option>
<option value='molecular_weight'><doc title='description'><![CDATA[Molecular Weight]]></doc></option>
<option value='isoelectric_point'><doc title='description'><![CDATA[Isoelectric Point]]></doc></option>
<option value='ec_numbers_string'><doc title='description'><![CDATA[EC Numbers]]></doc></option>
<option value='ortholog_number'><doc title='description'><![CDATA[Ortholog count]]></doc></option>
<option value='paralog_number'><doc title='description'><![CDATA[Paralog count]]></doc></option>
<option value='orthomcl_name'><doc title='description'><![CDATA[Ortholog Group]]></doc></option>
<option value='signalp_scores'><doc title='description'><![CDATA[SignalP Scores]]></doc></option>
<option value='signalp_peptide'><doc title='description'><![CDATA[SignalP Peptide]]></doc></option>
<option value='ann_go_function'><doc title='description'><![CDATA[Annotated GO Function]]></doc></option>
<option value='ann_go_process'><doc title='description'><![CDATA[Annotated GO Process]]></doc></option>
<option value='ann_go_component'><doc title='description'><![CDATA[Annotated GO Component]]></doc></option>
<option value='pred_go_function'><doc title='description'><![CDATA[Predicted GO Function]]></doc></option>
<option value='pred_go_process'><doc title='description'><![CDATA[Predicted GO Process]]></doc></option>
<option value='pred_go_component'><doc title='description'><![CDATA[Predicted GO Component]]></doc></option>
<option value='organism'><doc title='description'><![CDATA[Organism]]></doc></option>
<option value='is_pseudo'><doc title='description'><![CDATA[Is Pseudo]]></doc></option>
<option value='protein_sequence'><doc title='description'><![CDATA[Predicted Protein Sequence]]></doc></option>
<option value='transcript_sequence'><doc title='description'><![CDATA[Predicted RNA/mRNA Sequence (introns spliced out)]]></doc></option>
<option value='cds'><doc title='description'><![CDATA[Coding Sequence]]></doc></option>
<option value='wdk_weight'><doc title='description'><![CDATA[Weight]]></doc></option>
<option value='chip_total_reps'><doc title='description'><![CDATA[Total #Peaks]]></doc></option>
<option value='chip_antibodies'><doc title='description'><![CDATA[Antibodies]]></doc></option>
<option value='chip_treatment'><doc title='description'><![CDATA[Treatment]]></doc></option>
<option value='chip_distance'><doc title='description'><![CDATA[Distance From Gene End]]></doc></option>
</param>
<param name='o-tables' type='xsd:string' required='false' default='none' repeating='true'>
<doc title='prompt'><![CDATA[Output Tables]]></doc>
<doc title='help'><![CDATA[Multi-valued attributes of the feature.]]></doc>
<doc title='default'><![CDATA[none]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='all'><doc title='description'>Show all tables</doc></option>
<option value='none'><doc title='description'>Show no tables</doc></option>
<option value='SNPs'><doc title='description'><![CDATA[SNPs Summary]]></doc></option>
<option value='GeneModelDump'><doc title='description'><![CDATA[Gene Model]]></doc></option>
<option value='InterPro'><doc title='description'><![CDATA[InterPro Domains]]></doc></option>
<option value='TMHMM'><doc title='description'><![CDATA[Transmembrane Domains]]></doc></option>
<option value='LowComplexity'><doc title='description'><![CDATA[Low Complexity Regions]]></doc></option>
<option value='SignalP'><doc title='description'><![CDATA[Signal Peptide]]></doc></option>
<option value='BlastP'><doc title='description'><![CDATA[BlastP Hits]]></doc></option>
<option value='Genbank'><doc title='description'><![CDATA[Gene Location]]></doc></option>
<option value='SageTags'><doc title='description'><![CDATA[Sage Tags]]></doc></option>
<option value='Notes'><doc title='description'><![CDATA[Notes]]></doc></option>
<option value='UserComments'><doc title='description'><![CDATA[User Comments]]></doc></option>
<option value='CommunityExpComments'><doc title='description'><![CDATA[Community Annotations]]></doc></option>
<option value='EcNumber'><doc title='description'><![CDATA[EC Number]]></doc></option>
<option value='MassSpec'><doc title='description'><![CDATA[Mass Spec.-based Expression Evidence]]></doc></option>
<option value='GoTerms'><doc title='description'><![CDATA[GO Terms]]></doc></option>
<option value='Phenotype'><doc title='description'><![CDATA[Phenotype]]></doc></option>
<option value='Y2hInteractions'><doc title='description'><![CDATA[Y2H Interactions]]></doc></option>
<option value='Orthologs'><doc title='description'><![CDATA[Orthologs and Paralogs within EuPathDB]]></doc></option>
<option value='MetabolicPathways'><doc title='description'><![CDATA[Metabolic Pathways]]></doc></option>
<option value='TaskComments'><doc title='description'><![CDATA[Toxoplasma Genome Sequencing Project Annotation]]></doc></option>
<option value='ArrayElements'><doc title='description'><![CDATA[Mapped Array Elements]]></doc></option>
<option value='TwoChannelDiffExpr'><doc title='description'><![CDATA[P.Berghei Differential Expression - DOZI KO vs. WT]]></doc></option>
<option value='ProteinExpression'><doc title='description'><![CDATA[P.Berghei Protein Expression]]></doc></option>
<option value='Mr4Reagents'><doc title='description'><![CDATA[MR4 Reagents]]></doc></option>
<option value='ProteinDatabase'><doc title='description'><![CDATA[Protein Linkouts]]></doc></option>
<option value='GeneLinkouts'><doc title='description'><![CDATA[External Links]]></doc></option>
<option value='3dPreds'><doc title='description'><![CDATA[3D Structure Predictions]]></doc></option>
<option value='PdbSimilarities'><doc title='description'><![CDATA[Similarities to Protein Data Bank (PDB) Chains]]></doc></option>
<option value='Epitopes'><doc title='description'><![CDATA[Epitopes from IEDB]]></doc></option>
<option value='IsolateOverlap'><doc title='description'><![CDATA[Isolates]]></doc></option>
</param>
</request>
<response>
<representation mediaType='text/xml'/>
<representation mediaType='text/plain'/>
</response>
</method>
</resource>
</resources>
</application>
