Books/XML-and-Web-technology/Data/WADL/GenesBySnps.wadl

<?xml version='1.0'?>
<application xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance' xsi:schemaLocation='http://wadl.dev.java.net/2009/02 wadl.xsd' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns='http://wadl.dev.java.net/2009/02'>
<resources base='http://eupathdb.org/webservices/'>
<resource path='GeneQuestions'>
<resource path='GenesBySnps.xml'>
<method href='#genesbysnps'/>
</resource>
<resource path='GenesBySnps.json'>
<method href='#genesbysnps'/>
</resource>
<method name='POST' id='genesbysnps'>
<doc title='display_name'><![CDATA[SNP Characteristics]]></doc>
<doc title='summary'><![CDATA[Find genes which have SNPs meeting specific criteria (Non-synonymous / synonymous SNP ratio, SNP density, etc).]]></doc>
<doc title='description'><![CDATA[Search for genes by SNP density, the number of SNPs of different classes, ratio of non-synonymous to synonymous, etc. 
             Note that if you don't care about one of the parameters, don't change the defaults
             on that parameter and you will get all genes that contain SNPs between the reference and 
             comparator strains irrespective of that parameter.]]></doc>
<request>
<param name='organism' type='xsd:string' required='true' default='Entamoeba dispar,Entamoeba histolytica,Entamoeba invadens,Cryptosporidium parvum,Cryptosporidium hominis,Cryptosporidium muris,Giardia Assemblage A isolate WB,Giardia Assemblage B isolate GS,Giardia Assemblage E isolate P15,Encephalitozoon cuniculi,Encephalitozoon intestinalis,Enterocytozoon bieneusi,Plasmodium falciparum,Plasmodium vivax,Plasmodium yoelii,Plasmodium berghei,Plasmodium chabaudi,Plasmodium knowlesi,Toxoplasma gondii,Neospora caninum,Trichomonas vaginalis,Trypanosoma cruzi,Leishmania braziliensis,Leishmania infantum,Leishmania major,Leishmania mexicana,Trypanosoma brucei,Trypanosoma congolense,Trypanosoma vivax' repeating='true'>
<doc title='prompt'><![CDATA[Organism]]></doc>
<doc title='help'><![CDATA[Organism]]></doc>
<doc title='default'><![CDATA[Entamoeba dispar,Entamoeba histolytica,Entamoeba invadens,Cryptosporidium parvum,Cryptosporidium hominis,Cryptosporidium muris,Giardia Assemblage A isolate WB,Giardia Assemblage B isolate GS,Giardia Assemblage E isolate P15,Encephalitozoon cuniculi,Encephalitozoon intestinalis,Enterocytozoon bieneusi,Plasmodium falciparum,Plasmodium vivax,Plasmodium yoelii,Plasmodium berghei,Plasmodium chabaudi,Plasmodium knowlesi,Toxoplasma gondii,Neospora caninum,Trichomonas vaginalis,Trypanosoma cruzi,Leishmania braziliensis,Leishmania infantum,Leishmania major,Leishmania mexicana,Trypanosoma brucei,Trypanosoma congolense,Trypanosoma vivax]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='Entamoeba dispar'><doc title='description'><![CDATA[Entamoeba dispar]]></doc></option>
<option value='Entamoeba histolytica'><doc title='description'><![CDATA[Entamoeba histolytica]]></doc></option>
<option value='Entamoeba invadens'><doc title='description'><![CDATA[Entamoeba invadens]]></doc></option>
<option value='Cryptosporidium parvum'><doc title='description'><![CDATA[Cryptosporidium parvum]]></doc></option>
<option value='Cryptosporidium hominis'><doc title='description'><![CDATA[Cryptosporidium hominis]]></doc></option>
<option value='Cryptosporidium muris'><doc title='description'><![CDATA[Cryptosporidium muris]]></doc></option>
<option value='Giardia Assemblage A isolate WB'><doc title='description'><![CDATA[Giardia Assemblage A isolate WB]]></doc></option>
<option value='Giardia Assemblage B isolate GS'><doc title='description'><![CDATA[Giardia Assemblage B isolate GS]]></doc></option>
<option value='Giardia Assemblage E isolate P15'><doc title='description'><![CDATA[Giardia Assemblage E isolate P15]]></doc></option>
<option value='Encephalitozoon cuniculi'><doc title='description'><![CDATA[Encephalitozoon cuniculi]]></doc></option>
<option value='Encephalitozoon intestinalis'><doc title='description'><![CDATA[Encephalitozoon intestinalis]]></doc></option>
<option value='Enterocytozoon bieneusi'><doc title='description'><![CDATA[Enterocytozoon bieneusi]]></doc></option>
<option value='Plasmodium falciparum'><doc title='description'><![CDATA[Plasmodium falciparum]]></doc></option>
<option value='Plasmodium vivax'><doc title='description'><![CDATA[Plasmodium vivax]]></doc></option>
<option value='Plasmodium yoelii'><doc title='description'><![CDATA[Plasmodium yoelii]]></doc></option>
<option value='Plasmodium berghei'><doc title='description'><![CDATA[Plasmodium berghei]]></doc></option>
<option value='Plasmodium chabaudi'><doc title='description'><![CDATA[Plasmodium chabaudi]]></doc></option>
<option value='Plasmodium knowlesi'><doc title='description'><![CDATA[Plasmodium knowlesi]]></doc></option>
<option value='Toxoplasma gondii'><doc title='description'><![CDATA[Toxoplasma gondii]]></doc></option>
<option value='Neospora caninum'><doc title='description'><![CDATA[Neospora caninum]]></doc></option>
<option value='Trichomonas vaginalis'><doc title='description'><![CDATA[Trichomonas vaginalis]]></doc></option>
<option value='Trypanosoma cruzi'><doc title='description'><![CDATA[Trypanosoma cruzi]]></doc></option>
<option value='Leishmania braziliensis'><doc title='description'><![CDATA[Leishmania braziliensis]]></doc></option>
<option value='Leishmania infantum'><doc title='description'><![CDATA[Leishmania infantum]]></doc></option>
<option value='Leishmania major'><doc title='description'><![CDATA[Leishmania major]]></doc></option>
<option value='Leishmania mexicana'><doc title='description'><![CDATA[Leishmania mexicana]]></doc></option>
<option value='Trypanosoma brucei'><doc title='description'><![CDATA[Trypanosoma brucei]]></doc></option>
<option value='Trypanosoma congolense'><doc title='description'><![CDATA[Trypanosoma congolense]]></doc></option>
<option value='Trypanosoma vivax'><doc title='description'><![CDATA[Trypanosoma vivax]]></doc></option>
</param>
<param name='snp_strain_a' type='xsd:string' required='true' default='Cp-IOWA II' repeating='false'>
<doc title='prompt'><![CDATA[Reference]]></doc>
<doc title='help'><![CDATA[Choose a reference from the list of strains.  Strains are sorted by number of SNPs in descending order.]]></doc>
<doc title='default'><![CDATA[Cp-IOWA II]]></doc>
<doc title='SingleValued'>Choose at most one value from the options</doc>
<option value='Cp-IOWA II'><doc title='description'><![CDATA[Cp-IOWA II]]></doc></option>
<option value='Cp-TU114'><doc title='description'><![CDATA[Cp-TU114]]></doc></option>
<option value='Cp-MD'><doc title='description'><![CDATA[Cp-MD]]></doc></option>
<option value='Pf-3D7'><doc title='description'><![CDATA[Pf-3D7]]></doc></option>
<option value='P. reichenowi (vs. 3D7 only)'><doc title='description'><![CDATA[P. reichenowi (vs. 3D7 only)]]></doc></option>
<option value='Pf-HB3'><doc title='description'><![CDATA[Pf-HB3]]></doc></option>
<option value='Pf-GHANA1'><doc title='description'><![CDATA[Pf-GHANA1]]></doc></option>
<option value='Pf-V1_S'><doc title='description'><![CDATA[Pf-V1_S]]></doc></option>
<option value='Pf-Dd2'><doc title='description'><![CDATA[Pf-Dd2]]></doc></option>
<option value='Pf-7G8'><doc title='description'><![CDATA[Pf-7G8]]></doc></option>
<option value='Pf-RO-33'><doc title='description'><![CDATA[Pf-RO-33]]></doc></option>
<option value='Pf-D10'><doc title='description'><![CDATA[Pf-D10]]></doc></option>
<option value='Pf-K1'><doc title='description'><![CDATA[Pf-K1]]></doc></option>
<option value='Pf-D6'><doc title='description'><![CDATA[Pf-D6]]></doc></option>
<option value='Pf-FCC-2'><doc title='description'><![CDATA[Pf-FCC-2]]></doc></option>
<option value='Pf-Senegal3404'><doc title='description'><![CDATA[Pf-Senegal3404]]></doc></option>
<option value='Pf-IT'><doc title='description'><![CDATA[Pf-IT]]></doc></option>
<option value='Pf-SantaLucia'><doc title='description'><![CDATA[Pf-SantaLucia]]></doc></option>
<option value='Pf-FCB'><doc title='description'><![CDATA[Pf-FCB]]></doc></option>
<option value='Pf-FCR3'><doc title='description'><![CDATA[Pf-FCR3]]></doc></option>
<option value='Pf-106_1'><doc title='description'><![CDATA[Pf-106_1]]></doc></option>
<option value='Pf-Senegal3504'><doc title='description'><![CDATA[Pf-Senegal3504]]></doc></option>
<option value='Pf-Senegal3101'><doc title='description'><![CDATA[Pf-Senegal3101]]></doc></option>
<option value='Pf-Senegal5102'><doc title='description'><![CDATA[Pf-Senegal5102]]></doc></option>
<option value='Pf-Malayan'><doc title='description'><![CDATA[Pf-Malayan]]></doc></option>
<option value='Tg-ME49 (type II)'><doc title='description'><![CDATA[Tg-ME49 (type II)]]></doc></option>
<option value='Tg-VEG (type III)'><doc title='description'><![CDATA[Tg-VEG (type III)]]></doc></option>
<option value='Tg-GT1 (type I)'><doc title='description'><![CDATA[Tg-GT1 (type I)]]></doc></option>
<option value='Tg-RH (type I)'><doc title='description'><![CDATA[Tg-RH (type I)]]></doc></option>
<option value='TgCkUg2'><doc title='description'><![CDATA[TgCkUg2]]></doc></option>
</param>
<param name='snp_strain_m' type='xsd:string' required='true' default='Tg-VEG (type III)' repeating='false'>
<doc title='prompt'><![CDATA[Comparator(s)]]></doc>
<doc title='help'><![CDATA[Choose a comparator(s) from the list  to compare to your reference.  Strains are ordered by number of SNPs in descending order.]]></doc>
<doc title='default'><![CDATA[Tg-VEG (type III)]]></doc>
<doc title='SingleValued'>Choose at most one value from the options</doc>
<option value='Cp-IOWA II'><doc title='description'><![CDATA[Cp-IOWA II]]></doc></option>
<option value='Cp-TU114'><doc title='description'><![CDATA[Cp-TU114]]></doc></option>
<option value='Cp-MD'><doc title='description'><![CDATA[Cp-MD]]></doc></option>
<option value='Pf-3D7'><doc title='description'><![CDATA[Pf-3D7]]></doc></option>
<option value='P. reichenowi (vs. 3D7 only)'><doc title='description'><![CDATA[P. reichenowi (vs. 3D7 only)]]></doc></option>
<option value='Pf-HB3'><doc title='description'><![CDATA[Pf-HB3]]></doc></option>
<option value='Pf-GHANA1'><doc title='description'><![CDATA[Pf-GHANA1]]></doc></option>
<option value='Pf-V1_S'><doc title='description'><![CDATA[Pf-V1_S]]></doc></option>
<option value='Pf-Dd2'><doc title='description'><![CDATA[Pf-Dd2]]></doc></option>
<option value='Pf-7G8'><doc title='description'><![CDATA[Pf-7G8]]></doc></option>
<option value='Pf-RO-33'><doc title='description'><![CDATA[Pf-RO-33]]></doc></option>
<option value='Pf-D10'><doc title='description'><![CDATA[Pf-D10]]></doc></option>
<option value='Pf-K1'><doc title='description'><![CDATA[Pf-K1]]></doc></option>
<option value='Pf-D6'><doc title='description'><![CDATA[Pf-D6]]></doc></option>
<option value='Pf-FCC-2'><doc title='description'><![CDATA[Pf-FCC-2]]></doc></option>
<option value='Pf-Senegal3404'><doc title='description'><![CDATA[Pf-Senegal3404]]></doc></option>
<option value='Pf-IT'><doc title='description'><![CDATA[Pf-IT]]></doc></option>
<option value='Pf-SantaLucia'><doc title='description'><![CDATA[Pf-SantaLucia]]></doc></option>
<option value='Pf-FCB'><doc title='description'><![CDATA[Pf-FCB]]></doc></option>
<option value='Pf-FCR3'><doc title='description'><![CDATA[Pf-FCR3]]></doc></option>
<option value='Pf-106_1'><doc title='description'><![CDATA[Pf-106_1]]></doc></option>
<option value='Pf-Senegal3504'><doc title='description'><![CDATA[Pf-Senegal3504]]></doc></option>
<option value='Pf-Senegal3101'><doc title='description'><![CDATA[Pf-Senegal3101]]></doc></option>
<option value='Pf-Senegal5102'><doc title='description'><![CDATA[Pf-Senegal5102]]></doc></option>
<option value='Pf-Malayan'><doc title='description'><![CDATA[Pf-Malayan]]></doc></option>
<option value='Tg-ME49 (type II)'><doc title='description'><![CDATA[Tg-ME49 (type II)]]></doc></option>
<option value='Tg-VEG (type III)'><doc title='description'><![CDATA[Tg-VEG (type III)]]></doc></option>
<option value='Tg-GT1 (type I)'><doc title='description'><![CDATA[Tg-GT1 (type I)]]></doc></option>
<option value='Tg-RH (type I)'><doc title='description'><![CDATA[Tg-RH (type I)]]></doc></option>
<option value='TgCkUg2'><doc title='description'><![CDATA[TgCkUg2]]></doc></option>
</param>
<param name='snp_stat' type='xsd:string' required='true' default='All SNPs' repeating='false'>
<doc title='prompt'><![CDATA[SNP Class]]></doc>
<doc title='help'><![CDATA[Choose the class of SNP you want to query on ... choose minumum and maximum numbers below]]></doc>
<doc title='default'><![CDATA[All SNPs]]></doc>
<doc title='SingleValued'>Choose at most one value from the options</doc>
<option value='All SNPs'><doc title='description'><![CDATA[All SNPs]]></doc></option>
<option value='Coding'><doc title='description'><![CDATA[Coding]]></doc></option>
<option value='Non-Coding'><doc title='description'><![CDATA[Non-Coding]]></doc></option>
<option value='Non-Synonymous'><doc title='description'><![CDATA[Non-Synonymous]]></doc></option>
<option value='Nonsense'><doc title='description'><![CDATA[Nonsense]]></doc></option>
<option value='Synonymous'><doc title='description'><![CDATA[Synonymous]]></doc></option>
</param>
<param name='occurrences_lower' type='xsd:string' required='true' default='0' >
<doc title='prompt'><![CDATA[Number of SNPs of above class >= ]]></doc>
<doc title='help'><![CDATA[Lower Bound on the number of SNPs of the selected class]]></doc>
<doc title='default'><![CDATA[0]]></doc>
</param>
<param name='occurrences_upper' type='xsd:string' required='false' default='' >
<doc title='prompt'><![CDATA[Number of SNPs of above class <= ]]></doc>
<doc title='help'><![CDATA[Upper Bound on the number of SNPs of the selected class.  NOTE:  Leaving this parameter value empty means you don't care what the upper bound is.]]></doc>
<doc title='default'><![CDATA[null]]></doc>
</param>
<param name='dn_ds_ratio_lower' type='xsd:string' required='true' default='0' >
<doc title='prompt'><![CDATA[Non-synonymous / synonymous SNP ratio >= ]]></doc>
<doc title='help'><![CDATA[Lower Bound on the ratio of non-synonymous to synonymous coding snps]]></doc>
<doc title='default'><![CDATA[0]]></doc>
</param>
<param name='dn_ds_ratio_upper' type='xsd:string' required='false' default='' >
<doc title='prompt'><![CDATA[Non-synonymous / synonymous SNP ratio <= ]]></doc>
<doc title='help'><![CDATA[Upper Bound on the ratio of non-synonymous to synonymous coding snps.  NOTE:  Leaving this parameter value empty means you don't care what the upper bound is.]]></doc>
<doc title='default'><![CDATA[null]]></doc>
</param>
<param name='snp_density_lower' type='xsd:string' required='true' default='0' >
<doc title='prompt'><![CDATA[SNPs per KB (CDS) >= ]]></doc>
<doc title='help'><![CDATA[Find genes containing a density of coding snps greater than this parameter. Density is expressed in number of snps / KB of coding sequence]]></doc>
<doc title='default'><![CDATA[0]]></doc>
</param>
<param name='snp_density_upper' type='xsd:string' required='false' default='' >
<doc title='prompt'><![CDATA[SNPs per KB (CDS) <= ]]></doc>
<doc title='help'><![CDATA[Find genes containing a density of coding snps less than this parameter. Density is expressed in number of snps / KB of coding sequence.  NOTE:  Leaving this parameter value empty means you don't care what the upper bound is.]]></doc>
<doc title='default'><![CDATA[null]]></doc>
</param>
<param name='o-fields' type='xsd:string' required='false' default='none' repeating='true'>
<doc title='prompt'><![CDATA[Output Fields]]></doc>
<doc title='help'><![CDATA[Single valued attributes of the feature.]]></doc>
<doc title='default'><![CDATA[none]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='all'><doc title='description'>Show all attributes</doc></option>
<option value='none'><doc title='description'>Show no attributes</doc></option>
<option value='primary_key'><doc title='description'><![CDATA[Gene]]></doc></option>
<option value='formatted_gene_id'><doc title='description'><![CDATA[Gene Group]]></doc></option>
<option value='sequence_id'><doc title='description'><![CDATA[Genomic Sequence ID]]></doc></option>
<option value='chromosome'><doc title='description'><![CDATA[Chromosome]]></doc></option>
<option value='location_text'><doc title='description'><![CDATA[Genomic Location]]></doc></option>
<option value='strand'><doc title='description'><![CDATA[Gene Strand]]></doc></option>
<option value='gene_type'><doc title='description'><![CDATA[Gene Type]]></doc></option>
<option value='exon_count'><doc title='description'><![CDATA[# Exons]]></doc></option>
<option value='transcript_length'><doc title='description'><![CDATA[Transcript Length]]></doc></option>
<option value='cds_length'><doc title='description'><![CDATA[CDS Length]]></doc></option>
<option value='product'><doc title='description'><![CDATA[Product Description]]></doc></option>
<option value='protein_length'><doc title='description'><![CDATA[Protein Length]]></doc></option>
<option value='tm_count'><doc title='description'><![CDATA[# TM Domains]]></doc></option>
<option value='molecular_weight'><doc title='description'><![CDATA[Molecular Weight]]></doc></option>
<option value='isoelectric_point'><doc title='description'><![CDATA[Isoelectric Point]]></doc></option>
<option value='ec_numbers_string'><doc title='description'><![CDATA[EC Numbers]]></doc></option>
<option value='ortholog_number'><doc title='description'><![CDATA[Ortholog count]]></doc></option>
<option value='paralog_number'><doc title='description'><![CDATA[Paralog count]]></doc></option>
<option value='orthomcl_name'><doc title='description'><![CDATA[Ortholog Group]]></doc></option>
<option value='signalp_scores'><doc title='description'><![CDATA[SignalP Scores]]></doc></option>
<option value='signalp_peptide'><doc title='description'><![CDATA[SignalP Peptide]]></doc></option>
<option value='ann_go_function'><doc title='description'><![CDATA[Annotated GO Function]]></doc></option>
<option value='ann_go_process'><doc title='description'><![CDATA[Annotated GO Process]]></doc></option>
<option value='ann_go_component'><doc title='description'><![CDATA[Annotated GO Component]]></doc></option>
<option value='pred_go_function'><doc title='description'><![CDATA[Predicted GO Function]]></doc></option>
<option value='pred_go_process'><doc title='description'><![CDATA[Predicted GO Process]]></doc></option>
<option value='pred_go_component'><doc title='description'><![CDATA[Predicted GO Component]]></doc></option>
<option value='organism'><doc title='description'><![CDATA[Organism]]></doc></option>
<option value='is_pseudo'><doc title='description'><![CDATA[Is Pseudo]]></doc></option>
<option value='protein_sequence'><doc title='description'><![CDATA[Predicted Protein Sequence]]></doc></option>
<option value='transcript_sequence'><doc title='description'><![CDATA[Predicted RNA/mRNA Sequence (introns spliced out)]]></doc></option>
<option value='cds'><doc title='description'><![CDATA[Coding Sequence]]></doc></option>
<option value='wdk_weight'><doc title='description'><![CDATA[Weight]]></doc></option>
<option value='total_snps'><doc title='description'><![CDATA[Total SNPs]]></doc></option>
<option value='cds_snp_density'><doc title='description'><![CDATA[SNPs per Kb (CDS)]]></doc></option>
<option value='dn_ds_ratio'><doc title='description'><![CDATA[Non-syn/syn SNP ratio]]></doc></option>
<option value='num_synonymous'><doc title='description'><![CDATA[Synonymous SNPs]]></doc></option>
<option value='num_non_synonymous'><doc title='description'><![CDATA[Non-synonymous SNPs]]></doc></option>
<option value='num_nonsense'><doc title='description'><![CDATA[Nonsense SNPs]]></doc></option>
<option value='num_noncoding'><doc title='description'><![CDATA[Non-coding SNPs]]></doc></option>
</param>
<param name='o-tables' type='xsd:string' required='false' default='none' repeating='true'>
<doc title='prompt'><![CDATA[Output Tables]]></doc>
<doc title='help'><![CDATA[Multi-valued attributes of the feature.]]></doc>
<doc title='default'><![CDATA[none]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='all'><doc title='description'>Show all tables</doc></option>
<option value='none'><doc title='description'>Show no tables</doc></option>
<option value='SNPs'><doc title='description'><![CDATA[SNPs Summary]]></doc></option>
<option value='GeneModelDump'><doc title='description'><![CDATA[Gene Model]]></doc></option>
<option value='InterPro'><doc title='description'><![CDATA[InterPro Domains]]></doc></option>
<option value='TMHMM'><doc title='description'><![CDATA[Transmembrane Domains]]></doc></option>
<option value='LowComplexity'><doc title='description'><![CDATA[Low Complexity Regions]]></doc></option>
<option value='SignalP'><doc title='description'><![CDATA[Signal Peptide]]></doc></option>
<option value='BlastP'><doc title='description'><![CDATA[BlastP Hits]]></doc></option>
<option value='Genbank'><doc title='description'><![CDATA[Gene Location]]></doc></option>
<option value='SageTags'><doc title='description'><![CDATA[Sage Tags]]></doc></option>
<option value='Notes'><doc title='description'><![CDATA[Notes]]></doc></option>
<option value='UserComments'><doc title='description'><![CDATA[User Comments]]></doc></option>
<option value='CommunityExpComments'><doc title='description'><![CDATA[Community Annotations]]></doc></option>
<option value='EcNumber'><doc title='description'><![CDATA[EC Number]]></doc></option>
<option value='MassSpec'><doc title='description'><![CDATA[Mass Spec.-based Expression Evidence]]></doc></option>
<option value='GoTerms'><doc title='description'><![CDATA[GO Terms]]></doc></option>
<option value='Phenotype'><doc title='description'><![CDATA[Phenotype]]></doc></option>
<option value='Y2hInteractions'><doc title='description'><![CDATA[Y2H Interactions]]></doc></option>
<option value='Orthologs'><doc title='description'><![CDATA[Orthologs and Paralogs within EuPathDB]]></doc></option>
<option value='MetabolicPathways'><doc title='description'><![CDATA[Metabolic Pathways]]></doc></option>
<option value='TaskComments'><doc title='description'><![CDATA[Toxoplasma Genome Sequencing Project Annotation]]></doc></option>
<option value='ArrayElements'><doc title='description'><![CDATA[Mapped Array Elements]]></doc></option>
<option value='TwoChannelDiffExpr'><doc title='description'><![CDATA[P.Berghei Differential Expression - DOZI KO vs. WT]]></doc></option>
<option value='ProteinExpression'><doc title='description'><![CDATA[P.Berghei Protein Expression]]></doc></option>
<option value='Mr4Reagents'><doc title='description'><![CDATA[MR4 Reagents]]></doc></option>
<option value='ProteinDatabase'><doc title='description'><![CDATA[Protein Linkouts]]></doc></option>
<option value='GeneLinkouts'><doc title='description'><![CDATA[External Links]]></doc></option>
<option value='3dPreds'><doc title='description'><![CDATA[3D Structure Predictions]]></doc></option>
<option value='PdbSimilarities'><doc title='description'><![CDATA[Similarities to Protein Data Bank (PDB) Chains]]></doc></option>
<option value='Epitopes'><doc title='description'><![CDATA[Epitopes from IEDB]]></doc></option>
<option value='IsolateOverlap'><doc title='description'><![CDATA[Isolates]]></doc></option>
</param>
</request>
<response>
<representation mediaType='text/xml'/>
<representation mediaType='text/plain'/>
</response>
</method>
</resource>
</resources>
</application>
