Books/XML-and-Web-technology/Data/WADL/GenesByToxoCellCycleFoldChange.wadl

<?xml version='1.0'?>
<application xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance' xsi:schemaLocation='http://wadl.dev.java.net/2009/02 wadl.xsd' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns='http://wadl.dev.java.net/2009/02'>
<resources base='http://eupathdb.org/webservices/'>
<resource path='GeneQuestions'>
<resource path='GenesByToxoCellCycleFoldChange.xml'>
<method href='#genesbytoxocellcyclefoldchange'/>
</resource>
<resource path='GenesByToxoCellCycleFoldChange.json'>
<method href='#genesbytoxocellcyclefoldchange'/>
</resource>
<method name='POST' id='genesbytoxocellcyclefoldchange'>
<doc title='display_name'><![CDATA[T.g. Cell Cycle (fold change)]]></doc>
<doc title='summary'><![CDATA[Find genes that show expression fold change differences along the <i>Toxoplasma</i> cell cycle.]]></doc>
<doc title='description'><![CDATA[Find genes that show expression fold change differences along the <i>Toxoplasma</i> cell cycle.
<br><br>The following links will load gene lists identified by <a href="http://www.plosone.org/article/info%3Adoi%2F10.1371%2Fjournal.pone.0012354">Behnke et al.</a> to be cell cycle regulated.<br><br>
1. <a href="im.do?s=bffa83a81ead376f">Cell Cycle Regulated Gene List, Both</a>
					<br>
2. <a href="im.do?s=bc7e7d4c43ae1f5a">Cell Cycle Regulated Gene List, G1 Sub Transcriptome</a>
					<br>
3. <a href="im.do?s=999efc4e343b8410">Cell Cycle Regulated Gene List, S-M Sub Transcriptome</a>
<br><br>The RH<sup>TK+</sup> strain used in this analysis expresses a fusion protein of herpes simplex thymidine kinase and chloramphenicol acetyltransferase (<a href="http://www.ncbi.nlm.nih.gov/pubmed/10496908">Radke and White</a>).  Synchronization of RH<sup>TK+</sup> parasites with thymidine followed published protocols (<a href="http://www.ncbi.nlm.nih.gov/pubmed/10496908">Radke and White</a>).  In this synchrony model parasites released from thymidine immediately progress through S, mitosis and then cytokinesis.  The first G1 phase is the start of the next cycle.  All time points represent microarray hybridization results from duplicate, independent biological replicates.  Parasites were seeded at an MOI of 1:1 in HFF cells, and grown for 12 h at 37<sup>o</sup>C (4-8 parasites per vacuole).  To block RH<sup>TK+</sup> growth, overnight culture media was replaced with pre-warmed DMEM media containing 1% fetal bovine serum and 10 &micro;M thymidine.  The flasks were incubated for 4 h at 37<sup>o</sup>C and then quickly washed 2x with pre-warmed DMEM (no serum) with the second wash immediately replaced with pre-warmed DMEM media containing 1% serum (three total washes).  RH<sup>TK+</sup> parasites from multiple T175cm<sup>2</sup> flasks (10-20 flasks per RNA sample) were purified from host cells for RNA isolation every hour post-thymidine release using standard protocols.  R0 timepoint=thymidine blocked population.  Asynchronous RH<sup>TK+</sup> samples were harvested from mid-log cultures (8 and 16 parasites/vacuole).  The R0-12 time course represents ~1-2/3 divisions with tachyzoite cell cycle phase repeats R1,R2=R8,R9, R3=R10, R4=R11, and R5=R12 (<a href="http://www.plosone.org/article/info%3Adoi%2F10.1371%2Fjournal.pone.0012354">Behnke et al., 2010</a>)
   <hr><p> <img src="images/CellCycle.jpg"  height="350px" width="550px">
   <p> <b>Figure 1.  Synchronization of tachyzoite populations by reversible thymidine-inhibition.</b>  The average vacuole size (black boxes) and fraction of parasites containing internal daughters (black triangles) were determined in RH<sup>TK+</sup> parasite cultures growth-inhibited by thymidine.  At hour intervals through 12 h post-thymidine release, infected monolayers were fixed and stained with anti-IMC1.  Vacuole size and the internal daughter fraction were determined in 100 vacuoles selected at random.  The synchronous division of these populations is evident by the cyclical rise and fall of internal daughter forms that is accompanied by a stepwise increase in vacuole size that marks the end of one cycle and the start of the next.   The cell cycle progression shown here was estimated from these experiments and is validated by previous studies using this synchrony model  (<a href="http://www.ncbi.nlm.nih.gov/pubmed/10496908">Radke and White</a>, <a href="http://www.ncbi.nlm.nih.gov/pubmed/11420103">Radke et al.</a>).
<hr><p><img src="images/behnke_fig_2.jpg">
<p><b>Figure 2. DNA content changes of thymidine-synchronized populations.</b>  RH<sup>TK+</sup> parasite cultures were blocked with 10 &micro;M thymidine for 4 h and then released.  At one hour intervals post thymidine-release (R0-R12), parasites were harvested and pooled for RNA isolation with a small sample removed for DNA content analysis prior to cell lysis.    Genomic DNA in ethanol-fixed parasites was stained with SYTOX-Green and changes in DNA content determined by flow cytometry (FL-1; 10,000 events for each sample).  As described previously (<a href="http://www.ncbi.nlm.nih.gov/pubmed/10496908">Radke and White</a>), thymidine-arrested RH<sup>TK+</sup> parasites are blocked at the G1/S phase boundary (R0) and immediately enter S phase upon drug-release (R1).  New daughter parasites start emerging by 3 h post drug-release (R3), and the population enters the S phase of the next cell cycle by 7-8 h post-release.   The cell cycle progression is indicated with cell cycle phase repeats R1,R2=R8,R9, R3=R10, R4=R11, and R5=R12 (C=cytokinesis, M=mitosis, G1=gap 1 phase, S=DNA synthesis).]]></doc>
<request>
<param name='cc_fc_two_mw' type='xsd:string' required='true' default='' repeating='true'>
<doc title='prompt'><![CDATA[Reference Time Points]]></doc>
<doc title='help'><![CDATA[Choose one or more time point.  NOTE: if more than one is chosen the fold change will be calculated using the average of all samples within the group]]></doc>
<doc title='default'><![CDATA[null]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='0 HR'><doc title='description'><![CDATA[0 HR]]></doc></option>
<option value='1 HR'><doc title='description'><![CDATA[1 HR]]></doc></option>
<option value='2 HR'><doc title='description'><![CDATA[2 HR]]></doc></option>
<option value='3 HR'><doc title='description'><![CDATA[3 HR]]></doc></option>
<option value='4 HR'><doc title='description'><![CDATA[4 HR]]></doc></option>
<option value='5 HR'><doc title='description'><![CDATA[5 HR]]></doc></option>
<option value='6 HR'><doc title='description'><![CDATA[6 HR]]></doc></option>
<option value='7 HR'><doc title='description'><![CDATA[7 HR]]></doc></option>
<option value='8 HR'><doc title='description'><![CDATA[8 HR]]></doc></option>
<option value='9 HR'><doc title='description'><![CDATA[9 HR]]></doc></option>
<option value='10 HR'><doc title='description'><![CDATA[10 HR]]></doc></option>
<option value='11 HR'><doc title='description'><![CDATA[11 HR]]></doc></option>
<option value='12 HR'><doc title='description'><![CDATA[12 HR]]></doc></option>
</param>
<param name='cc_fc_one_mw' type='xsd:string' required='true' default='' repeating='true'>
<doc title='prompt'><![CDATA[Comparison Time Points]]></doc>
<doc title='help'><![CDATA[Choose one or more time point.  NOTE: if more than one is chosen the fold change will be calculated using the average of all samples within the group]]></doc>
<doc title='default'><![CDATA[null]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='0 HR'><doc title='description'><![CDATA[0 HR]]></doc></option>
<option value='1 HR'><doc title='description'><![CDATA[1 HR]]></doc></option>
<option value='2 HR'><doc title='description'><![CDATA[2 HR]]></doc></option>
<option value='3 HR'><doc title='description'><![CDATA[3 HR]]></doc></option>
<option value='4 HR'><doc title='description'><![CDATA[4 HR]]></doc></option>
<option value='5 HR'><doc title='description'><![CDATA[5 HR]]></doc></option>
<option value='6 HR'><doc title='description'><![CDATA[6 HR]]></doc></option>
<option value='7 HR'><doc title='description'><![CDATA[7 HR]]></doc></option>
<option value='8 HR'><doc title='description'><![CDATA[8 HR]]></doc></option>
<option value='9 HR'><doc title='description'><![CDATA[9 HR]]></doc></option>
<option value='10 HR'><doc title='description'><![CDATA[10 HR]]></doc></option>
<option value='11 HR'><doc title='description'><![CDATA[11 HR]]></doc></option>
<option value='12 HR'><doc title='description'><![CDATA[12 HR]]></doc></option>
</param>
<param name='fold_change' type='xsd:string' required='true' default='2' >
<doc title='prompt'><![CDATA[Fold change >=]]></doc>
<doc title='help'><![CDATA[Enter a non-negative number.  NOTE:  Fold change is reported in the summary as positive numbers for up-regulated genes and negative numbers for down-regulated genes]]></doc>
<doc title='default'><![CDATA[2]]></doc>
</param>
<param name='regulated_dir' type='xsd:string' required='true' default='up or down regulated' repeating='false'>
<doc title='prompt'><![CDATA[Direction]]></doc>
<doc title='help'><![CDATA[For ConditionA vs. ConditionB, select up-regulated for genes where ConditionA > ConditionB and select down-regulated for genes where ConditionB > ConditionA.]]></doc>
<doc title='default'><![CDATA[up or down regulated]]></doc>
<doc title='SingleValued'>Choose at most one value from the options</doc>
<option value='up or down regulated'><doc title='description'><![CDATA[up or down regulated]]></doc></option>
<option value='down-regulated'><doc title='description'><![CDATA[down-regulated]]></doc></option>
<option value='up-regulated'><doc title='description'><![CDATA[up-regulated]]></doc></option>
</param>
<param name='o-fields' type='xsd:string' required='false' default='none' repeating='true'>
<doc title='prompt'><![CDATA[Output Fields]]></doc>
<doc title='help'><![CDATA[Single valued attributes of the feature.]]></doc>
<doc title='default'><![CDATA[none]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='all'><doc title='description'>Show all attributes</doc></option>
<option value='none'><doc title='description'>Show no attributes</doc></option>
<option value='primary_key'><doc title='description'><![CDATA[Gene]]></doc></option>
<option value='formatted_gene_id'><doc title='description'><![CDATA[Gene Group]]></doc></option>
<option value='sequence_id'><doc title='description'><![CDATA[Genomic Sequence ID]]></doc></option>
<option value='chromosome'><doc title='description'><![CDATA[Chromosome]]></doc></option>
<option value='location_text'><doc title='description'><![CDATA[Genomic Location]]></doc></option>
<option value='strand'><doc title='description'><![CDATA[Gene Strand]]></doc></option>
<option value='gene_type'><doc title='description'><![CDATA[Gene Type]]></doc></option>
<option value='exon_count'><doc title='description'><![CDATA[# Exons]]></doc></option>
<option value='transcript_length'><doc title='description'><![CDATA[Transcript Length]]></doc></option>
<option value='cds_length'><doc title='description'><![CDATA[CDS Length]]></doc></option>
<option value='product'><doc title='description'><![CDATA[Product Description]]></doc></option>
<option value='protein_length'><doc title='description'><![CDATA[Protein Length]]></doc></option>
<option value='tm_count'><doc title='description'><![CDATA[# TM Domains]]></doc></option>
<option value='molecular_weight'><doc title='description'><![CDATA[Molecular Weight]]></doc></option>
<option value='isoelectric_point'><doc title='description'><![CDATA[Isoelectric Point]]></doc></option>
<option value='ec_numbers_string'><doc title='description'><![CDATA[EC Numbers]]></doc></option>
<option value='ortholog_number'><doc title='description'><![CDATA[Ortholog count]]></doc></option>
<option value='paralog_number'><doc title='description'><![CDATA[Paralog count]]></doc></option>
<option value='orthomcl_name'><doc title='description'><![CDATA[Ortholog Group]]></doc></option>
<option value='signalp_scores'><doc title='description'><![CDATA[SignalP Scores]]></doc></option>
<option value='signalp_peptide'><doc title='description'><![CDATA[SignalP Peptide]]></doc></option>
<option value='ann_go_function'><doc title='description'><![CDATA[Annotated GO Function]]></doc></option>
<option value='ann_go_process'><doc title='description'><![CDATA[Annotated GO Process]]></doc></option>
<option value='ann_go_component'><doc title='description'><![CDATA[Annotated GO Component]]></doc></option>
<option value='pred_go_function'><doc title='description'><![CDATA[Predicted GO Function]]></doc></option>
<option value='pred_go_process'><doc title='description'><![CDATA[Predicted GO Process]]></doc></option>
<option value='pred_go_component'><doc title='description'><![CDATA[Predicted GO Component]]></doc></option>
<option value='organism'><doc title='description'><![CDATA[Organism]]></doc></option>
<option value='is_pseudo'><doc title='description'><![CDATA[Is Pseudo]]></doc></option>
<option value='protein_sequence'><doc title='description'><![CDATA[Predicted Protein Sequence]]></doc></option>
<option value='transcript_sequence'><doc title='description'><![CDATA[Predicted RNA/mRNA Sequence (introns spliced out)]]></doc></option>
<option value='cds'><doc title='description'><![CDATA[Coding Sequence]]></doc></option>
<option value='wdk_weight'><doc title='description'><![CDATA[Weight]]></doc></option>
<option value='fold_change'><doc title='description'><![CDATA[Fold Change Avg]]></doc></option>
<option value='avg_group_one'><doc title='description'><![CDATA[Comp. Avg(log(2))]]></doc></option>
<option value='avg_group_two'><doc title='description'><![CDATA[Ref. Avg(log(2))]]></doc></option>
</param>
<param name='o-tables' type='xsd:string' required='false' default='none' repeating='true'>
<doc title='prompt'><![CDATA[Output Tables]]></doc>
<doc title='help'><![CDATA[Multi-valued attributes of the feature.]]></doc>
<doc title='default'><![CDATA[none]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='all'><doc title='description'>Show all tables</doc></option>
<option value='none'><doc title='description'>Show no tables</doc></option>
<option value='SNPs'><doc title='description'><![CDATA[SNPs Summary]]></doc></option>
<option value='GeneModelDump'><doc title='description'><![CDATA[Gene Model]]></doc></option>
<option value='InterPro'><doc title='description'><![CDATA[InterPro Domains]]></doc></option>
<option value='TMHMM'><doc title='description'><![CDATA[Transmembrane Domains]]></doc></option>
<option value='LowComplexity'><doc title='description'><![CDATA[Low Complexity Regions]]></doc></option>
<option value='SignalP'><doc title='description'><![CDATA[Signal Peptide]]></doc></option>
<option value='BlastP'><doc title='description'><![CDATA[BlastP Hits]]></doc></option>
<option value='Genbank'><doc title='description'><![CDATA[Gene Location]]></doc></option>
<option value='SageTags'><doc title='description'><![CDATA[Sage Tags]]></doc></option>
<option value='Notes'><doc title='description'><![CDATA[Notes]]></doc></option>
<option value='UserComments'><doc title='description'><![CDATA[User Comments]]></doc></option>
<option value='CommunityExpComments'><doc title='description'><![CDATA[Community Annotations]]></doc></option>
<option value='EcNumber'><doc title='description'><![CDATA[EC Number]]></doc></option>
<option value='MassSpec'><doc title='description'><![CDATA[Mass Spec.-based Expression Evidence]]></doc></option>
<option value='GoTerms'><doc title='description'><![CDATA[GO Terms]]></doc></option>
<option value='Phenotype'><doc title='description'><![CDATA[Phenotype]]></doc></option>
<option value='Y2hInteractions'><doc title='description'><![CDATA[Y2H Interactions]]></doc></option>
<option value='Orthologs'><doc title='description'><![CDATA[Orthologs and Paralogs within EuPathDB]]></doc></option>
<option value='MetabolicPathways'><doc title='description'><![CDATA[Metabolic Pathways]]></doc></option>
<option value='TaskComments'><doc title='description'><![CDATA[Toxoplasma Genome Sequencing Project Annotation]]></doc></option>
<option value='ArrayElements'><doc title='description'><![CDATA[Mapped Array Elements]]></doc></option>
<option value='TwoChannelDiffExpr'><doc title='description'><![CDATA[P.Berghei Differential Expression - DOZI KO vs. WT]]></doc></option>
<option value='ProteinExpression'><doc title='description'><![CDATA[P.Berghei Protein Expression]]></doc></option>
<option value='Mr4Reagents'><doc title='description'><![CDATA[MR4 Reagents]]></doc></option>
<option value='ProteinDatabase'><doc title='description'><![CDATA[Protein Linkouts]]></doc></option>
<option value='GeneLinkouts'><doc title='description'><![CDATA[External Links]]></doc></option>
<option value='3dPreds'><doc title='description'><![CDATA[3D Structure Predictions]]></doc></option>
<option value='PdbSimilarities'><doc title='description'><![CDATA[Similarities to Protein Data Bank (PDB) Chains]]></doc></option>
<option value='Epitopes'><doc title='description'><![CDATA[Epitopes from IEDB]]></doc></option>
<option value='IsolateOverlap'><doc title='description'><![CDATA[Isolates]]></doc></option>
</param>
</request>
<response>
<representation mediaType='text/xml'/>
<representation mediaType='text/plain'/>
</response>
</method>
</resource>
</resources>
</application>
