Books/XML-and-Web-technology/Data/WADL/GenesByDifferentialMeanExpression.wadl

<?xml version='1.0'?>
<application xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance' xsi:schemaLocation='http://wadl.dev.java.net/2009/02 wadl.xsd' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns='http://wadl.dev.java.net/2009/02'>
<resources base='http://eupathdb.org/webservices/'>
<resource path='GeneQuestions'>
<resource path='GenesByDifferentialMeanExpression.xml'>
<method href='#genesbydifferentialmeanexpression'/>
</resource>
<resource path='GenesByDifferentialMeanExpression.json'>
<method href='#genesbydifferentialmeanexpression'/>
</resource>
<method name='POST' id='genesbydifferentialmeanexpression'>
<doc title='display_name'><![CDATA[P.f. Invasion Pathway KOs (fold change)]]></doc>
<doc title='summary'><![CDATA[Find genes by differential expression (fold-change) in Sir2 and invasion pathway KO studies]]></doc>
<doc title='description'><![CDATA[Find genes based on fold-change differences in expression by comparing assays of P. falciparum RNA when the Sir2 histone deacetylase gene is knocked out, when an erythrocyte binding protein (EBA-175, EBA-140, or pfRh2b) is knocked out, or in their associated controls. Please be aware that these are individual comparisons and not subjected to any statistical analysis.
<p>
The data is from a total of 17 microarray experiments (1, 2, 3) performed using an Affymetrix short oligonucleotide platform. This platform contains oligos (25-mers) derived from the predicted coding regions of the entire P. falciparum genome (4). The Sir2 Knock out (KO) experiments were designed to look at var gene silencing by Sir2 (PF13_0152). The EBA-175 (MAL7P1.176), EBA-140 (MAL13P1.60), and pfRh2b (MAL13P1.176) KOs were performed to study sialic acid-dependent versus sialic acid-independent invasion pathways. W2mef/C4/Nm is a sialic acid-independent clone. The D10 strain naturally is missing the pfRh2b and EBA-140 genes.
<p>
Expression values for each probe set were obtained by the gcRMA algorithm (5). Queries can be performed to retrieve genes with a fold change of expression values greater or equal to the value entered between the reference (numerator) and comparison (denominator) studies chosen. For example, choosing W2mef EBA175 KO (late T) as the reference, W2mef WT (late T) as the comparison study, down-regulated as the direction, and fold-change >= 2 returns a list of 55 genes with MAL7P1.176 (EBA175) at the top with a fold change of -4.9.
<p>
References:
<p>
(1) Duraisingh et al., Heterochromatin silencing and locus repositioning linked to regulation of virulence genes in <i>Plasmodium falciparum</i>. Cell. 2005 Apr 8;121(1):13-24
<p>
(2) Stubbs et al., Molecular mechanism for switching of P. falciparum invasion pathways into human erythrocytes. Science. 2005 Aug 26;309(5739):1384-7
<p>
(3) Baum et al., Invasion by P. falciparum merozoites suggests a hierarchy of molecular interactions. PLoS Pathog. 2005 Dec;1(4):e37
<p>
(4) Discovery of Gene Function by Expression Profiling of the Malaria Parasite Life Cycle. Karine G. Le Roch, Yingyao Zhou, Peter L. Blair, Muni Grainger, J. Kathleen Moch, J. David Haynes, Patricia De la Vega, Anthony A. Holder, Serge Batalov, Daniel J. Carucci, and Elizabeth A. Winzeler Published online July 31, 2003; 10.1126/science.1087025 (Science Express Research Articles)
<p>
(5) http://bioconductor.org/packages/bioc/html/gcrma.html]]></doc>
<request>
<param name='diffMeanExpr_reference' type='xsd:string' required='true' default='3D7 EBA140 KO 48hr' repeating='false'>
<doc title='prompt'><![CDATA[Reference study]]></doc>
<doc title='help'><![CDATA[Select a reference assay/study to be compared.]]></doc>
<doc title='default'><![CDATA[3D7 EBA140 KO 48hr]]></doc>
<doc title='SingleValued'>Choose at most one value from the options</doc>
<option value='3D7 EBA140 KO 48hr'><doc title='description'><![CDATA[3D7 EBA140 KO 48hr]]></doc></option>
<option value='3D7 EBA175 KO 48hr'><doc title='description'><![CDATA[3D7 EBA175 KO 48hr]]></doc></option>
<option value='3D7 PfRh2b KO 48hr'><doc title='description'><![CDATA[3D7 PfRh2b KO 48hr]]></doc></option>
<option value='3D7 SIR2 KO 24hr'><doc title='description'><![CDATA[3D7 SIR2 KO 24hr]]></doc></option>
<option value='3D7 SIR2 KO 8hr'><doc title='description'><![CDATA[3D7 SIR2 KO 8hr]]></doc></option>
<option value='3D7 WT 24hr'><doc title='description'><![CDATA[3D7 WT 24hr]]></doc></option>
<option value='3D7 WT 48hr'><doc title='description'><![CDATA[3D7 WT 48hr]]></doc></option>
<option value='3D7 WT 8hr'><doc title='description'><![CDATA[3D7 WT 8hr]]></doc></option>
<option value='D10 WT 48hr'><doc title='description'><![CDATA[D10 WT 48hr]]></doc></option>
<option value='W2mef EBA175 KO (late T)'><doc title='description'><![CDATA[W2mef EBA175 KO (late T)]]></doc></option>
<option value='W2mef WT (late T)'><doc title='description'><![CDATA[W2mef WT (late T)]]></doc></option>
<option value='W2mef/c4/Nm (late T)'><doc title='description'><![CDATA[W2mef/c4/Nm (late T)]]></doc></option>
</param>
<param name='diffMeanExpr_comparitor' type='xsd:string' required='true' default='3D7 EBA140 KO 48hr' repeating='false'>
<doc title='prompt'><![CDATA[Comparison study]]></doc>
<doc title='help'><![CDATA[Select an assay against which the reference study/assay is to be compared.]]></doc>
<doc title='default'><![CDATA[3D7 EBA140 KO 48hr]]></doc>
<doc title='SingleValued'>Choose at most one value from the options</doc>
<option value='3D7 EBA140 KO 48hr'><doc title='description'><![CDATA[3D7 EBA140 KO 48hr]]></doc></option>
<option value='3D7 EBA175 KO 48hr'><doc title='description'><![CDATA[3D7 EBA175 KO 48hr]]></doc></option>
<option value='3D7 PfRh2b KO 48hr'><doc title='description'><![CDATA[3D7 PfRh2b KO 48hr]]></doc></option>
<option value='3D7 SIR2 KO 24hr'><doc title='description'><![CDATA[3D7 SIR2 KO 24hr]]></doc></option>
<option value='3D7 SIR2 KO 8hr'><doc title='description'><![CDATA[3D7 SIR2 KO 8hr]]></doc></option>
<option value='3D7 WT 24hr'><doc title='description'><![CDATA[3D7 WT 24hr]]></doc></option>
<option value='3D7 WT 48hr'><doc title='description'><![CDATA[3D7 WT 48hr]]></doc></option>
<option value='3D7 WT 8hr'><doc title='description'><![CDATA[3D7 WT 8hr]]></doc></option>
<option value='D10 WT 48hr'><doc title='description'><![CDATA[D10 WT 48hr]]></doc></option>
<option value='W2mef EBA175 KO (late T)'><doc title='description'><![CDATA[W2mef EBA175 KO (late T)]]></doc></option>
<option value='W2mef WT (late T)'><doc title='description'><![CDATA[W2mef WT (late T)]]></doc></option>
<option value='W2mef/c4/Nm (late T)'><doc title='description'><![CDATA[W2mef/c4/Nm (late T)]]></doc></option>
</param>
<param name='regulated_dir' type='xsd:string' required='true' default='up or down regulated' repeating='false'>
<doc title='prompt'><![CDATA[Direction]]></doc>
<doc title='help'><![CDATA[For ConditionA vs. ConditionB, select up-regulated for genes where ConditionA > ConditionB and select down-regulated for genes where ConditionB > ConditionA.]]></doc>
<doc title='default'><![CDATA[up or down regulated]]></doc>
<doc title='SingleValued'>Choose at most one value from the options</doc>
<option value='up or down regulated'><doc title='description'><![CDATA[up or down regulated]]></doc></option>
<option value='down-regulated'><doc title='description'><![CDATA[down-regulated]]></doc></option>
<option value='up-regulated'><doc title='description'><![CDATA[up-regulated]]></doc></option>
</param>
<param name='o-fields' type='xsd:string' required='false' default='none' repeating='true'>
<doc title='prompt'><![CDATA[Output Fields]]></doc>
<doc title='help'><![CDATA[Single valued attributes of the feature.]]></doc>
<doc title='default'><![CDATA[none]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='all'><doc title='description'>Show all attributes</doc></option>
<option value='none'><doc title='description'>Show no attributes</doc></option>
<option value='primary_key'><doc title='description'><![CDATA[Gene]]></doc></option>
<option value='formatted_gene_id'><doc title='description'><![CDATA[Gene Group]]></doc></option>
<option value='sequence_id'><doc title='description'><![CDATA[Genomic Sequence ID]]></doc></option>
<option value='chromosome'><doc title='description'><![CDATA[Chromosome]]></doc></option>
<option value='location_text'><doc title='description'><![CDATA[Genomic Location]]></doc></option>
<option value='strand'><doc title='description'><![CDATA[Gene Strand]]></doc></option>
<option value='gene_type'><doc title='description'><![CDATA[Gene Type]]></doc></option>
<option value='exon_count'><doc title='description'><![CDATA[# Exons]]></doc></option>
<option value='transcript_length'><doc title='description'><![CDATA[Transcript Length]]></doc></option>
<option value='cds_length'><doc title='description'><![CDATA[CDS Length]]></doc></option>
<option value='product'><doc title='description'><![CDATA[Product Description]]></doc></option>
<option value='protein_length'><doc title='description'><![CDATA[Protein Length]]></doc></option>
<option value='tm_count'><doc title='description'><![CDATA[# TM Domains]]></doc></option>
<option value='molecular_weight'><doc title='description'><![CDATA[Molecular Weight]]></doc></option>
<option value='isoelectric_point'><doc title='description'><![CDATA[Isoelectric Point]]></doc></option>
<option value='ec_numbers_string'><doc title='description'><![CDATA[EC Numbers]]></doc></option>
<option value='ortholog_number'><doc title='description'><![CDATA[Ortholog count]]></doc></option>
<option value='paralog_number'><doc title='description'><![CDATA[Paralog count]]></doc></option>
<option value='orthomcl_name'><doc title='description'><![CDATA[Ortholog Group]]></doc></option>
<option value='signalp_scores'><doc title='description'><![CDATA[SignalP Scores]]></doc></option>
<option value='signalp_peptide'><doc title='description'><![CDATA[SignalP Peptide]]></doc></option>
<option value='ann_go_function'><doc title='description'><![CDATA[Annotated GO Function]]></doc></option>
<option value='ann_go_process'><doc title='description'><![CDATA[Annotated GO Process]]></doc></option>
<option value='ann_go_component'><doc title='description'><![CDATA[Annotated GO Component]]></doc></option>
<option value='pred_go_function'><doc title='description'><![CDATA[Predicted GO Function]]></doc></option>
<option value='pred_go_process'><doc title='description'><![CDATA[Predicted GO Process]]></doc></option>
<option value='pred_go_component'><doc title='description'><![CDATA[Predicted GO Component]]></doc></option>
<option value='organism'><doc title='description'><![CDATA[Organism]]></doc></option>
<option value='is_pseudo'><doc title='description'><![CDATA[Is Pseudo]]></doc></option>
<option value='protein_sequence'><doc title='description'><![CDATA[Predicted Protein Sequence]]></doc></option>
<option value='transcript_sequence'><doc title='description'><![CDATA[Predicted RNA/mRNA Sequence (introns spliced out)]]></doc></option>
<option value='cds'><doc title='description'><![CDATA[Coding Sequence]]></doc></option>
<option value='wdk_weight'><doc title='description'><![CDATA[Weight]]></doc></option>
<option value='fold_change'><doc title='description'><![CDATA[Fold-change]]></doc></option>
</param>
<param name='o-tables' type='xsd:string' required='false' default='none' repeating='true'>
<doc title='prompt'><![CDATA[Output Tables]]></doc>
<doc title='help'><![CDATA[Multi-valued attributes of the feature.]]></doc>
<doc title='default'><![CDATA[none]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='all'><doc title='description'>Show all tables</doc></option>
<option value='none'><doc title='description'>Show no tables</doc></option>
<option value='SNPs'><doc title='description'><![CDATA[SNPs Summary]]></doc></option>
<option value='GeneModelDump'><doc title='description'><![CDATA[Gene Model]]></doc></option>
<option value='InterPro'><doc title='description'><![CDATA[InterPro Domains]]></doc></option>
<option value='TMHMM'><doc title='description'><![CDATA[Transmembrane Domains]]></doc></option>
<option value='LowComplexity'><doc title='description'><![CDATA[Low Complexity Regions]]></doc></option>
<option value='SignalP'><doc title='description'><![CDATA[Signal Peptide]]></doc></option>
<option value='BlastP'><doc title='description'><![CDATA[BlastP Hits]]></doc></option>
<option value='Genbank'><doc title='description'><![CDATA[Gene Location]]></doc></option>
<option value='SageTags'><doc title='description'><![CDATA[Sage Tags]]></doc></option>
<option value='Notes'><doc title='description'><![CDATA[Notes]]></doc></option>
<option value='UserComments'><doc title='description'><![CDATA[User Comments]]></doc></option>
<option value='CommunityExpComments'><doc title='description'><![CDATA[Community Annotations]]></doc></option>
<option value='EcNumber'><doc title='description'><![CDATA[EC Number]]></doc></option>
<option value='MassSpec'><doc title='description'><![CDATA[Mass Spec.-based Expression Evidence]]></doc></option>
<option value='GoTerms'><doc title='description'><![CDATA[GO Terms]]></doc></option>
<option value='Phenotype'><doc title='description'><![CDATA[Phenotype]]></doc></option>
<option value='Y2hInteractions'><doc title='description'><![CDATA[Y2H Interactions]]></doc></option>
<option value='Orthologs'><doc title='description'><![CDATA[Orthologs and Paralogs within EuPathDB]]></doc></option>
<option value='MetabolicPathways'><doc title='description'><![CDATA[Metabolic Pathways]]></doc></option>
<option value='TaskComments'><doc title='description'><![CDATA[Toxoplasma Genome Sequencing Project Annotation]]></doc></option>
<option value='ArrayElements'><doc title='description'><![CDATA[Mapped Array Elements]]></doc></option>
<option value='TwoChannelDiffExpr'><doc title='description'><![CDATA[P.Berghei Differential Expression - DOZI KO vs. WT]]></doc></option>
<option value='ProteinExpression'><doc title='description'><![CDATA[P.Berghei Protein Expression]]></doc></option>
<option value='Mr4Reagents'><doc title='description'><![CDATA[MR4 Reagents]]></doc></option>
<option value='ProteinDatabase'><doc title='description'><![CDATA[Protein Linkouts]]></doc></option>
<option value='GeneLinkouts'><doc title='description'><![CDATA[External Links]]></doc></option>
<option value='3dPreds'><doc title='description'><![CDATA[3D Structure Predictions]]></doc></option>
<option value='PdbSimilarities'><doc title='description'><![CDATA[Similarities to Protein Data Bank (PDB) Chains]]></doc></option>
<option value='Epitopes'><doc title='description'><![CDATA[Epitopes from IEDB]]></doc></option>
<option value='IsolateOverlap'><doc title='description'><![CDATA[Isolates]]></doc></option>
</param>
</request>
<response>
<representation mediaType='text/xml'/>
<representation mediaType='text/plain'/>
</response>
</method>
</resource>
</resources>
</application>
