Books/XML-and-Web-technology/Data/WADL/GenesByPromastigoteTimeSeries.wadl

<?xml version='1.0'?>
<application xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance' xsi:schemaLocation='http://wadl.dev.java.net/2009/02 wadl.xsd' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns='http://wadl.dev.java.net/2009/02'>
<resources base='http://eupathdb.org/webservices/'>
<resource path='GeneQuestions'>
<resource path='GenesByPromastigoteTimeSeries.xml'>
<method href='#genesbypromastigotetimeseries'/>
</resource>
<resource path='GenesByPromastigoteTimeSeries.json'>
<method href='#genesbypromastigotetimeseries'/>
</resource>
<method name='POST' id='genesbypromastigotetimeseries'>
<doc title='display_name'><![CDATA[L.d. Differentiation Time Series (fold change)]]></doc>
<doc title='summary'><![CDATA[Find <i>L.infantum</i> genes based on expression differences in a promastigote-to-amastigote differentiation time series in-vitro.]]></doc>
<doc title='description'><![CDATA[Find <i>L. infantum</i> genes based on expression differences in a <i>L. donovani</i> promastigote-to-amastigote differentiation time series.<p><br>
Axenic promastigote-to-amastigote differentiation of <i>Leishmania
donovani</i> was induced by inoculating late-log phase promastigotes in
medium 199 at pH 5.5 containing 25% fetal bovine serum and incubating
them at 37C in 5% CO2 environment.  RNA (and protein) was extracted
from the cultures at 0 (promastigotes), 2.5, 5.0, 7.5, 10, 15, 24 and
144 (mature amastigotes) hr after exposure to the differentiation
signal.  cDNA was prepared by reverse transcription using random
primers, labeled according to Nimblegen's standard protocol, and
hybridized to a Nimblegen array based on the <i>L. infantum</i> v 3.0
sequence, supplemented by <i>L. major</i> sequence for some genes.  Each
protein-coding gene was represented by eight probes and placed on the
microarray chip in triplicate.  A total of 16 hybridizations were
performed, one for each time-point in two biological replicates of
this experiment.  The raw data were subjected to quantile
normalization across all chips, and a single value for each probe
determined using a Tukey Biweight median value of the triplicates on
each chip.  A single CDS-level value for each chip was similarly
determined by a Tukey Biweight median of all probes that map to a
given gene.  The gene-level signals were then log2-scaled to the
corresponding 0 hour (promastigote) signal.<p><br>
This work was carried out by Tami Lahav, Neta Holland, Hanna Volpin &amp;
Dan Zilberstein at the Technion Institute, Israel and Amanda Anderson-
Green, Dhileep Sivam and Peter Myler at Seattle Biomedical Research
Institute, USA and is described in further detail in Sivam et al.
(manuscript in preparation).]]></doc>
<request>
<param name='ld_fc_profile_two_fl' type='xsd:string' required='true' default='Linfantum promastigote time-course biorep01' repeating='false'>
<doc title='prompt'><![CDATA[Time Series]]></doc>
<doc title='help'><![CDATA[Choose a promastigote time series]]></doc>
<doc title='default'><![CDATA[Linfantum promastigote time-course biorep01]]></doc>
<doc title='SingleValued'>Choose at most one value from the options</doc>
<option value='Linfantum promastigote time-course biorep01'><doc title='description'><![CDATA[Replicate 1]]></doc></option>
<option value='Linfantum promastigote time-course biorep02'><doc title='description'><![CDATA[Replicate 2]]></doc></option>
</param>
<param name='ld_fc_two_fl' type='xsd:string' required='true' default='' repeating='true'>
<doc title='prompt'><![CDATA[Reference Time Points]]></doc>
<doc title='help'><![CDATA[Choose one or more time point.  NOTE: if more than one is chosen the fold change will be calculated using the average of all samples within the group]]></doc>
<doc title='default'><![CDATA[null]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='144 hr'><doc title='description'><![CDATA[144 hr]]></doc></option>
<option value='24 hr'><doc title='description'><![CDATA[24 hr]]></doc></option>
<option value='15 hr'><doc title='description'><![CDATA[15 hr]]></doc></option>
<option value='10 hr'><doc title='description'><![CDATA[10 hr]]></doc></option>
<option value='7.5 hr'><doc title='description'><![CDATA[7.5 hr]]></doc></option>
<option value='5.0 hr'><doc title='description'><![CDATA[5.0 hr]]></doc></option>
<option value='2.5 hr'><doc title='description'><![CDATA[2.5 hr]]></doc></option>
<option value='0 hr'><doc title='description'><![CDATA[0 hr]]></doc></option>
</param>
<param name='ld_fc_one_fl' type='xsd:string' required='true' default='' repeating='true'>
<doc title='prompt'><![CDATA[Comparison Time Points]]></doc>
<doc title='help'><![CDATA[Choose one or more time point.  NOTE: if more than one is chosen the fold change will be calculated using the average of all samples within the group]]></doc>
<doc title='default'><![CDATA[null]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='144 hr'><doc title='description'><![CDATA[144 hr]]></doc></option>
<option value='24 hr'><doc title='description'><![CDATA[24 hr]]></doc></option>
<option value='15 hr'><doc title='description'><![CDATA[15 hr]]></doc></option>
<option value='10 hr'><doc title='description'><![CDATA[10 hr]]></doc></option>
<option value='7.5 hr'><doc title='description'><![CDATA[7.5 hr]]></doc></option>
<option value='5.0 hr'><doc title='description'><![CDATA[5.0 hr]]></doc></option>
<option value='2.5 hr'><doc title='description'><![CDATA[2.5 hr]]></doc></option>
<option value='0 hr'><doc title='description'><![CDATA[0 hr]]></doc></option>
</param>
<param name='fold_change' type='xsd:string' required='true' default='2' >
<doc title='prompt'><![CDATA[Fold change >=]]></doc>
<doc title='help'><![CDATA[Enter a non-negative number.  NOTE:  Fold change is reported in the summary as positive numbers for up-regulated genes and negative numbers for down-regulated genes]]></doc>
<doc title='default'><![CDATA[2]]></doc>
</param>
<param name='regulated_dir' type='xsd:string' required='true' default='up or down regulated' repeating='false'>
<doc title='prompt'><![CDATA[Direction]]></doc>
<doc title='help'><![CDATA[For ConditionA vs. ConditionB, select up-regulated for genes where ConditionA > ConditionB and select down-regulated for genes where ConditionB > ConditionA.]]></doc>
<doc title='default'><![CDATA[up or down regulated]]></doc>
<doc title='SingleValued'>Choose at most one value from the options</doc>
<option value='up or down regulated'><doc title='description'><![CDATA[up or down regulated]]></doc></option>
<option value='down-regulated'><doc title='description'><![CDATA[down-regulated]]></doc></option>
<option value='up-regulated'><doc title='description'><![CDATA[up-regulated]]></doc></option>
</param>
<param name='protein_coding_only' type='xsd:string' required='true' default='yes' repeating='false'>
<doc title='prompt'><![CDATA[Protein Coding Only:]]></doc>
<doc title='help'><![CDATA[Should only protein coding genes be returned?]]></doc>
<doc title='default'><![CDATA[yes]]></doc>
<doc title='SingleValued'>Choose at most one value from the options</doc>
<option value='yes'><doc title='description'><![CDATA[yes]]></doc></option>
<option value='no'><doc title='description'><![CDATA[no]]></doc></option>
</param>
<param name='o-fields' type='xsd:string' required='false' default='none' repeating='true'>
<doc title='prompt'><![CDATA[Output Fields]]></doc>
<doc title='help'><![CDATA[Single valued attributes of the feature.]]></doc>
<doc title='default'><![CDATA[none]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='all'><doc title='description'>Show all attributes</doc></option>
<option value='none'><doc title='description'>Show no attributes</doc></option>
<option value='primary_key'><doc title='description'><![CDATA[Gene]]></doc></option>
<option value='formatted_gene_id'><doc title='description'><![CDATA[Gene Group]]></doc></option>
<option value='sequence_id'><doc title='description'><![CDATA[Genomic Sequence ID]]></doc></option>
<option value='chromosome'><doc title='description'><![CDATA[Chromosome]]></doc></option>
<option value='location_text'><doc title='description'><![CDATA[Genomic Location]]></doc></option>
<option value='strand'><doc title='description'><![CDATA[Gene Strand]]></doc></option>
<option value='gene_type'><doc title='description'><![CDATA[Gene Type]]></doc></option>
<option value='exon_count'><doc title='description'><![CDATA[# Exons]]></doc></option>
<option value='transcript_length'><doc title='description'><![CDATA[Transcript Length]]></doc></option>
<option value='cds_length'><doc title='description'><![CDATA[CDS Length]]></doc></option>
<option value='product'><doc title='description'><![CDATA[Product Description]]></doc></option>
<option value='protein_length'><doc title='description'><![CDATA[Protein Length]]></doc></option>
<option value='tm_count'><doc title='description'><![CDATA[# TM Domains]]></doc></option>
<option value='molecular_weight'><doc title='description'><![CDATA[Molecular Weight]]></doc></option>
<option value='isoelectric_point'><doc title='description'><![CDATA[Isoelectric Point]]></doc></option>
<option value='ec_numbers_string'><doc title='description'><![CDATA[EC Numbers]]></doc></option>
<option value='ortholog_number'><doc title='description'><![CDATA[Ortholog count]]></doc></option>
<option value='paralog_number'><doc title='description'><![CDATA[Paralog count]]></doc></option>
<option value='orthomcl_name'><doc title='description'><![CDATA[Ortholog Group]]></doc></option>
<option value='signalp_scores'><doc title='description'><![CDATA[SignalP Scores]]></doc></option>
<option value='signalp_peptide'><doc title='description'><![CDATA[SignalP Peptide]]></doc></option>
<option value='ann_go_function'><doc title='description'><![CDATA[Annotated GO Function]]></doc></option>
<option value='ann_go_process'><doc title='description'><![CDATA[Annotated GO Process]]></doc></option>
<option value='ann_go_component'><doc title='description'><![CDATA[Annotated GO Component]]></doc></option>
<option value='pred_go_function'><doc title='description'><![CDATA[Predicted GO Function]]></doc></option>
<option value='pred_go_process'><doc title='description'><![CDATA[Predicted GO Process]]></doc></option>
<option value='pred_go_component'><doc title='description'><![CDATA[Predicted GO Component]]></doc></option>
<option value='organism'><doc title='description'><![CDATA[Organism]]></doc></option>
<option value='is_pseudo'><doc title='description'><![CDATA[Is Pseudo]]></doc></option>
<option value='protein_sequence'><doc title='description'><![CDATA[Predicted Protein Sequence]]></doc></option>
<option value='transcript_sequence'><doc title='description'><![CDATA[Predicted RNA/mRNA Sequence (introns spliced out)]]></doc></option>
<option value='cds'><doc title='description'><![CDATA[Coding Sequence]]></doc></option>
<option value='wdk_weight'><doc title='description'><![CDATA[Weight]]></doc></option>
<option value='fold_change'><doc title='description'><![CDATA[Fold Change Avg]]></doc></option>
<option value='avg_group_one'><doc title='description'><![CDATA[Comp. Avg(log(2))]]></doc></option>
<option value='avg_group_two'><doc title='description'><![CDATA[Ref. Avg(log(2))]]></doc></option>
</param>
<param name='o-tables' type='xsd:string' required='false' default='none' repeating='true'>
<doc title='prompt'><![CDATA[Output Tables]]></doc>
<doc title='help'><![CDATA[Multi-valued attributes of the feature.]]></doc>
<doc title='default'><![CDATA[none]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='all'><doc title='description'>Show all tables</doc></option>
<option value='none'><doc title='description'>Show no tables</doc></option>
<option value='SNPs'><doc title='description'><![CDATA[SNPs Summary]]></doc></option>
<option value='GeneModelDump'><doc title='description'><![CDATA[Gene Model]]></doc></option>
<option value='InterPro'><doc title='description'><![CDATA[InterPro Domains]]></doc></option>
<option value='TMHMM'><doc title='description'><![CDATA[Transmembrane Domains]]></doc></option>
<option value='LowComplexity'><doc title='description'><![CDATA[Low Complexity Regions]]></doc></option>
<option value='SignalP'><doc title='description'><![CDATA[Signal Peptide]]></doc></option>
<option value='BlastP'><doc title='description'><![CDATA[BlastP Hits]]></doc></option>
<option value='Genbank'><doc title='description'><![CDATA[Gene Location]]></doc></option>
<option value='SageTags'><doc title='description'><![CDATA[Sage Tags]]></doc></option>
<option value='Notes'><doc title='description'><![CDATA[Notes]]></doc></option>
<option value='UserComments'><doc title='description'><![CDATA[User Comments]]></doc></option>
<option value='CommunityExpComments'><doc title='description'><![CDATA[Community Annotations]]></doc></option>
<option value='EcNumber'><doc title='description'><![CDATA[EC Number]]></doc></option>
<option value='MassSpec'><doc title='description'><![CDATA[Mass Spec.-based Expression Evidence]]></doc></option>
<option value='GoTerms'><doc title='description'><![CDATA[GO Terms]]></doc></option>
<option value='Phenotype'><doc title='description'><![CDATA[Phenotype]]></doc></option>
<option value='Y2hInteractions'><doc title='description'><![CDATA[Y2H Interactions]]></doc></option>
<option value='Orthologs'><doc title='description'><![CDATA[Orthologs and Paralogs within EuPathDB]]></doc></option>
<option value='MetabolicPathways'><doc title='description'><![CDATA[Metabolic Pathways]]></doc></option>
<option value='TaskComments'><doc title='description'><![CDATA[Toxoplasma Genome Sequencing Project Annotation]]></doc></option>
<option value='ArrayElements'><doc title='description'><![CDATA[Mapped Array Elements]]></doc></option>
<option value='TwoChannelDiffExpr'><doc title='description'><![CDATA[P.Berghei Differential Expression - DOZI KO vs. WT]]></doc></option>
<option value='ProteinExpression'><doc title='description'><![CDATA[P.Berghei Protein Expression]]></doc></option>
<option value='Mr4Reagents'><doc title='description'><![CDATA[MR4 Reagents]]></doc></option>
<option value='ProteinDatabase'><doc title='description'><![CDATA[Protein Linkouts]]></doc></option>
<option value='GeneLinkouts'><doc title='description'><![CDATA[External Links]]></doc></option>
<option value='3dPreds'><doc title='description'><![CDATA[3D Structure Predictions]]></doc></option>
<option value='PdbSimilarities'><doc title='description'><![CDATA[Similarities to Protein Data Bank (PDB) Chains]]></doc></option>
<option value='Epitopes'><doc title='description'><![CDATA[Epitopes from IEDB]]></doc></option>
<option value='IsolateOverlap'><doc title='description'><![CDATA[Isolates]]></doc></option>
</param>
</request>
<response>
<representation mediaType='text/xml'/>
<representation mediaType='text/plain'/>
</response>
</method>
</resource>
</resources>
</application>
