Books/XML-and-Web-technology/Data/WADL/GenesByEHistolyticaExpressionTiming.wadl

<?xml version='1.0'?>
<application xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance' xsi:schemaLocation='http://wadl.dev.java.net/2009/02 wadl.xsd' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns='http://wadl.dev.java.net/2009/02'>
<resources base='http://eupathdb.org/webservices/'>
<resource path='GeneQuestions'>
<resource path='GenesByEHistolyticaExpressionTiming.xml'>
<method href='#genesbyehistolyticaexpressiontiming'/>
</resource>
<resource path='GenesByEHistolyticaExpressionTiming.json'>
<method href='#genesbyehistolyticaexpressiontiming'/>
</resource>
<method name='POST' id='genesbyehistolyticaexpressiontiming'>
<doc title='display_name'><![CDATA[E.histolytica Microarray Studies]]></doc>
<doc title='summary'><![CDATA[Find <i>E. histolytica</i> genes based on microarray expression fold change calculations between different strains in specified stage and media.]]></doc>
<doc title='description'><![CDATA[<br><br>(1) Gene expression in <i>Entamoeba histolytica</i> cysts and trophozoites<br>RNA was isolated from <i>E. histolytica</i> parasites recently derived from human patients and grown in xenic culture (Robinson's media) for 1-8 weeks. These recently isolated cultures contained a mixture of trophozoites and cysts (as assayed by staining with calcofluor). Two different strains, isolated from different patients, were used. Gene expression in these strains was compared to gene expression in multiple E. histolytica strains (HMI:IMSS, Rahman and 200:NIH) that contained only trophozoites, which had been grown in axenic culture (TYI-S-33) for > 10 years, using a full genome Affymetrix-platform microarray. Multiple lines of evidence suggest that many genes differentially expressed between these two conditions (recent isolates vs. long term lab growth) are developmentally regulated.<br><br>All samples were isolated using Trizol and samples other than the cyst containing clinical isolate samples were further purified with the Qiagen RNAeasy kit (clinical isolates produced insufficient RNA for cleanup). Samples GSM154008 (HM1replicate 3) and GSM154011 (Rahman replicate 3) were amplified using the SPIA protocol, and hybridized and scanned at VBI. All other samples were processed entirely by Stanford PAN facility. Samples GSM154022, GSM154023, and GSM154024 (the cyst containing clinical samples) were amplified 2 rounds using the standard affy T7 procedure. All others had sufficient RNA and only underwent the standard affy in vitro transcription labeling protocol.<br><a href="http://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE6648">GEO Dataset: Gene expression in <i>Entamoeba histolytica</i> cysts and trophozoites</a><br><br>
            (2) An Affymetrix platform gene expression array was designed for this analysis that included probe sets for 9435 open reading frames (ORFs) and 9066 5' and 3' flanking regions. Transcripts were detected for > 80% of all ORFs. A total of 523 transcripts (5.2% of all <i>E. histolytica</i> genes) were significantly changed in amebae isolated from the intestine on Days 1 and 29 after infection: 326 and 109 solely on Days 1 and 29, and 88 on both days. Quantitative real-time reverse transcriptase PCR confirmed these changes in 11/12 genes tested using mRNA isolated from an additional six mice.<br><a href="http://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE8484">GEO Dataset: Impact of intestinal colonization and invasion on the <i>Entamoeba histolytica</i> transcriptome.</a><br><br><br>For further details, please refer,<br>
           Gilchrist CA, Houpt E, Trapaidze N, Fei Z et al. 
           Impact of intestinal colonization and invasion on the <i>Entamoeba histolytica</i> transcriptome.<br> 
           Mol Biochem Parasitol 2006 Jun;147(2):163-76. PMID: 16569449<br><br>

           Ehrenkaufer GM, Haque R, Hackney JA, Eichinger DJ et al. 
           Identification of developmentally regulated genes in <i>Entamoeba histolytica</i>: insights into mechanisms of stage conversion in a protozoan parasite.<br> 
           Cell Microbiol 2007 Jun;9(6):1426-44. PMID: 17250591]]></doc>
<request>
<param name='profileSetEHisto' type='xsd:string' required='true' default='EhistolyticaAffyProfiles' repeating='false'>
<doc title='prompt'><![CDATA[Microarray Set]]></doc>
<doc title='help'><![CDATA[Choose a microarray dataset from which you would like to identify genes]]></doc>
<doc title='default'><![CDATA[EhistolyticaAffyProfiles]]></doc>
<doc title='SingleValued'>Choose at most one value from the options</doc>
<option value='EhistolyticaAffyProfiles'><doc title='description'><![CDATA[Strains labeled with Affymetrix amplification protocol <sup>1</sup>]]></doc></option>
<option value='EhistolyticaNugenProfiles'><doc title='description'><![CDATA[Strains labeled with Nugen SPIA amplification protocol <sup>1,2</sup>]]></doc></option>
</param>
<param name='eh_fc_one_fl' type='xsd:string' required='true' default='HM-1:IMSS - Trophs TYI' repeating='true'>
<doc title='prompt'><![CDATA[Comparison Strain/Stage/Media]]></doc>
<doc title='help'><![CDATA[Choose one or more strain/stage/media.  NOTE: if more than one is chosen the fold change will be calculated using the average of all samples within the group]]></doc>
<doc title='default'><![CDATA[HM-1:IMSS - Trophs TYI]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='HM1:IMSS mouse-adapted - Trophs TYI'><doc title='description'><![CDATA[HM1:IMSS mouse-adapted - Trophs TYI<sup>2</sup>]]></doc></option>
<option value='200:NIH Trophs TYI Low Glucose'><doc title='description'><![CDATA[200:NIH Trophs TYI Low Glucose<sup>1</sup>]]></doc></option>
<option value='Rahman - Trophs TYI'><doc title='description'><![CDATA[Rahman - Trophs TYI<sup>1</sup>]]></doc></option>
<option value='MS75-3544 Trophs/Cysts 8wk Robinsons'><doc title='description'><![CDATA[MS75-3544 Trophs/Cysts 8wk Robinsons<sup>1</sup>]]></doc></option>
<option value='HM-1:IMSS - Trophs TYI'><doc title='description'><![CDATA[HM-1:IMSS - Trophs TYI<sup>1</sup>]]></doc></option>
<option value='2592100 Trophs/Cysts 3wk Robinsons'><doc title='description'><![CDATA[2592100 Trophs/Cysts 3wk Robinsons<sup>1</sup>]]></doc></option>
<option value='MS75-3544 Trophs/Cysts 1wk Robinsons'><doc title='description'><![CDATA[MS75-3544 Trophs/Cysts 1wk Robinsons<sup>1</sup>]]></doc></option>
<option value='Rahman Trophs TYI'><doc title='description'><![CDATA[Rahman Trophs TYI<sup>1</sup>]]></doc></option>
<option value='200:NIH Trophs TYI'><doc title='description'><![CDATA[200:NIH Trophs TYI<sup>1</sup>]]></doc></option>
<option value='HM1:IMSS mouse-adapted - Trophs 29d PI'><doc title='description'><![CDATA[HM1:IMSS mouse-adapted - Trophs 29d PI<sup>2</sup>]]></doc></option>
<option value='HM1:IMSS mouse-adapted - Trophs 1d PI'><doc title='description'><![CDATA[HM1:IMSS mouse-adapted - Trophs 1d PI<sup>2</sup>]]></doc></option>
</param>
<param name='eh_fc_two_fl' type='xsd:string' required='true' default='Rahman Trophs TYI' repeating='true'>
<doc title='prompt'><![CDATA[Reference Strain/Stage/Media]]></doc>
<doc title='help'><![CDATA[Choose one or more strain/stage/media.  NOTE: if more than one is chosen the fold change will be calculated using the average of all samples within the group]]></doc>
<doc title='default'><![CDATA[Rahman Trophs TYI]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='HM1:IMSS mouse-adapted - Trophs TYI'><doc title='description'><![CDATA[HM1:IMSS mouse-adapted - Trophs TYI<sup>2</sup>]]></doc></option>
<option value='200:NIH Trophs TYI Low Glucose'><doc title='description'><![CDATA[200:NIH Trophs TYI Low Glucose<sup>1</sup>]]></doc></option>
<option value='Rahman - Trophs TYI'><doc title='description'><![CDATA[Rahman - Trophs TYI<sup>1</sup>]]></doc></option>
<option value='MS75-3544 Trophs/Cysts 8wk Robinsons'><doc title='description'><![CDATA[MS75-3544 Trophs/Cysts 8wk Robinsons<sup>1</sup>]]></doc></option>
<option value='HM-1:IMSS - Trophs TYI'><doc title='description'><![CDATA[HM-1:IMSS - Trophs TYI<sup>1</sup>]]></doc></option>
<option value='2592100 Trophs/Cysts 3wk Robinsons'><doc title='description'><![CDATA[2592100 Trophs/Cysts 3wk Robinsons<sup>1</sup>]]></doc></option>
<option value='MS75-3544 Trophs/Cysts 1wk Robinsons'><doc title='description'><![CDATA[MS75-3544 Trophs/Cysts 1wk Robinsons<sup>1</sup>]]></doc></option>
<option value='Rahman Trophs TYI'><doc title='description'><![CDATA[Rahman Trophs TYI<sup>1</sup>]]></doc></option>
<option value='200:NIH Trophs TYI'><doc title='description'><![CDATA[200:NIH Trophs TYI<sup>1</sup>]]></doc></option>
<option value='HM1:IMSS mouse-adapted - Trophs 29d PI'><doc title='description'><![CDATA[HM1:IMSS mouse-adapted - Trophs 29d PI<sup>2</sup>]]></doc></option>
<option value='HM1:IMSS mouse-adapted - Trophs 1d PI'><doc title='description'><![CDATA[HM1:IMSS mouse-adapted - Trophs 1d PI<sup>2</sup>]]></doc></option>
</param>
<param name='fold_change' type='xsd:string' required='true' default='2' >
<doc title='prompt'><![CDATA[Fold change >=]]></doc>
<doc title='help'><![CDATA[Enter a non-negative number.  NOTE:  Fold change is reported in the summary as positive numbers for up-regulated genes and negative numbers for down-regulated genes]]></doc>
<doc title='default'><![CDATA[2]]></doc>
</param>
<param name='protein_coding_only' type='xsd:string' required='true' default='yes' repeating='false'>
<doc title='prompt'><![CDATA[Protein Coding Only:]]></doc>
<doc title='help'><![CDATA[Should only protein coding genes be returned?]]></doc>
<doc title='default'><![CDATA[yes]]></doc>
<doc title='SingleValued'>Choose at most one value from the options</doc>
<option value='yes'><doc title='description'><![CDATA[yes]]></doc></option>
<option value='no'><doc title='description'><![CDATA[no]]></doc></option>
</param>
<param name='regulated_dir' type='xsd:string' required='true' default='up or down regulated' repeating='false'>
<doc title='prompt'><![CDATA[Direction]]></doc>
<doc title='help'><![CDATA[For ConditionA vs. ConditionB, select up-regulated for genes where ConditionA > ConditionB and select down-regulated for genes where ConditionB > ConditionA.]]></doc>
<doc title='default'><![CDATA[up or down regulated]]></doc>
<doc title='SingleValued'>Choose at most one value from the options</doc>
<option value='up or down regulated'><doc title='description'><![CDATA[up or down regulated]]></doc></option>
<option value='down-regulated'><doc title='description'><![CDATA[down-regulated]]></doc></option>
<option value='up-regulated'><doc title='description'><![CDATA[up-regulated]]></doc></option>
</param>
<param name='o-fields' type='xsd:string' required='false' default='none' repeating='true'>
<doc title='prompt'><![CDATA[Output Fields]]></doc>
<doc title='help'><![CDATA[Single valued attributes of the feature.]]></doc>
<doc title='default'><![CDATA[none]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='all'><doc title='description'>Show all attributes</doc></option>
<option value='none'><doc title='description'>Show no attributes</doc></option>
<option value='primary_key'><doc title='description'><![CDATA[Gene]]></doc></option>
<option value='formatted_gene_id'><doc title='description'><![CDATA[Gene Group]]></doc></option>
<option value='sequence_id'><doc title='description'><![CDATA[Genomic Sequence ID]]></doc></option>
<option value='chromosome'><doc title='description'><![CDATA[Chromosome]]></doc></option>
<option value='location_text'><doc title='description'><![CDATA[Genomic Location]]></doc></option>
<option value='strand'><doc title='description'><![CDATA[Gene Strand]]></doc></option>
<option value='gene_type'><doc title='description'><![CDATA[Gene Type]]></doc></option>
<option value='exon_count'><doc title='description'><![CDATA[# Exons]]></doc></option>
<option value='transcript_length'><doc title='description'><![CDATA[Transcript Length]]></doc></option>
<option value='cds_length'><doc title='description'><![CDATA[CDS Length]]></doc></option>
<option value='product'><doc title='description'><![CDATA[Product Description]]></doc></option>
<option value='protein_length'><doc title='description'><![CDATA[Protein Length]]></doc></option>
<option value='tm_count'><doc title='description'><![CDATA[# TM Domains]]></doc></option>
<option value='molecular_weight'><doc title='description'><![CDATA[Molecular Weight]]></doc></option>
<option value='isoelectric_point'><doc title='description'><![CDATA[Isoelectric Point]]></doc></option>
<option value='ec_numbers_string'><doc title='description'><![CDATA[EC Numbers]]></doc></option>
<option value='ortholog_number'><doc title='description'><![CDATA[Ortholog count]]></doc></option>
<option value='paralog_number'><doc title='description'><![CDATA[Paralog count]]></doc></option>
<option value='orthomcl_name'><doc title='description'><![CDATA[Ortholog Group]]></doc></option>
<option value='signalp_scores'><doc title='description'><![CDATA[SignalP Scores]]></doc></option>
<option value='signalp_peptide'><doc title='description'><![CDATA[SignalP Peptide]]></doc></option>
<option value='ann_go_function'><doc title='description'><![CDATA[Annotated GO Function]]></doc></option>
<option value='ann_go_process'><doc title='description'><![CDATA[Annotated GO Process]]></doc></option>
<option value='ann_go_component'><doc title='description'><![CDATA[Annotated GO Component]]></doc></option>
<option value='pred_go_function'><doc title='description'><![CDATA[Predicted GO Function]]></doc></option>
<option value='pred_go_process'><doc title='description'><![CDATA[Predicted GO Process]]></doc></option>
<option value='pred_go_component'><doc title='description'><![CDATA[Predicted GO Component]]></doc></option>
<option value='organism'><doc title='description'><![CDATA[Organism]]></doc></option>
<option value='is_pseudo'><doc title='description'><![CDATA[Is Pseudo]]></doc></option>
<option value='protein_sequence'><doc title='description'><![CDATA[Predicted Protein Sequence]]></doc></option>
<option value='transcript_sequence'><doc title='description'><![CDATA[Predicted RNA/mRNA Sequence (introns spliced out)]]></doc></option>
<option value='cds'><doc title='description'><![CDATA[Coding Sequence]]></doc></option>
<option value='wdk_weight'><doc title='description'><![CDATA[Weight]]></doc></option>
<option value='fold_change'><doc title='description'><![CDATA[Fold Change Avg]]></doc></option>
<option value='avg_group_one'><doc title='description'><![CDATA[Comp. Avg(log(2))]]></doc></option>
<option value='avg_group_two'><doc title='description'><![CDATA[Ref. Avg(log(2))]]></doc></option>
</param>
<param name='o-tables' type='xsd:string' required='false' default='none' repeating='true'>
<doc title='prompt'><![CDATA[Output Tables]]></doc>
<doc title='help'><![CDATA[Multi-valued attributes of the feature.]]></doc>
<doc title='default'><![CDATA[none]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='all'><doc title='description'>Show all tables</doc></option>
<option value='none'><doc title='description'>Show no tables</doc></option>
<option value='SNPs'><doc title='description'><![CDATA[SNPs Summary]]></doc></option>
<option value='GeneModelDump'><doc title='description'><![CDATA[Gene Model]]></doc></option>
<option value='InterPro'><doc title='description'><![CDATA[InterPro Domains]]></doc></option>
<option value='TMHMM'><doc title='description'><![CDATA[Transmembrane Domains]]></doc></option>
<option value='LowComplexity'><doc title='description'><![CDATA[Low Complexity Regions]]></doc></option>
<option value='SignalP'><doc title='description'><![CDATA[Signal Peptide]]></doc></option>
<option value='BlastP'><doc title='description'><![CDATA[BlastP Hits]]></doc></option>
<option value='Genbank'><doc title='description'><![CDATA[Gene Location]]></doc></option>
<option value='SageTags'><doc title='description'><![CDATA[Sage Tags]]></doc></option>
<option value='Notes'><doc title='description'><![CDATA[Notes]]></doc></option>
<option value='UserComments'><doc title='description'><![CDATA[User Comments]]></doc></option>
<option value='CommunityExpComments'><doc title='description'><![CDATA[Community Annotations]]></doc></option>
<option value='EcNumber'><doc title='description'><![CDATA[EC Number]]></doc></option>
<option value='MassSpec'><doc title='description'><![CDATA[Mass Spec.-based Expression Evidence]]></doc></option>
<option value='GoTerms'><doc title='description'><![CDATA[GO Terms]]></doc></option>
<option value='Phenotype'><doc title='description'><![CDATA[Phenotype]]></doc></option>
<option value='Y2hInteractions'><doc title='description'><![CDATA[Y2H Interactions]]></doc></option>
<option value='Orthologs'><doc title='description'><![CDATA[Orthologs and Paralogs within EuPathDB]]></doc></option>
<option value='MetabolicPathways'><doc title='description'><![CDATA[Metabolic Pathways]]></doc></option>
<option value='TaskComments'><doc title='description'><![CDATA[Toxoplasma Genome Sequencing Project Annotation]]></doc></option>
<option value='ArrayElements'><doc title='description'><![CDATA[Mapped Array Elements]]></doc></option>
<option value='TwoChannelDiffExpr'><doc title='description'><![CDATA[P.Berghei Differential Expression - DOZI KO vs. WT]]></doc></option>
<option value='ProteinExpression'><doc title='description'><![CDATA[P.Berghei Protein Expression]]></doc></option>
<option value='Mr4Reagents'><doc title='description'><![CDATA[MR4 Reagents]]></doc></option>
<option value='ProteinDatabase'><doc title='description'><![CDATA[Protein Linkouts]]></doc></option>
<option value='GeneLinkouts'><doc title='description'><![CDATA[External Links]]></doc></option>
<option value='3dPreds'><doc title='description'><![CDATA[3D Structure Predictions]]></doc></option>
<option value='PdbSimilarities'><doc title='description'><![CDATA[Similarities to Protein Data Bank (PDB) Chains]]></doc></option>
<option value='Epitopes'><doc title='description'><![CDATA[Epitopes from IEDB]]></doc></option>
<option value='IsolateOverlap'><doc title='description'><![CDATA[Isolates]]></doc></option>
</param>
</request>
<response>
<representation mediaType='text/xml'/>
<representation mediaType='text/plain'/>
</response>
</method>
</resource>
</resources>
</application>
