Books/XML-and-Web-technology/Data/WADL/GenesBySageTagRStat.wadl

<?xml version='1.0'?>
<application xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance' xsi:schemaLocation='http://wadl.dev.java.net/2009/02 wadl.xsd' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns='http://wadl.dev.java.net/2009/02'>
<resources base='http://eupathdb.org/webservices/'>
<resource path='GeneQuestions'>
<resource path='GenesBySageTagRStat.xml'>
<method href='#genesbysagetagrstat'/>
</resource>
<resource path='GenesBySageTagRStat.json'>
<method href='#genesbysagetagrstat'/>
</resource>
<method name='POST' id='genesbysagetagrstat'>
<doc title='display_name'><![CDATA[Differential Expression By SAGE Tag Evidence]]></doc>
<doc title='summary'><![CDATA[Find genes with evidence of differential expression based on SAGE tag experiments.]]></doc>
<doc title='description'><![CDATA[<p>Find Plasmodium <i>falciparum</i>, Giardia Assemblage A isolate WB and Toxoplasma <i>gondii</i> genes with evidence of differential expression based on SAGE tag experiments by choosing libraries (more than one) to compare across.  A large R value indicates differential expression (Antisense SAGE tags are NOT included in the calculation).

Stekel DJ, Git Y, Falciani F. <a href="http://www.ncbi.nlm.nih.gov/sites/entrez?cmd=Retrieve&db=PubMed&list_uids=11116099">The comparison of gene expression from multiple cDNA libraries.</a>  Genome Res.  2000.  Dec:10(12):2055-61.
</p>
<p>This search sums the counts of SAGE tags falling within/near a gene.  See the related <a href="showQuestion.do?questionFullName=SageTagQuestions.SageTagByRStat"><b>SAGE Tags by Differential Expression</b></a> search to find differences in expression for a specific SAGE tag and also for interrogating SAGE tags which don't align to predicted genes.
</p>]]></doc>
<request>
<param name='sage_tag_library_name' type='xsd:string' required='true' default='false' repeating='true'>
<doc title='prompt'><![CDATA[Sage Tag Library Name]]></doc>
<doc title='help'><![CDATA[Click the + to select specific experiments or use the tree box to select all for the chosen organism.]]></doc>
<doc title='default'><![CDATA[false]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='Glamblia'><doc title='description'><![CDATA[<i>Giardia Assemblage A isolate WB</i>]]></doc></option>
<option value='Troph1'><doc title='description'><![CDATA[Troph1]]></doc></option>
<option value='4 hour Encystation'><doc title='description'><![CDATA[4 hour Encystation]]></doc></option>
<option value='12 hour Encystation'><doc title='description'><![CDATA[12 hour Encystation]]></doc></option>
<option value='21 hour Encystation'><doc title='description'><![CDATA[21 hour Encystation]]></doc></option>
<option value='42 hour Encystation'><doc title='description'><![CDATA[42 hour Encystation]]></doc></option>
<option value='Cyst'><doc title='description'><![CDATA[Cyst]]></doc></option>
<option value='S1 Excystation'><doc title='description'><![CDATA[S1 Excystation]]></doc></option>
<option value='S2 Excystation'><doc title='description'><![CDATA[S2 Excystation]]></doc></option>
<option value='30 min Excystation'><doc title='description'><![CDATA[30 min Excystation]]></doc></option>
<option value='60 min Excystation'><doc title='description'><![CDATA[60 min Excystation]]></doc></option>
<option value='Tbrucei'><doc title='description'><![CDATA[<i>Trypanosome brucei TREU927</i>]]></doc></option>
<option value='bloodstream library (gambiense)'><doc title='description'><![CDATA[bloodstream library (gambiense)]]></doc></option>
<option value='procyclic library (gambiense)'><doc title='description'><![CDATA[procyclic library (gambiense)]]></doc></option>
<option value='Pfalciparum'><doc title='description'><![CDATA[<i>Plasmodium falciparum</i>]]></doc></option>
<option value='CQlibrary'><doc title='description'><![CDATA[CQlibrary]]></doc></option>
<option value='SAGE-3D7-library1'><doc title='description'><![CDATA[SAGE-3D7-library1]]></doc></option>
<option value='CQcontrol'><doc title='description'><![CDATA[CQcontrol]]></doc></option>
<option value='Tgondii'><doc title='description'><![CDATA[<i>Toxoplasma gondii</i>]]></doc></option>
<option value='sp'><doc title='description'><![CDATA[sp]]></doc></option>
<option value='d4'><doc title='description'><![CDATA[d4]]></doc></option>
<option value='d6'><doc title='description'><![CDATA[d6]]></doc></option>
<option value='d7'><doc title='description'><![CDATA[d7]]></doc></option>
<option value='d15'><doc title='description'><![CDATA[d15]]></doc></option>
<option value='ph'><doc title='description'><![CDATA[ph]]></doc></option>
<option value='msj'><doc title='description'><![CDATA[msj]]></doc></option>
<option value='rh'><doc title='description'><![CDATA[rh]]></doc></option>
<option value='b7'><doc title='description'><![CDATA[b7]]></doc></option>
</param>
<param name='sage_tag_min_r' type='xsd:string' required='true' default='10' >
<doc title='prompt'><![CDATA[R statistic Greater Than:]]></doc>
<doc title='help'><![CDATA[Choose a minimum R value to be returned. Stekel et al.???s R-statistic (Stekel, Git, and Falciani 2000) scores SAGE tags on differential expression among libraries (more variable tags have higher R values), with no assignment of significance values.]]></doc>
<doc title='default'><![CDATA[10]]></doc>
</param>
<param name='st_max_five_prime_distance' type='xsd:string' required='true' default='0' >
<doc title='prompt'><![CDATA[Maximum distance from 5' gene end]]></doc>
<doc title='help'><![CDATA[Enter the maximum distance you want to allow the tag to be from the 5' end of the gene.  This is assuming that the gene model does  not contain the entire transcribed region which is frequently the case.  Note that the larger the value entered here (1000 bp maximum) the greater the chance for aberrant results.]]></doc>
<doc title='default'><![CDATA[0]]></doc>
</param>
<param name='st_max_three_prime_distance' type='xsd:string' required='true' default='0' >
<doc title='prompt'><![CDATA[Maximum distance from 3' gene end]]></doc>
<doc title='help'><![CDATA[Enter the maximum distance you want to allow the tag to be from the 3' end of the gene.  This is assuming that the gene model does  not contain the entire transcribed region which is frequently the case.  Note that the larger the value entered here (1000 bp maximum) the greater the chance for aberrant results.]]></doc>
<doc title='default'><![CDATA[0]]></doc>
</param>
<param name='o-fields' type='xsd:string' required='false' default='none' repeating='true'>
<doc title='prompt'><![CDATA[Output Fields]]></doc>
<doc title='help'><![CDATA[Single valued attributes of the feature.]]></doc>
<doc title='default'><![CDATA[none]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='all'><doc title='description'>Show all attributes</doc></option>
<option value='none'><doc title='description'>Show no attributes</doc></option>
<option value='primary_key'><doc title='description'><![CDATA[Gene]]></doc></option>
<option value='formatted_gene_id'><doc title='description'><![CDATA[Gene Group]]></doc></option>
<option value='sequence_id'><doc title='description'><![CDATA[Genomic Sequence ID]]></doc></option>
<option value='chromosome'><doc title='description'><![CDATA[Chromosome]]></doc></option>
<option value='location_text'><doc title='description'><![CDATA[Genomic Location]]></doc></option>
<option value='strand'><doc title='description'><![CDATA[Gene Strand]]></doc></option>
<option value='gene_type'><doc title='description'><![CDATA[Gene Type]]></doc></option>
<option value='exon_count'><doc title='description'><![CDATA[# Exons]]></doc></option>
<option value='transcript_length'><doc title='description'><![CDATA[Transcript Length]]></doc></option>
<option value='cds_length'><doc title='description'><![CDATA[CDS Length]]></doc></option>
<option value='product'><doc title='description'><![CDATA[Product Description]]></doc></option>
<option value='protein_length'><doc title='description'><![CDATA[Protein Length]]></doc></option>
<option value='tm_count'><doc title='description'><![CDATA[# TM Domains]]></doc></option>
<option value='molecular_weight'><doc title='description'><![CDATA[Molecular Weight]]></doc></option>
<option value='isoelectric_point'><doc title='description'><![CDATA[Isoelectric Point]]></doc></option>
<option value='ec_numbers_string'><doc title='description'><![CDATA[EC Numbers]]></doc></option>
<option value='ortholog_number'><doc title='description'><![CDATA[Ortholog count]]></doc></option>
<option value='paralog_number'><doc title='description'><![CDATA[Paralog count]]></doc></option>
<option value='orthomcl_name'><doc title='description'><![CDATA[Ortholog Group]]></doc></option>
<option value='signalp_scores'><doc title='description'><![CDATA[SignalP Scores]]></doc></option>
<option value='signalp_peptide'><doc title='description'><![CDATA[SignalP Peptide]]></doc></option>
<option value='ann_go_function'><doc title='description'><![CDATA[Annotated GO Function]]></doc></option>
<option value='ann_go_process'><doc title='description'><![CDATA[Annotated GO Process]]></doc></option>
<option value='ann_go_component'><doc title='description'><![CDATA[Annotated GO Component]]></doc></option>
<option value='pred_go_function'><doc title='description'><![CDATA[Predicted GO Function]]></doc></option>
<option value='pred_go_process'><doc title='description'><![CDATA[Predicted GO Process]]></doc></option>
<option value='pred_go_component'><doc title='description'><![CDATA[Predicted GO Component]]></doc></option>
<option value='organism'><doc title='description'><![CDATA[Organism]]></doc></option>
<option value='is_pseudo'><doc title='description'><![CDATA[Is Pseudo]]></doc></option>
<option value='protein_sequence'><doc title='description'><![CDATA[Predicted Protein Sequence]]></doc></option>
<option value='transcript_sequence'><doc title='description'><![CDATA[Predicted RNA/mRNA Sequence (introns spliced out)]]></doc></option>
<option value='cds'><doc title='description'><![CDATA[Coding Sequence]]></doc></option>
<option value='wdk_weight'><doc title='description'><![CDATA[Weight]]></doc></option>
</param>
<param name='o-tables' type='xsd:string' required='false' default='none' repeating='true'>
<doc title='prompt'><![CDATA[Output Tables]]></doc>
<doc title='help'><![CDATA[Multi-valued attributes of the feature.]]></doc>
<doc title='default'><![CDATA[none]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='all'><doc title='description'>Show all tables</doc></option>
<option value='none'><doc title='description'>Show no tables</doc></option>
<option value='SNPs'><doc title='description'><![CDATA[SNPs Summary]]></doc></option>
<option value='GeneModelDump'><doc title='description'><![CDATA[Gene Model]]></doc></option>
<option value='InterPro'><doc title='description'><![CDATA[InterPro Domains]]></doc></option>
<option value='TMHMM'><doc title='description'><![CDATA[Transmembrane Domains]]></doc></option>
<option value='LowComplexity'><doc title='description'><![CDATA[Low Complexity Regions]]></doc></option>
<option value='SignalP'><doc title='description'><![CDATA[Signal Peptide]]></doc></option>
<option value='BlastP'><doc title='description'><![CDATA[BlastP Hits]]></doc></option>
<option value='Genbank'><doc title='description'><![CDATA[Gene Location]]></doc></option>
<option value='SageTags'><doc title='description'><![CDATA[Sage Tags]]></doc></option>
<option value='Notes'><doc title='description'><![CDATA[Notes]]></doc></option>
<option value='UserComments'><doc title='description'><![CDATA[User Comments]]></doc></option>
<option value='CommunityExpComments'><doc title='description'><![CDATA[Community Annotations]]></doc></option>
<option value='EcNumber'><doc title='description'><![CDATA[EC Number]]></doc></option>
<option value='MassSpec'><doc title='description'><![CDATA[Mass Spec.-based Expression Evidence]]></doc></option>
<option value='GoTerms'><doc title='description'><![CDATA[GO Terms]]></doc></option>
<option value='Phenotype'><doc title='description'><![CDATA[Phenotype]]></doc></option>
<option value='Y2hInteractions'><doc title='description'><![CDATA[Y2H Interactions]]></doc></option>
<option value='Orthologs'><doc title='description'><![CDATA[Orthologs and Paralogs within EuPathDB]]></doc></option>
<option value='MetabolicPathways'><doc title='description'><![CDATA[Metabolic Pathways]]></doc></option>
<option value='TaskComments'><doc title='description'><![CDATA[Toxoplasma Genome Sequencing Project Annotation]]></doc></option>
<option value='ArrayElements'><doc title='description'><![CDATA[Mapped Array Elements]]></doc></option>
<option value='TwoChannelDiffExpr'><doc title='description'><![CDATA[P.Berghei Differential Expression - DOZI KO vs. WT]]></doc></option>
<option value='ProteinExpression'><doc title='description'><![CDATA[P.Berghei Protein Expression]]></doc></option>
<option value='Mr4Reagents'><doc title='description'><![CDATA[MR4 Reagents]]></doc></option>
<option value='ProteinDatabase'><doc title='description'><![CDATA[Protein Linkouts]]></doc></option>
<option value='GeneLinkouts'><doc title='description'><![CDATA[External Links]]></doc></option>
<option value='3dPreds'><doc title='description'><![CDATA[3D Structure Predictions]]></doc></option>
<option value='PdbSimilarities'><doc title='description'><![CDATA[Similarities to Protein Data Bank (PDB) Chains]]></doc></option>
<option value='Epitopes'><doc title='description'><![CDATA[Epitopes from IEDB]]></doc></option>
<option value='IsolateOverlap'><doc title='description'><![CDATA[Isolates]]></doc></option>
</param>
</request>
<response>
<representation mediaType='text/xml'/>
<representation mediaType='text/plain'/>
</response>
</method>
</resource>
</resources>
</application>
