Books/XML-and-Web-technology/Data/WADL/GenesByChIPchipPlasmo.wadl

<?xml version='1.0'?>
<application xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance' xsi:schemaLocation='http://wadl.dev.java.net/2009/02 wadl.xsd' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns='http://wadl.dev.java.net/2009/02'>
<resources base='http://eupathdb.org/webservices/'>
<resource path='GeneQuestions'>
<resource path='GenesByChIPchipPlasmo.xml'>
<method href='#genesbychipchipplasmo'/>
</resource>
<resource path='GenesByChIPchipPlasmo.json'>
<method href='#genesbychipchipplasmo'/>
</resource>
<method name='POST' id='genesbychipchipplasmo'>
<doc title='display_name'><![CDATA[P.f. ChIP on Chip Evidence]]></doc>
<doc title='summary'><![CDATA[Find genes with evidence for expression based on ChIP-chip peaks]]></doc>
<doc title='description'><![CDATA[<br/><p>Find all <i>P. falciparum</i> genes with evidence for expression based on ChIP-chip peaks.</p><br/><br/>
           <sup>1</sup><i>Chromatin Immunoprecipitation data from Artur Scherf lab</i><br/>
Chromatin immunoprecipitation to identify histone modifications (H3K9me3, H3K9Ac, H3K4me3, H4K20me3) in Plasmodium falciparum wild type and Sir2 knock-outs.
Contact Artur Scherf, artur.scherf@pasteur.fr, Unit de Biologie des Interactions Hote-Parasite.i.<br/><br/>

           <sup>2</sup><i>Chromatin Immunoprecipitation data from Till Voss lab</i><br/>
Genome-wide association of Pf Heterochromatin protein 1 (Hp-1) with virulence gene clusters. We identified 425 PfHP1-bound genes by ChIP-on-CHIP - almost all of which code for expor
ted (predicted) virulence genes including all var genes, rifs, stevor, pfmc-2tm and others.
Contact Till Voss, till.voss@unibas.ch, for further information<br/><br/>]]></doc>
<request>
<param name='chip_experiment' type='xsd:string' required='true' default='Histone modifications in wild type and Sir2 knock-outs' repeating='false'>
<doc title='prompt'><![CDATA[ChIP chip Experiment]]></doc>
<doc title='help'><![CDATA[Choose a ChIP on chip assay/experiment]]></doc>
<doc title='default'><![CDATA[Histone modifications in wild type and Sir2 knock-outs]]></doc>
<doc title='SingleValued'>Choose at most one value from the options</doc>
<option value='Histone modifications in wild type and Sir2 knock-outs'><doc title='description'><![CDATA[(1)   Histone modifications in wild type and Sir2 knock-outs]]></doc></option>
<option value='Genome-wide assoc. of (Hp-1) with virulence gene clusters'><doc title='description'><![CDATA[(2)   Genome-wide assoc. of Hp-1 with virulence gene clusters]]></doc></option>
</param>
<param name='chip_antibody_plasmo' type='xsd:string' required='true' default='' repeating='false'>
<doc title='prompt'><![CDATA[Antibody used in the assay]]></doc>
<doc title='help'><![CDATA[Choose an Antibody]]></doc>
<doc title='default'><![CDATA[null]]></doc>
<doc title='SingleValued'>Choose at most one value from the options</doc>
<option value='Not Applicable'><doc title='description'><![CDATA[Not  Applicable]]></doc></option>
<option value='H3K4me3'><doc title='description'><![CDATA[H3K4me3 (only wild type)]]></doc></option>
<option value='H4K20me3'><doc title='description'><![CDATA[H4K20me3 (only wild type)]]></doc></option>
<option value='H3K9Ac'><doc title='description'><![CDATA[H3K9Ac]]></doc></option>
<option value='H3K9me3'><doc title='description'><![CDATA[H3K9me3]]></doc></option>
</param>
<param name='chip_genotypes' type='xsd:string' required='true' default='' repeating='false'>
<doc title='prompt'><![CDATA[Genotype used in the assay]]></doc>
<doc title='help'><![CDATA[Choose a Genotype]]></doc>
<doc title='default'><![CDATA[null]]></doc>
<doc title='SingleValued'>Choose at most one value from the options</doc>
<option value='wild_type'><doc title='description'><![CDATA[wild type]]></doc></option>
<option value='Not Applicable'><doc title='description'><![CDATA[Not  Applicable]]></doc></option>
<option value='sir2KO'><doc title='description'><![CDATA[sir2KO]]></doc></option>
</param>
<param name='chip_replicates_plasmo' type='xsd:string' required='true' default='' repeating='false'>
<doc title='prompt'><![CDATA[Present in both replicates]]></doc>
<doc title='help'><![CDATA[Choose 'Yes' if you would like to fetch genes that have evidence from both replicates.]]></doc>
<doc title='default'><![CDATA[null]]></doc>
<doc title='SingleValued'>Choose at most one value from the options</doc>
<option value='1'><doc title='description'><![CDATA[Yes]]></doc></option>
<option value='0'><doc title='description'><![CDATA[Not Applicable]]></doc></option>
<option value='0'><doc title='description'><![CDATA[No]]></doc></option>
</param>
<param name='chip_distance' type='xsd:string' required='true' default='1000' >
<doc title='prompt'><![CDATA[Maximum distance from 5' gene end]]></doc>
<doc title='help'><![CDATA[Enter the maximum distance you want to allow the center of the peak to be from the 5' end of the gene.  Note that the larger the value entered here (3000 bp maximum) the greater the chance for aberrant results.]]></doc>
<doc title='default'><![CDATA[1000]]></doc>
</param>
<param name='chip_direction' type='xsd:string' required='true' default='Either' repeating='false'>
<doc title='prompt'><![CDATA[Peak location relative to 5' end of gene]]></doc>
<doc title='help'><![CDATA[Choose whether the peak should be upstream or downstream of the 5' end of the gene.]]></doc>
<doc title='default'><![CDATA[Either]]></doc>
<doc title='SingleValued'>Choose at most one value from the options</doc>
<option value='Upstream'><doc title='description'><![CDATA[Upstream]]></doc></option>
<option value='Downstream'><doc title='description'><![CDATA[Downstream]]></doc></option>
<option value='Either'><doc title='description'><![CDATA[Either]]></doc></option>
</param>
<param name='o-fields' type='xsd:string' required='false' default='none' repeating='true'>
<doc title='prompt'><![CDATA[Output Fields]]></doc>
<doc title='help'><![CDATA[Single valued attributes of the feature.]]></doc>
<doc title='default'><![CDATA[none]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='all'><doc title='description'>Show all attributes</doc></option>
<option value='none'><doc title='description'>Show no attributes</doc></option>
<option value='primary_key'><doc title='description'><![CDATA[Gene]]></doc></option>
<option value='formatted_gene_id'><doc title='description'><![CDATA[Gene Group]]></doc></option>
<option value='sequence_id'><doc title='description'><![CDATA[Genomic Sequence ID]]></doc></option>
<option value='chromosome'><doc title='description'><![CDATA[Chromosome]]></doc></option>
<option value='location_text'><doc title='description'><![CDATA[Genomic Location]]></doc></option>
<option value='strand'><doc title='description'><![CDATA[Gene Strand]]></doc></option>
<option value='gene_type'><doc title='description'><![CDATA[Gene Type]]></doc></option>
<option value='exon_count'><doc title='description'><![CDATA[# Exons]]></doc></option>
<option value='transcript_length'><doc title='description'><![CDATA[Transcript Length]]></doc></option>
<option value='cds_length'><doc title='description'><![CDATA[CDS Length]]></doc></option>
<option value='product'><doc title='description'><![CDATA[Product Description]]></doc></option>
<option value='protein_length'><doc title='description'><![CDATA[Protein Length]]></doc></option>
<option value='tm_count'><doc title='description'><![CDATA[# TM Domains]]></doc></option>
<option value='molecular_weight'><doc title='description'><![CDATA[Molecular Weight]]></doc></option>
<option value='isoelectric_point'><doc title='description'><![CDATA[Isoelectric Point]]></doc></option>
<option value='ec_numbers_string'><doc title='description'><![CDATA[EC Numbers]]></doc></option>
<option value='ortholog_number'><doc title='description'><![CDATA[Ortholog count]]></doc></option>
<option value='paralog_number'><doc title='description'><![CDATA[Paralog count]]></doc></option>
<option value='orthomcl_name'><doc title='description'><![CDATA[Ortholog Group]]></doc></option>
<option value='signalp_scores'><doc title='description'><![CDATA[SignalP Scores]]></doc></option>
<option value='signalp_peptide'><doc title='description'><![CDATA[SignalP Peptide]]></doc></option>
<option value='ann_go_function'><doc title='description'><![CDATA[Annotated GO Function]]></doc></option>
<option value='ann_go_process'><doc title='description'><![CDATA[Annotated GO Process]]></doc></option>
<option value='ann_go_component'><doc title='description'><![CDATA[Annotated GO Component]]></doc></option>
<option value='pred_go_function'><doc title='description'><![CDATA[Predicted GO Function]]></doc></option>
<option value='pred_go_process'><doc title='description'><![CDATA[Predicted GO Process]]></doc></option>
<option value='pred_go_component'><doc title='description'><![CDATA[Predicted GO Component]]></doc></option>
<option value='organism'><doc title='description'><![CDATA[Organism]]></doc></option>
<option value='is_pseudo'><doc title='description'><![CDATA[Is Pseudo]]></doc></option>
<option value='protein_sequence'><doc title='description'><![CDATA[Predicted Protein Sequence]]></doc></option>
<option value='transcript_sequence'><doc title='description'><![CDATA[Predicted RNA/mRNA Sequence (introns spliced out)]]></doc></option>
<option value='cds'><doc title='description'><![CDATA[Coding Sequence]]></doc></option>
<option value='wdk_weight'><doc title='description'><![CDATA[Weight]]></doc></option>
<option value='chip_antibodies'><doc title='description'><![CDATA[Antibodies]]></doc></option>
<option value='chip_distance'><doc title='description'><![CDATA[Distance From Gene End]]></doc></option>
<option value='chip_genotype'><doc title='description'><![CDATA[Genotype used in assay]]></doc></option>
<option value='chip_score'><doc title='description'><![CDATA[Score]]></doc></option>
</param>
<param name='o-tables' type='xsd:string' required='false' default='none' repeating='true'>
<doc title='prompt'><![CDATA[Output Tables]]></doc>
<doc title='help'><![CDATA[Multi-valued attributes of the feature.]]></doc>
<doc title='default'><![CDATA[none]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='all'><doc title='description'>Show all tables</doc></option>
<option value='none'><doc title='description'>Show no tables</doc></option>
<option value='SNPs'><doc title='description'><![CDATA[SNPs Summary]]></doc></option>
<option value='GeneModelDump'><doc title='description'><![CDATA[Gene Model]]></doc></option>
<option value='InterPro'><doc title='description'><![CDATA[InterPro Domains]]></doc></option>
<option value='TMHMM'><doc title='description'><![CDATA[Transmembrane Domains]]></doc></option>
<option value='LowComplexity'><doc title='description'><![CDATA[Low Complexity Regions]]></doc></option>
<option value='SignalP'><doc title='description'><![CDATA[Signal Peptide]]></doc></option>
<option value='BlastP'><doc title='description'><![CDATA[BlastP Hits]]></doc></option>
<option value='Genbank'><doc title='description'><![CDATA[Gene Location]]></doc></option>
<option value='SageTags'><doc title='description'><![CDATA[Sage Tags]]></doc></option>
<option value='Notes'><doc title='description'><![CDATA[Notes]]></doc></option>
<option value='UserComments'><doc title='description'><![CDATA[User Comments]]></doc></option>
<option value='CommunityExpComments'><doc title='description'><![CDATA[Community Annotations]]></doc></option>
<option value='EcNumber'><doc title='description'><![CDATA[EC Number]]></doc></option>
<option value='MassSpec'><doc title='description'><![CDATA[Mass Spec.-based Expression Evidence]]></doc></option>
<option value='GoTerms'><doc title='description'><![CDATA[GO Terms]]></doc></option>
<option value='Phenotype'><doc title='description'><![CDATA[Phenotype]]></doc></option>
<option value='Y2hInteractions'><doc title='description'><![CDATA[Y2H Interactions]]></doc></option>
<option value='Orthologs'><doc title='description'><![CDATA[Orthologs and Paralogs within EuPathDB]]></doc></option>
<option value='MetabolicPathways'><doc title='description'><![CDATA[Metabolic Pathways]]></doc></option>
<option value='TaskComments'><doc title='description'><![CDATA[Toxoplasma Genome Sequencing Project Annotation]]></doc></option>
<option value='ArrayElements'><doc title='description'><![CDATA[Mapped Array Elements]]></doc></option>
<option value='TwoChannelDiffExpr'><doc title='description'><![CDATA[P.Berghei Differential Expression - DOZI KO vs. WT]]></doc></option>
<option value='ProteinExpression'><doc title='description'><![CDATA[P.Berghei Protein Expression]]></doc></option>
<option value='Mr4Reagents'><doc title='description'><![CDATA[MR4 Reagents]]></doc></option>
<option value='ProteinDatabase'><doc title='description'><![CDATA[Protein Linkouts]]></doc></option>
<option value='GeneLinkouts'><doc title='description'><![CDATA[External Links]]></doc></option>
<option value='3dPreds'><doc title='description'><![CDATA[3D Structure Predictions]]></doc></option>
<option value='PdbSimilarities'><doc title='description'><![CDATA[Similarities to Protein Data Bank (PDB) Chains]]></doc></option>
<option value='Epitopes'><doc title='description'><![CDATA[Epitopes from IEDB]]></doc></option>
<option value='IsolateOverlap'><doc title='description'><![CDATA[Isolates]]></doc></option>
</param>
</request>
<response>
<representation mediaType='text/xml'/>
<representation mediaType='text/plain'/>
</response>
</method>
</resource>
</resources>
</application>
