Books/XML-and-Web-technology/Data/WADL/GenesByProfileSimilarity.wadl

<?xml version='1.0'?>
<application xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance' xsi:schemaLocation='http://wadl.dev.java.net/2009/02 wadl.xsd' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns='http://wadl.dev.java.net/2009/02'>
<resources base='http://eupathdb.org/webservices/'>
<resource path='GeneQuestions'>
<resource path='GenesByProfileSimilarity.xml'>
<method href='#genesbyprofilesimilarity'/>
</resource>
<resource path='GenesByProfileSimilarity.json'>
<method href='#genesbyprofilesimilarity'/>
</resource>
<method name='POST' id='genesbyprofilesimilarity'>
<doc title='display_name'><![CDATA[P.f. Intraerythrocytic infection cycle (similarity)]]></doc>
<doc title='summary'><![CDATA[Find genes that have a similar expression profile to your input gene.]]></doc>
<doc title='description'><![CDATA[Find genes that have a (glass slide) expression profile similar to that of your input gene.]]></doc>
<request>
<param name='ProfileGeneId' type='xsd:string' required='true' default='PF11_0344' >
<doc title='prompt'><![CDATA[Gene Id]]></doc>
<doc title='help'><![CDATA[The Gene Id]]></doc>
<doc title='default'><![CDATA[PF11_0344]]></doc>
</param>
<param name='ProfileDistanceMethod' type='xsd:string' required='true' default='Euclidean Distance' repeating='false'>
<doc title='prompt'><![CDATA[Distance Method]]></doc>
<doc title='help'><![CDATA[The method used to calculate the similarity distance]]></doc>
<doc title='default'><![CDATA[Euclidean Distance]]></doc>
<doc title='SingleValued'>Choose at most one value from the options</doc>
<option value='Euclidean Distance'><doc title='description'><![CDATA[Euclidean Distance]]></doc></option>
<option value='Pearson Correlation'><doc title='description'><![CDATA[Pearson Correlation]]></doc></option>
</param>
<param name='ProfileNumToReturn' type='xsd:string' required='true' default='50' >
<doc title='prompt'><![CDATA[# of Matches]]></doc>
<doc title='help'><![CDATA[The number of genes in the result]]></doc>
<doc title='default'><![CDATA[50]]></doc>
</param>
<param name='ProfileProfileSet' type='xsd:string' required='true' default='3D7' repeating='false'>
<doc title='prompt'><![CDATA[Strain]]></doc>
<doc title='help'><![CDATA[Choose the strain of the profile to search against]]></doc>
<doc title='default'><![CDATA[3D7]]></doc>
<doc title='SingleValued'>Choose at most one value from the options</doc>
<option value='3D7'><doc title='description'><![CDATA[3D7]]></doc></option>
<option value='Dd2'><doc title='description'><![CDATA[Dd2]]></doc></option>
<option value='HB3'><doc title='description'><![CDATA[HB3]]></doc></option>
<option value='ME49'><doc title='description'><![CDATA[ME49]]></doc></option>
</param>
<param name='ProfileSearchGoal' type='xsd:string' required='true' default='Positive Correlation' repeating='false'>
<doc title='prompt'><![CDATA[Search Goal]]></doc>
<doc title='help'><![CDATA[The searching goal of the profile similarity query]]></doc>
<doc title='default'><![CDATA[Positive Correlation]]></doc>
<doc title='SingleValued'>Choose at most one value from the options</doc>
<option value='Positive Correlation'><doc title='description'><![CDATA[Positive Correlation]]></doc></option>
<option value='Negative Correlation'><doc title='description'><![CDATA[Negative Correlation]]></doc></option>
</param>
<param name='ProfileTimeShift' type='xsd:string' required='true' default='0 hour' repeating='false'>
<doc title='prompt'><![CDATA[Time Shift]]></doc>
<doc title='help'><![CDATA[The minimum allowed time shift]]></doc>
<doc title='default'><![CDATA[0 hour]]></doc>
<doc title='SingleValued'>Choose at most one value from the options</doc>
<option value='-24 hours'><doc title='description'><![CDATA[-24 hours]]></doc></option>
<option value='-23 hours'><doc title='description'><![CDATA[-23 hours]]></doc></option>
<option value='-22 hours'><doc title='description'><![CDATA[-22 hours]]></doc></option>
<option value='-21 hours'><doc title='description'><![CDATA[-21 hours]]></doc></option>
<option value='-20 hours'><doc title='description'><![CDATA[-20 hours]]></doc></option>
<option value='-19 hours'><doc title='description'><![CDATA[-19 hours]]></doc></option>
<option value='-18 hours'><doc title='description'><![CDATA[-18 hours]]></doc></option>
<option value='-17 hours'><doc title='description'><![CDATA[-17 hours]]></doc></option>
<option value='-16 hours'><doc title='description'><![CDATA[-16 hours]]></doc></option>
<option value='-15 hours'><doc title='description'><![CDATA[-15 hours]]></doc></option>
<option value='-14 hours'><doc title='description'><![CDATA[-14 hours]]></doc></option>
<option value='-13 hours'><doc title='description'><![CDATA[-13 hours]]></doc></option>
<option value='-12 hours'><doc title='description'><![CDATA[-12 hours]]></doc></option>
<option value='-11 hours'><doc title='description'><![CDATA[-11 hours]]></doc></option>
<option value='-10 hours'><doc title='description'><![CDATA[-10 hours]]></doc></option>
<option value='-9 hours'><doc title='description'><![CDATA[-9 hours]]></doc></option>
<option value='-8 hours'><doc title='description'><![CDATA[-8 hours]]></doc></option>
<option value='-7 hours'><doc title='description'><![CDATA[-7 hours]]></doc></option>
<option value='-6 hours'><doc title='description'><![CDATA[-6 hours]]></doc></option>
<option value='-5 hours'><doc title='description'><![CDATA[-5 hours]]></doc></option>
<option value='-4 hours'><doc title='description'><![CDATA[-4 hours]]></doc></option>
<option value='-3 hours'><doc title='description'><![CDATA[-3 hours]]></doc></option>
<option value='-2 hours'><doc title='description'><![CDATA[-2 hours]]></doc></option>
<option value='-1 hours'><doc title='description'><![CDATA[-1 hours]]></doc></option>
<option value='0 hour'><doc title='description'><![CDATA[0 hour]]></doc></option>
<option value='1 hour'><doc title='description'><![CDATA[1 hour]]></doc></option>
<option value='2 hours'><doc title='description'><![CDATA[2 hours]]></doc></option>
<option value='3 hours'><doc title='description'><![CDATA[3 hours]]></doc></option>
<option value='4 hours'><doc title='description'><![CDATA[4 hours]]></doc></option>
<option value='5 hours'><doc title='description'><![CDATA[5 hours]]></doc></option>
<option value='6 hours'><doc title='description'><![CDATA[6 hours]]></doc></option>
<option value='7 hours'><doc title='description'><![CDATA[7 hours]]></doc></option>
<option value='8 hours'><doc title='description'><![CDATA[8 hours]]></doc></option>
<option value='9 hours'><doc title='description'><![CDATA[9 hours]]></doc></option>
<option value='10 hours'><doc title='description'><![CDATA[10 hours]]></doc></option>
<option value='11 hours'><doc title='description'><![CDATA[11 hours]]></doc></option>
<option value='12 hours'><doc title='description'><![CDATA[12 hours]]></doc></option>
<option value='13 hours'><doc title='description'><![CDATA[13 hours]]></doc></option>
<option value='14 hours'><doc title='description'><![CDATA[14 hours]]></doc></option>
<option value='15 hours'><doc title='description'><![CDATA[15 hours]]></doc></option>
<option value='16 hours'><doc title='description'><![CDATA[16 hours]]></doc></option>
<option value='17 hours'><doc title='description'><![CDATA[17 hours]]></doc></option>
<option value='18 hours'><doc title='description'><![CDATA[18 hours]]></doc></option>
<option value='19 hours'><doc title='description'><![CDATA[19 hours]]></doc></option>
<option value='20 hours'><doc title='description'><![CDATA[20 hours]]></doc></option>
<option value='21 hours'><doc title='description'><![CDATA[21 hours]]></doc></option>
<option value='22 hours'><doc title='description'><![CDATA[22 hours]]></doc></option>
<option value='23 hours'><doc title='description'><![CDATA[23 hours]]></doc></option>
<option value='24 hours'><doc title='description'><![CDATA[24 hours]]></doc></option>
</param>
<param name='o-fields' type='xsd:string' required='false' default='none' repeating='true'>
<doc title='prompt'><![CDATA[Output Fields]]></doc>
<doc title='help'><![CDATA[Single valued attributes of the feature.]]></doc>
<doc title='default'><![CDATA[none]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='all'><doc title='description'>Show all attributes</doc></option>
<option value='none'><doc title='description'>Show no attributes</doc></option>
<option value='primary_key'><doc title='description'><![CDATA[Gene]]></doc></option>
<option value='formatted_gene_id'><doc title='description'><![CDATA[Gene Group]]></doc></option>
<option value='sequence_id'><doc title='description'><![CDATA[Genomic Sequence ID]]></doc></option>
<option value='chromosome'><doc title='description'><![CDATA[Chromosome]]></doc></option>
<option value='location_text'><doc title='description'><![CDATA[Genomic Location]]></doc></option>
<option value='strand'><doc title='description'><![CDATA[Gene Strand]]></doc></option>
<option value='gene_type'><doc title='description'><![CDATA[Gene Type]]></doc></option>
<option value='exon_count'><doc title='description'><![CDATA[# Exons]]></doc></option>
<option value='transcript_length'><doc title='description'><![CDATA[Transcript Length]]></doc></option>
<option value='cds_length'><doc title='description'><![CDATA[CDS Length]]></doc></option>
<option value='product'><doc title='description'><![CDATA[Product Description]]></doc></option>
<option value='protein_length'><doc title='description'><![CDATA[Protein Length]]></doc></option>
<option value='tm_count'><doc title='description'><![CDATA[# TM Domains]]></doc></option>
<option value='molecular_weight'><doc title='description'><![CDATA[Molecular Weight]]></doc></option>
<option value='isoelectric_point'><doc title='description'><![CDATA[Isoelectric Point]]></doc></option>
<option value='ec_numbers_string'><doc title='description'><![CDATA[EC Numbers]]></doc></option>
<option value='ortholog_number'><doc title='description'><![CDATA[Ortholog count]]></doc></option>
<option value='paralog_number'><doc title='description'><![CDATA[Paralog count]]></doc></option>
<option value='orthomcl_name'><doc title='description'><![CDATA[Ortholog Group]]></doc></option>
<option value='signalp_scores'><doc title='description'><![CDATA[SignalP Scores]]></doc></option>
<option value='signalp_peptide'><doc title='description'><![CDATA[SignalP Peptide]]></doc></option>
<option value='ann_go_function'><doc title='description'><![CDATA[Annotated GO Function]]></doc></option>
<option value='ann_go_process'><doc title='description'><![CDATA[Annotated GO Process]]></doc></option>
<option value='ann_go_component'><doc title='description'><![CDATA[Annotated GO Component]]></doc></option>
<option value='pred_go_function'><doc title='description'><![CDATA[Predicted GO Function]]></doc></option>
<option value='pred_go_process'><doc title='description'><![CDATA[Predicted GO Process]]></doc></option>
<option value='pred_go_component'><doc title='description'><![CDATA[Predicted GO Component]]></doc></option>
<option value='organism'><doc title='description'><![CDATA[Organism]]></doc></option>
<option value='is_pseudo'><doc title='description'><![CDATA[Is Pseudo]]></doc></option>
<option value='protein_sequence'><doc title='description'><![CDATA[Predicted Protein Sequence]]></doc></option>
<option value='transcript_sequence'><doc title='description'><![CDATA[Predicted RNA/mRNA Sequence (introns spliced out)]]></doc></option>
<option value='cds'><doc title='description'><![CDATA[Coding Sequence]]></doc></option>
<option value='wdk_weight'><doc title='description'><![CDATA[Weight]]></doc></option>
<option value='distance'><doc title='description'><![CDATA[Profile Distance]]></doc></option>
<option value='time_shift'><doc title='description'><![CDATA[Time Shift]]></doc></option>
</param>
<param name='o-tables' type='xsd:string' required='false' default='none' repeating='true'>
<doc title='prompt'><![CDATA[Output Tables]]></doc>
<doc title='help'><![CDATA[Multi-valued attributes of the feature.]]></doc>
<doc title='default'><![CDATA[none]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='all'><doc title='description'>Show all tables</doc></option>
<option value='none'><doc title='description'>Show no tables</doc></option>
<option value='SNPs'><doc title='description'><![CDATA[SNPs Summary]]></doc></option>
<option value='GeneModelDump'><doc title='description'><![CDATA[Gene Model]]></doc></option>
<option value='InterPro'><doc title='description'><![CDATA[InterPro Domains]]></doc></option>
<option value='TMHMM'><doc title='description'><![CDATA[Transmembrane Domains]]></doc></option>
<option value='LowComplexity'><doc title='description'><![CDATA[Low Complexity Regions]]></doc></option>
<option value='SignalP'><doc title='description'><![CDATA[Signal Peptide]]></doc></option>
<option value='BlastP'><doc title='description'><![CDATA[BlastP Hits]]></doc></option>
<option value='Genbank'><doc title='description'><![CDATA[Gene Location]]></doc></option>
<option value='SageTags'><doc title='description'><![CDATA[Sage Tags]]></doc></option>
<option value='Notes'><doc title='description'><![CDATA[Notes]]></doc></option>
<option value='UserComments'><doc title='description'><![CDATA[User Comments]]></doc></option>
<option value='CommunityExpComments'><doc title='description'><![CDATA[Community Annotations]]></doc></option>
<option value='EcNumber'><doc title='description'><![CDATA[EC Number]]></doc></option>
<option value='MassSpec'><doc title='description'><![CDATA[Mass Spec.-based Expression Evidence]]></doc></option>
<option value='GoTerms'><doc title='description'><![CDATA[GO Terms]]></doc></option>
<option value='Phenotype'><doc title='description'><![CDATA[Phenotype]]></doc></option>
<option value='Y2hInteractions'><doc title='description'><![CDATA[Y2H Interactions]]></doc></option>
<option value='Orthologs'><doc title='description'><![CDATA[Orthologs and Paralogs within EuPathDB]]></doc></option>
<option value='MetabolicPathways'><doc title='description'><![CDATA[Metabolic Pathways]]></doc></option>
<option value='TaskComments'><doc title='description'><![CDATA[Toxoplasma Genome Sequencing Project Annotation]]></doc></option>
<option value='ArrayElements'><doc title='description'><![CDATA[Mapped Array Elements]]></doc></option>
<option value='TwoChannelDiffExpr'><doc title='description'><![CDATA[P.Berghei Differential Expression - DOZI KO vs. WT]]></doc></option>
<option value='ProteinExpression'><doc title='description'><![CDATA[P.Berghei Protein Expression]]></doc></option>
<option value='Mr4Reagents'><doc title='description'><![CDATA[MR4 Reagents]]></doc></option>
<option value='ProteinDatabase'><doc title='description'><![CDATA[Protein Linkouts]]></doc></option>
<option value='GeneLinkouts'><doc title='description'><![CDATA[External Links]]></doc></option>
<option value='3dPreds'><doc title='description'><![CDATA[3D Structure Predictions]]></doc></option>
<option value='PdbSimilarities'><doc title='description'><![CDATA[Similarities to Protein Data Bank (PDB) Chains]]></doc></option>
<option value='Epitopes'><doc title='description'><![CDATA[Epitopes from IEDB]]></doc></option>
<option value='IsolateOverlap'><doc title='description'><![CDATA[Isolates]]></doc></option>
</param>
</request>
<response>
<representation mediaType='text/xml'/>
<representation mediaType='text/plain'/>
</response>
</method>
</resource>
</resources>
</application>
