Books/XML-and-Web-technology/Data/WADL/GiardiaGenesByExpressionPercentileProfile.wadl

<?xml version='1.0'?>
<application xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance' xsi:schemaLocation='http://wadl.dev.java.net/2009/02 wadl.xsd' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns='http://wadl.dev.java.net/2009/02'>
<resources base='http://eupathdb.org/webservices/'>
<resource path='GeneQuestions'>
<resource path='GiardiaGenesByExpressionPercentileProfile.xml'>
<method href='#giardiagenesbyexpressionpercentileprofile'/>
</resource>
<resource path='GiardiaGenesByExpressionPercentileProfile.json'>
<method href='#giardiagenesbyexpressionpercentileprofile'/>
</resource>
<method name='POST' id='giardiagenesbyexpressionpercentileprofile'>
<doc title='display_name'><![CDATA[G.l. Stress Response in Trophozoites (percentile)]]></doc>
<doc title='summary'><![CDATA[Find genes by expression percentile analysis]]></doc>
<doc title='description'><![CDATA[<p>Find genes whose expression percentile was found to be within a certain percentile range in ANY Giardia lamblia Trophozoite Treated or Control Samples chosen.</p>
<br />
<p><sup>1</sup>Giardia lamblia strain WBC6 (ATCC catalog No. 50803) trophozoites were grown in 11 ml TYI-S-33 medium supplemented with 10% fetal bovine serum and bovine bile.Parasites were grown to confluency at 37 degrees C, and medium was replaced prior to stress induction. Redox stress was induced by addition of Dithiothreitol (DTT, Fluka 43817) for 30 minutes to final concentrations of 7.1 mM, 14.2 mM or 21.3 mM.  In the control cultures an equivalent amount of water was used. Temperature stress (40 degrees C) was induced by incubating parasites for 30 minutes at 40 degrees C (control 37 degrees C).</p>
<br />

<p><sup>2</sup>Giardia lamblia strain WBC6 (ATCC catalog No. 50803) trophozoites were grown in 11 ml TYI-S-33 medium supplemented with 10% fetal bovine serum and bovine bile. Parasites were grown to confluency at 37 degrees C, and medium was replaced prior to stress induction. Redox stress was induced by addition of Dithiothreitol (DTT, Fluka 43817) to a final concentration of 14.2 mM for 30 minutes, 1 or 2 hours.  In the control culture an equivalent amount of water was used.</p>
<br/>

<p>Data were provided by the Hehl lab (C. Spycher, L. Morf) and the Functional Genomics Center Zurich ( H. Rehrauer, C. Aquino Fournier, J. Sobek).</p>
<br />]]></doc>
<request>
<param name='expressionPercentileSamples' type='xsd:string' required='true' default='Stress Response percentiles by temperature or varying DTT concentrations-red values|Control' repeating='true'>
<doc title='prompt'><![CDATA[Sample Group]]></doc>
<doc title='help'><![CDATA[The percentile was calculated on the mean of each sample group over all the spots on the array.]]></doc>
<doc title='default'><![CDATA[Stress Response percentiles by temperature or varying DTT concentrations-red values|Control]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='Stress Response percentiles by temperature or varying DTT concentrations-red values|Control'><doc title='description'><![CDATA[Control<sup>1</sup>]]></doc></option>
<option value='Stress Response percentiles by temperature or varying DTT concentrations-red values|7.1mM DTT'><doc title='description'><![CDATA[30min 7.1mM DTT<sup>1</sup>]]></doc></option>
<option value='Stress Response percentiles by temperature or varying DTT concentrations-red values|14.2mM DTT'><doc title='description'><![CDATA[30min 14.2mM DTT<sup>1</sup>]]></doc></option>
<option value='Stress Response percentiles by temperature or varying DTT concentrations-red values|21.3mM DTT'><doc title='description'><![CDATA[30min 21.3mM DTT<sup>1</sup>]]></doc></option>
<option value='Stress Response percentiles by temperature or varying DTT concentrations-red values|40 C'><doc title='description'><![CDATA[30min 40C<sup>1</sup>]]></doc></option>
<option value='Stress Response percentiles by varying DTT incubation time-red values|Control'><doc title='description'><![CDATA[Control<sup>2</sup>]]></doc></option>
<option value='Stress Response percentiles by varying DTT incubation time-red values|30min 14.2mM DTT'><doc title='description'><![CDATA[30min 14.2mM DTT<sup>2</sup>]]></doc></option>
<option value='Stress Response percentiles by varying DTT incubation time-red values|60min 14.2mM DTT'><doc title='description'><![CDATA[60min 14.2mM DTT<sup>2</sup>]]></doc></option>
<option value='Stress Response percentiles by varying DTT incubation time-red values|120min 14.2mM DTT'><doc title='description'><![CDATA[120min 14.2mM DTT<sup>2</sup>]]></doc></option>
</param>
<param name='min_expression_percentile' type='xsd:string' required='true' default='80' >
<doc title='prompt'><![CDATA[Minimum expression percentile]]></doc>
<doc title='help'><![CDATA[Lower bound on expression percentile.]]></doc>
<doc title='default'><![CDATA[80]]></doc>
</param>
<param name='max_expression_percentile' type='xsd:string' required='true' default='100' >
<doc title='prompt'><![CDATA[Maximum expression percentile]]></doc>
<doc title='help'><![CDATA[Upper bound on expression percentile.]]></doc>
<doc title='default'><![CDATA[100]]></doc>
</param>
<param name='o-fields' type='xsd:string' required='false' default='none' repeating='true'>
<doc title='prompt'><![CDATA[Output Fields]]></doc>
<doc title='help'><![CDATA[Single valued attributes of the feature.]]></doc>
<doc title='default'><![CDATA[none]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='all'><doc title='description'>Show all attributes</doc></option>
<option value='none'><doc title='description'>Show no attributes</doc></option>
<option value='primary_key'><doc title='description'><![CDATA[Gene]]></doc></option>
<option value='formatted_gene_id'><doc title='description'><![CDATA[Gene Group]]></doc></option>
<option value='sequence_id'><doc title='description'><![CDATA[Genomic Sequence ID]]></doc></option>
<option value='chromosome'><doc title='description'><![CDATA[Chromosome]]></doc></option>
<option value='location_text'><doc title='description'><![CDATA[Genomic Location]]></doc></option>
<option value='strand'><doc title='description'><![CDATA[Gene Strand]]></doc></option>
<option value='gene_type'><doc title='description'><![CDATA[Gene Type]]></doc></option>
<option value='exon_count'><doc title='description'><![CDATA[# Exons]]></doc></option>
<option value='transcript_length'><doc title='description'><![CDATA[Transcript Length]]></doc></option>
<option value='cds_length'><doc title='description'><![CDATA[CDS Length]]></doc></option>
<option value='product'><doc title='description'><![CDATA[Product Description]]></doc></option>
<option value='protein_length'><doc title='description'><![CDATA[Protein Length]]></doc></option>
<option value='tm_count'><doc title='description'><![CDATA[# TM Domains]]></doc></option>
<option value='molecular_weight'><doc title='description'><![CDATA[Molecular Weight]]></doc></option>
<option value='isoelectric_point'><doc title='description'><![CDATA[Isoelectric Point]]></doc></option>
<option value='ec_numbers_string'><doc title='description'><![CDATA[EC Numbers]]></doc></option>
<option value='ortholog_number'><doc title='description'><![CDATA[Ortholog count]]></doc></option>
<option value='paralog_number'><doc title='description'><![CDATA[Paralog count]]></doc></option>
<option value='orthomcl_name'><doc title='description'><![CDATA[Ortholog Group]]></doc></option>
<option value='signalp_scores'><doc title='description'><![CDATA[SignalP Scores]]></doc></option>
<option value='signalp_peptide'><doc title='description'><![CDATA[SignalP Peptide]]></doc></option>
<option value='ann_go_function'><doc title='description'><![CDATA[Annotated GO Function]]></doc></option>
<option value='ann_go_process'><doc title='description'><![CDATA[Annotated GO Process]]></doc></option>
<option value='ann_go_component'><doc title='description'><![CDATA[Annotated GO Component]]></doc></option>
<option value='pred_go_function'><doc title='description'><![CDATA[Predicted GO Function]]></doc></option>
<option value='pred_go_process'><doc title='description'><![CDATA[Predicted GO Process]]></doc></option>
<option value='pred_go_component'><doc title='description'><![CDATA[Predicted GO Component]]></doc></option>
<option value='organism'><doc title='description'><![CDATA[Organism]]></doc></option>
<option value='is_pseudo'><doc title='description'><![CDATA[Is Pseudo]]></doc></option>
<option value='protein_sequence'><doc title='description'><![CDATA[Predicted Protein Sequence]]></doc></option>
<option value='transcript_sequence'><doc title='description'><![CDATA[Predicted RNA/mRNA Sequence (introns spliced out)]]></doc></option>
<option value='cds'><doc title='description'><![CDATA[Coding Sequence]]></doc></option>
<option value='wdk_weight'><doc title='description'><![CDATA[Weight]]></doc></option>
</param>
<param name='o-tables' type='xsd:string' required='false' default='none' repeating='true'>
<doc title='prompt'><![CDATA[Output Tables]]></doc>
<doc title='help'><![CDATA[Multi-valued attributes of the feature.]]></doc>
<doc title='default'><![CDATA[none]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='all'><doc title='description'>Show all tables</doc></option>
<option value='none'><doc title='description'>Show no tables</doc></option>
<option value='SNPs'><doc title='description'><![CDATA[SNPs Summary]]></doc></option>
<option value='GeneModelDump'><doc title='description'><![CDATA[Gene Model]]></doc></option>
<option value='InterPro'><doc title='description'><![CDATA[InterPro Domains]]></doc></option>
<option value='TMHMM'><doc title='description'><![CDATA[Transmembrane Domains]]></doc></option>
<option value='LowComplexity'><doc title='description'><![CDATA[Low Complexity Regions]]></doc></option>
<option value='SignalP'><doc title='description'><![CDATA[Signal Peptide]]></doc></option>
<option value='BlastP'><doc title='description'><![CDATA[BlastP Hits]]></doc></option>
<option value='Genbank'><doc title='description'><![CDATA[Gene Location]]></doc></option>
<option value='SageTags'><doc title='description'><![CDATA[Sage Tags]]></doc></option>
<option value='Notes'><doc title='description'><![CDATA[Notes]]></doc></option>
<option value='UserComments'><doc title='description'><![CDATA[User Comments]]></doc></option>
<option value='CommunityExpComments'><doc title='description'><![CDATA[Community Annotations]]></doc></option>
<option value='EcNumber'><doc title='description'><![CDATA[EC Number]]></doc></option>
<option value='MassSpec'><doc title='description'><![CDATA[Mass Spec.-based Expression Evidence]]></doc></option>
<option value='GoTerms'><doc title='description'><![CDATA[GO Terms]]></doc></option>
<option value='Phenotype'><doc title='description'><![CDATA[Phenotype]]></doc></option>
<option value='Y2hInteractions'><doc title='description'><![CDATA[Y2H Interactions]]></doc></option>
<option value='Orthologs'><doc title='description'><![CDATA[Orthologs and Paralogs within EuPathDB]]></doc></option>
<option value='MetabolicPathways'><doc title='description'><![CDATA[Metabolic Pathways]]></doc></option>
<option value='TaskComments'><doc title='description'><![CDATA[Toxoplasma Genome Sequencing Project Annotation]]></doc></option>
<option value='ArrayElements'><doc title='description'><![CDATA[Mapped Array Elements]]></doc></option>
<option value='TwoChannelDiffExpr'><doc title='description'><![CDATA[P.Berghei Differential Expression - DOZI KO vs. WT]]></doc></option>
<option value='ProteinExpression'><doc title='description'><![CDATA[P.Berghei Protein Expression]]></doc></option>
<option value='Mr4Reagents'><doc title='description'><![CDATA[MR4 Reagents]]></doc></option>
<option value='ProteinDatabase'><doc title='description'><![CDATA[Protein Linkouts]]></doc></option>
<option value='GeneLinkouts'><doc title='description'><![CDATA[External Links]]></doc></option>
<option value='3dPreds'><doc title='description'><![CDATA[3D Structure Predictions]]></doc></option>
<option value='PdbSimilarities'><doc title='description'><![CDATA[Similarities to Protein Data Bank (PDB) Chains]]></doc></option>
<option value='Epitopes'><doc title='description'><![CDATA[Epitopes from IEDB]]></doc></option>
<option value='IsolateOverlap'><doc title='description'><![CDATA[Isolates]]></doc></option>
</param>
</request>
<response>
<representation mediaType='text/xml'/>
<representation mediaType='text/plain'/>
</response>
</method>
</resource>
</resources>
</application>
