Books/XML-and-Web-technology/Data/WADL/GSSBySimilarity.wadl

<?xml version='1.0'?>
<application xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance' xsi:schemaLocation='http://wadl.dev.java.net/2009/02 wadl.xsd' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns='http://wadl.dev.java.net/2009/02'>
<resources base='http://eupathdb.org/webservices/'>
<resource path='GenomicSequenceQuestions'>
<resource path='GSSBySimilarity.xml'>
<method href='#gssbysimilarity'/>
</resource>
<resource path='GSSBySimilarity.json'>
<method href='#gssbysimilarity'/>
</resource>
<method name='POST' id='gssbysimilarity'>
<doc title='display_name'><![CDATA[BLAST]]></doc>
<doc title='summary'><![CDATA[Find Genome Survey Sequences that have BLAST similarity to your input sequence.]]></doc>
<doc title='description'><![CDATA[This query finds <b>contigs</b> with BLAST matches to an input sequence. 
        The <a href="http://blast.wustl.edu/" target="_blank">WU BLAST</a> program is used to 
        search against coding nucleotide (CDS) or  protein sequence from annotatated gene models.]]></doc>
<request>
<param name='BlastDatabaseType' type='xsd:string' required='true' default='Transcripts' repeating='false'>
<doc title='prompt'><![CDATA[Target Data Type]]></doc>
<doc title='help'><![CDATA[Select the data type that you want to blast against.]]></doc>
<doc title='default'><![CDATA[Transcripts]]></doc>
<doc title='SingleValued'>Choose at most one value from the options</doc>
<option value='Transcripts'><doc title='description'><![CDATA[Transcripts]]></doc></option>
<option value='Proteins'><doc title='description'><![CDATA[Proteins]]></doc></option>
<option value='Genome'><doc title='description'><![CDATA[Genome]]></doc></option>
<option value='ORF'><doc title='description'><![CDATA[ORF]]></doc></option>
<option value='EST'><doc title='description'><![CDATA[EST]]></doc></option>
<option value='Assemblies'><doc title='description'><![CDATA[Assemblies]]></doc></option>
<option value='Isolates'><doc title='description'><![CDATA[Isolates]]></doc></option>
<option value='Genome Survey Sequences'><doc title='description'><![CDATA[Genome Survey Sequences]]></doc></option>
</param>
<param name='BlastAlgorithm' type='xsd:string' required='true' default='blastn' repeating='false'>
<doc title='prompt'><![CDATA[BLAST Program]]></doc>
<doc title='help'><![CDATA[The Blast Program that will be executed: <b> blastp </b>  compares an aminoacid query sequence against a protein sequence database;  <b> blastn  </b> compares a nucleotide query sequence against a nucleotide sequence database; <b> blastx  </b> compares the six-frame conceptual translation products of a nucleotide query sequence (both strands) against a protein sequence database;  <b>tblastn  </b> compares a protein query sequence against a nucleotide sequence database dynamically translated in all six reading frames (both strands);  <b>tblastx  </b>  compares the six-frame translations of a nucleotide query sequence against the six-frame translations of a nucleotide sequence database.]]></doc>
<doc title='default'><![CDATA[blastn]]></doc>
<doc title='SingleValued'>Choose at most one value from the options</doc>
<option value='blastn'><doc title='description'><![CDATA[blastn]]></doc></option>
<option value='blastp'><doc title='description'><![CDATA[blastp]]></doc></option>
<option value='blastx'><doc title='description'><![CDATA[blastx]]></doc></option>
<option value='tblastn'><doc title='description'><![CDATA[tblastn]]></doc></option>
<option value='tblastx'><doc title='description'><![CDATA[tblastx]]></doc></option>
</param>
<param name='BlastDatabaseOrganism' type='xsd:string' required='true' default='Genome Survey Sequences' repeating='true'>
<doc title='prompt'><![CDATA[Target Organism]]></doc>
<doc title='help'><![CDATA[Organism(s) from which the sequences in the BLAST database originated]]></doc>
<doc title='default'><![CDATA[Genome Survey Sequences]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='Genome Survey Sequences'><doc title='description'><![CDATA[Genome Survey Sequences]]></doc></option>
</param>
<param name='BlastQuerySequence' type='xsd:string' required='true' default='' >
<doc title='prompt'><![CDATA[Input Sequence]]></doc>
<doc title='help'><![CDATA[BLAST Input Sequence (upto 2MB)]]></doc>
<doc title='default'><![CDATA[null]]></doc>
</param>
<param name='-e' type='xsd:string' required='true' default='10' >
<doc title='prompt'><![CDATA[Expectation value]]></doc>
<doc title='help'><![CDATA[Expected number of hits with at least this score. The lower the e- value the more significant the hit.]]></doc>
<doc title='default'><![CDATA[10]]></doc>
</param>
<param name='-v' type='xsd:string' required='true' default='50' >
<doc title='prompt'><![CDATA[Maximum descriptions (V)]]></doc>
<doc title='help'><![CDATA[Number of one-line descriptions to show]]></doc>
<doc title='default'><![CDATA[50]]></doc>
</param>
<param name='-b' type='xsd:string' required='true' default='50' >
<doc title='prompt'><![CDATA[Maximum alignments (B)]]></doc>
<doc title='help'><![CDATA[Number of alignments to show]]></doc>
<doc title='default'><![CDATA[50]]></doc>
</param>
<param name='-filter' type='xsd:string' required='true' default='yes' repeating='false'>
<doc title='prompt'><![CDATA[Low complexity filter]]></doc>
<doc title='help'><![CDATA[If this filter is set to yes, you will omit results which contain repetitive and low complexity sequence.]]></doc>
<doc title='default'><![CDATA[yes]]></doc>
<doc title='SingleValued'>Choose at most one value from the options</doc>
<option value='yes'><doc title='description'><![CDATA[yes]]></doc></option>
<option value='no'><doc title='description'><![CDATA[no]]></doc></option>
</param>
<param name='o-fields' type='xsd:string' required='false' default='none' repeating='true'>
<doc title='prompt'><![CDATA[Output Fields]]></doc>
<doc title='help'><![CDATA[Single valued attributes of the feature.]]></doc>
<doc title='default'><![CDATA[none]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='all'><doc title='description'>Show all attributes</doc></option>
<option value='none'><doc title='description'>Show no attributes</doc></option>
<option value='primary_key'><doc title='description'><![CDATA[Sequence ID]]></doc></option>
<option value='organism'><doc title='description'><![CDATA[Organism]]></doc></option>
<option value='chromosome'><doc title='description'><![CDATA[Chromosome]]></doc></option>
<option value='a_count'><doc title='description'><![CDATA[A Count]]></doc></option>
<option value='c_count'><doc title='description'><![CDATA[C Count]]></doc></option>
<option value='g_count'><doc title='description'><![CDATA[G Count]]></doc></option>
<option value='t_count'><doc title='description'><![CDATA[T Count]]></doc></option>
<option value='other_count'><doc title='description'><![CDATA[Other Count]]></doc></option>
<option value='formatted_length'><doc title='description'><![CDATA[Length]]></doc></option>
<option value='at_percent'><doc title='description'><![CDATA[AT Percent]]></doc></option>
<option value='organism_text'><doc title='description'><![CDATA[Organism]]></doc></option>
<option value='sequence_description'><doc title='description'><![CDATA[Description]]></doc></option>
<option value='genbank_accession'><doc title='description'><![CDATA[GenBank]]></doc></option>
<option value='source_id'><doc title='description'><![CDATA[source_id]]></doc></option>
<option value='project_id'><doc title='description'><![CDATA[project_id]]></doc></option>
<option value='wdk_weight'><doc title='description'><![CDATA[Weight]]></doc></option>
</param>
<param name='o-tables' type='xsd:string' required='false' default='none' repeating='true'>
<doc title='prompt'><![CDATA[Output Tables]]></doc>
<doc title='help'><![CDATA[Multi-valued attributes of the feature.]]></doc>
<doc title='default'><![CDATA[none]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='all'><doc title='description'>Show all tables</doc></option>
<option value='none'><doc title='description'>Show no tables</doc></option>
<option value='SequencePieces'><doc title='description'><![CDATA[Genomic Assembly]]></doc></option>
<option value='Aliases'><doc title='description'><![CDATA[Previous Identifiers and Aliases]]></doc></option>
<option value='Centromere'><doc title='description'><![CDATA[Centromere]]></doc></option>
</param>
</request>
<response>
<representation mediaType='text/xml'/>
<representation mediaType='text/plain'/>
</response>
</method>
</resource>
</resources>
</application>
