Books/XML-and-Web-technology/Data/WADL/IsolatesByTextSearch.wadl

<?xml version='1.0'?>
<application xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance' xsi:schemaLocation='http://wadl.dev.java.net/2009/02 wadl.xsd' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns='http://wadl.dev.java.net/2009/02'>
<resources base='http://eupathdb.org/webservices/'>
<resource path='IsolateQuestions'>
<resource path='IsolatesByTextSearch.xml'>
<method href='#isolatesbytextsearch'/>
</resource>
<resource path='IsolatesByTextSearch.json'>
<method href='#isolatesbytextsearch'/>
</resource>
<method name='POST' id='isolatesbytextsearch'>
<doc title='display_name'><![CDATA[Text (search product name, notes, submitter etc.)]]></doc>
<doc title='summary'><![CDATA[Find isolates with a text search against their reference or gene info.]]></doc>
<doc title='description'><![CDATA[Find isolates by searching text annotations.  The search compares your term against the text in the fields you specify, returning isolates that have a match. Remember to select your species/organism of interest (more than one species may be selected).  
<p>The search is similar to Google: if you enter multiple words, isolates that match more of those words will have a better score than those that match fewer of the words.  If the words are found close together, that also improves the score. You may use '*' as a wild card character.
<p>
<i>Note about non-relevant results</i>:  Depending on how you configure it, this text search may return "non-relevant" isolates (false positives).  The search mechanically matches the term you supply against the fields described in the Fields parameter.  The presence of your term in that field does not necessarily mean that the term <i>actually describes the isolate</i>.  The term may be mentioned in that field for less relevant reasons.  To work around this, please choose the Fields you want to search carefully, and then, before drawing any conclusions, review the reference to your term in all matched fields in the isolate page to confirm the meaning of its mention.]]></doc>
<request>
<param name='wdk_record_type' type='xsd:string' required='true' default='isolate' >
<doc title='prompt'><![CDATA[wdk_record_type]]></doc>
<doc title='help'><![CDATA[wdk_record_type]]></doc>
<doc title='default'><![CDATA[isolate]]></doc>
</param>
<param name='project_id' type='xsd:string' required='true' default='CryptoDB' repeating='false'>
<doc title='prompt'><![CDATA[project_id]]></doc>
<doc title='help'><![CDATA[project_id]]></doc>
<doc title='default'><![CDATA[CryptoDB]]></doc>
<doc title='SingleValued'>Choose at most one value from the options</doc>
<option value='CryptoDB'><doc title='description'><![CDATA[CryptoDB]]></doc></option>
<option value='PlasmoDB'><doc title='description'><![CDATA[PlasmoDB]]></doc></option>
<option value='ToxoDB'><doc title='description'><![CDATA[ToxoDB]]></doc></option>
<option value='GiardiaDB'><doc title='description'><![CDATA[GiardiaDB]]></doc></option>
<option value='TrichDB'><doc title='description'><![CDATA[TrichDB]]></doc></option>
<option value='TriTrypDB'><doc title='description'><![CDATA[TriTrypDB]]></doc></option>
</param>
<param name='text_expression' type='xsd:string' required='true' default='Cryptosporidium hominis' >
<doc title='prompt'><![CDATA[Text term (use * as wildcard)]]></doc>
<doc title='help'><![CDATA[Enter text you would like to search for. Multiple words may be entered, for example: membrane receptor signal inner.]]></doc>
<doc title='default'><![CDATA[Cryptosporidium hominis]]></doc>
</param>
<param name='text_fields' type='xsd:string' required='true' default='Organism' repeating='true'>
<doc title='prompt'><![CDATA[Fields]]></doc>
<doc title='help'><![CDATA[Choose which text fields to search.]]></doc>
<doc title='default'><![CDATA[Organism]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='Organism'><doc title='description'><![CDATA[Organism]]></doc></option>
<option value='Description'><doc title='description'><![CDATA[Description]]></doc></option>
<option value='Product'><doc title='description'><![CDATA[Product]]></doc></option>
<option value='Strain'><doc title='description'><![CDATA[Strain]]></doc></option>
<option value='Host'><doc title='description'><![CDATA[Host]]></doc></option>
<option value='Note'><doc title='description'><![CDATA[Note]]></doc></option>
<option value='Isolation Source'><doc title='description'><![CDATA[Isolation Source]]></doc></option>
<option value='Geographic Location'><doc title='description'><![CDATA[Geographic Location]]></doc></option>
<option value='Reference'><doc title='description'><![CDATA[Reference]]></doc></option>
<option value='Gene overlap'><doc title='description'><![CDATA[Gene overlap]]></doc></option>
</param>
<param name='o-fields' type='xsd:string' required='false' default='none' repeating='true'>
<doc title='prompt'><![CDATA[Output Fields]]></doc>
<doc title='help'><![CDATA[Single valued attributes of the feature.]]></doc>
<doc title='default'><![CDATA[none]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='all'><doc title='description'>Show all attributes</doc></option>
<option value='none'><doc title='description'>Show no attributes</doc></option>
<option value='primary_key'><doc title='description'><![CDATA[Isolate Id]]></doc></option>
<option value='pcr_primers'><doc title='description'><![CDATA[PCR primer]]></doc></option>
<option value='country'><doc title='description'><![CDATA[Country]]></doc></option>
<option value='organism'><doc title='description'><![CDATA[Organism]]></doc></option>
<option value='strain'><doc title='description'><![CDATA[Strain]]></doc></option>
<option value='specific_host'><doc title='description'><![CDATA[Host]]></doc></option>
<option value='isolation_source'><doc title='description'><![CDATA[Isolation Source]]></doc></option>
<option value='description'><doc title='description'><![CDATA[Description]]></doc></option>
<option value='note'><doc title='description'><![CDATA[Note]]></doc></option>
<option value='product'><doc title='description'><![CDATA[Isolate Product]]></doc></option>
<option value='data_type'><doc title='description'><![CDATA[Isolate Type]]></doc></option>
<option value='collected_by'><doc title='description'><![CDATA[Collected By]]></doc></option>
<option value='length'><doc title='description'><![CDATA[Length]]></doc></option>
<option value='external_db_name'><doc title='description'><![CDATA[External DB Name]]></doc></option>
<option value='external_db_version'><doc title='description'><![CDATA[External DB Version]]></doc></option>
<option value='sequence'><doc title='description'><![CDATA[DNA Sequence]]></doc></option>
<option value='wdk_weight'><doc title='description'><![CDATA[Weight]]></doc></option>
<option value='fields_matched'><doc title='description'><![CDATA[Found in]]></doc></option>
<option value='max_score'><doc title='description'><![CDATA[Score]]></doc></option>
</param>
<param name='o-tables' type='xsd:string' required='false' default='none' repeating='true'>
<doc title='prompt'><![CDATA[Output Tables]]></doc>
<doc title='help'><![CDATA[Multi-valued attributes of the feature.]]></doc>
<doc title='default'><![CDATA[none]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='all'><doc title='description'>Show all tables</doc></option>
<option value='none'><doc title='description'>Show no tables</doc></option>
<option value='Reference'><doc title='description'><![CDATA[Reference]]></doc></option>
<option value='GeneOverlap'><doc title='description'><![CDATA[Blast Similarity Alignments and Overlapping Genes]]></doc></option>
<option value='IsolateComments'><doc title='description'><![CDATA[User Comments]]></doc></option>
<option value='ProteinSequence'><doc title='description'><![CDATA[Protein Sequence]]></doc></option>
<option value='organism'><doc title='description'><![CDATA[Organism]]></doc></option>
<option value='description'><doc title='description'><![CDATA[Description]]></doc></option>
<option value='product'><doc title='description'><![CDATA[Product]]></doc></option>
<option value='host'><doc title='description'><![CDATA[Host]]></doc></option>
<option value='note'><doc title='description'><![CDATA[Note]]></doc></option>
<option value='isolation_source'><doc title='description'><![CDATA[Isolation Source]]></doc></option>
<option value='geographic_location'><doc title='description'><![CDATA[Geographic Location]]></doc></option>
<option value='SNP'><doc title='description'><![CDATA[Isolates SNP Features]]></doc></option>
</param>
</request>
<response>
<representation mediaType='text/xml'/>
<representation mediaType='text/plain'/>
</response>
</method>
</resource>
</resources>
</application>
