Books/XML-and-Web-technology/Data/WADL/IsolateByIsolationSource.wadl

<?xml version='1.0'?>
<application xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance' xsi:schemaLocation='http://wadl.dev.java.net/2009/02 wadl.xsd' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns='http://wadl.dev.java.net/2009/02'>
<resources base='http://eupathdb.org/webservices/'>
<resource path='IsolateQuestions'>
<resource path='IsolateByIsolationSource.xml'>
<method href='#isolatebyisolationsource'/>
</resource>
<resource path='IsolateByIsolationSource.json'>
<method href='#isolatebyisolationsource'/>
</resource>
<method name='POST' id='isolatebyisolationsource'>
<doc title='display_name'><![CDATA[Isolation Source]]></doc>
<doc title='summary'><![CDATA[Find isolates by isolation source.]]></doc>
<doc title='description'><![CDATA[Find isolates by isolation source.]]></doc>
<request>
<param name='isolation_source' type='xsd:string' required='true' default='Unknown' repeating='true'>
<doc title='prompt'><![CDATA[Isolation Source]]></doc>
<doc title='help'><![CDATA[Isolation Source]]></doc>
<doc title='default'><![CDATA[Unknown]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='Unknown'><doc title='description'><![CDATA[Unknown]]></doc></option>
<option value='Feces'><doc title='description'><![CDATA[Feces]]></doc></option>
<option value='Other Source'><doc title='description'><![CDATA[Other Source]]></doc></option>
<option value='Water'><doc title='description'><![CDATA[Water]]></doc></option>
<option value='Blood'><doc title='description'><![CDATA[Blood]]></doc></option>
<option value='Placenta'><doc title='description'><![CDATA[Placenta]]></doc></option>
<option value='Brain'><doc title='description'><![CDATA[Brain]]></doc></option>
</param>
<param name='o-fields' type='xsd:string' required='false' default='none' repeating='true'>
<doc title='prompt'><![CDATA[Output Fields]]></doc>
<doc title='help'><![CDATA[Single valued attributes of the feature.]]></doc>
<doc title='default'><![CDATA[none]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='all'><doc title='description'>Show all attributes</doc></option>
<option value='none'><doc title='description'>Show no attributes</doc></option>
<option value='primary_key'><doc title='description'><![CDATA[Isolate Id]]></doc></option>
<option value='pcr_primers'><doc title='description'><![CDATA[PCR primer]]></doc></option>
<option value='country'><doc title='description'><![CDATA[Country]]></doc></option>
<option value='organism'><doc title='description'><![CDATA[Organism]]></doc></option>
<option value='strain'><doc title='description'><![CDATA[Strain]]></doc></option>
<option value='specific_host'><doc title='description'><![CDATA[Host]]></doc></option>
<option value='isolation_source'><doc title='description'><![CDATA[Isolation Source]]></doc></option>
<option value='description'><doc title='description'><![CDATA[Description]]></doc></option>
<option value='note'><doc title='description'><![CDATA[Note]]></doc></option>
<option value='product'><doc title='description'><![CDATA[Isolate Product]]></doc></option>
<option value='data_type'><doc title='description'><![CDATA[Isolate Type]]></doc></option>
<option value='collected_by'><doc title='description'><![CDATA[Collected By]]></doc></option>
<option value='length'><doc title='description'><![CDATA[Length]]></doc></option>
<option value='external_db_name'><doc title='description'><![CDATA[External DB Name]]></doc></option>
<option value='external_db_version'><doc title='description'><![CDATA[External DB Version]]></doc></option>
<option value='sequence'><doc title='description'><![CDATA[DNA Sequence]]></doc></option>
<option value='wdk_weight'><doc title='description'><![CDATA[Weight]]></doc></option>
</param>
<param name='o-tables' type='xsd:string' required='false' default='none' repeating='true'>
<doc title='prompt'><![CDATA[Output Tables]]></doc>
<doc title='help'><![CDATA[Multi-valued attributes of the feature.]]></doc>
<doc title='default'><![CDATA[none]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='all'><doc title='description'>Show all tables</doc></option>
<option value='none'><doc title='description'>Show no tables</doc></option>
<option value='Reference'><doc title='description'><![CDATA[Reference]]></doc></option>
<option value='GeneOverlap'><doc title='description'><![CDATA[Blast Similarity Alignments and Overlapping Genes]]></doc></option>
<option value='IsolateComments'><doc title='description'><![CDATA[User Comments]]></doc></option>
<option value='ProteinSequence'><doc title='description'><![CDATA[Protein Sequence]]></doc></option>
<option value='organism'><doc title='description'><![CDATA[Organism]]></doc></option>
<option value='description'><doc title='description'><![CDATA[Description]]></doc></option>
<option value='product'><doc title='description'><![CDATA[Product]]></doc></option>
<option value='host'><doc title='description'><![CDATA[Host]]></doc></option>
<option value='note'><doc title='description'><![CDATA[Note]]></doc></option>
<option value='isolation_source'><doc title='description'><![CDATA[Isolation Source]]></doc></option>
<option value='geographic_location'><doc title='description'><![CDATA[Geographic Location]]></doc></option>
<option value='SNP'><doc title='description'><![CDATA[Isolates SNP Features]]></doc></option>
</param>
</request>
<response>
<representation mediaType='text/xml'/>
<representation mediaType='text/plain'/>
</response>
</method>
</resource>
</resources>
</application>
