Books/XML-and-Web-technology/Data/WADL/OrfQuestions.wadl

<?xml version='1.0'?>
<application xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance' xsi:schemaLocation='http://wadl.dev.java.net/2009/02 wadl.xsd' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns='http://wadl.dev.java.net/2009/02'>
<resources base='http://eupathdb.org/webservices/'>
<resource path='OrfQuestions'>
<resource path='OrfsByLocation.xml'>
<method href='#orfsbylocation'/>
</resource>
<resource path='OrfsByLocation.json'>
<method href='#orfsbylocation'/>
</resource>
<method name='POST' id='orfsbylocation'>
<doc title='display_name'><![CDATA[Genomic Location]]></doc>
<doc title='summary'><![CDATA[Find Orfs that are located in a specified genomic region.]]></doc>
<doc title='description'><![CDATA[Find ORFs within a given genomic region.<br>
          Either select an organism and a genomic sequence from the
          pull-down menu or enter a genomic sequence ID from any EuPathDB
          species (e.g. "AAEL01000057", "Pf3D7_04", "TGME49_chrIa", "ctg02_305", "DS170425").
          
          The Start and End locations correspond to the coordinates of
          the ORF(s) on the chromosome.]]></doc>
<request>
<param name='organism' type='xsd:string' required='true' default='Plasmodium knowlesi' repeating='false'>
<doc title='prompt'><![CDATA[Organism]]></doc>
<doc title='help'><![CDATA[Organism]]></doc>
<doc title='default'><![CDATA[Plasmodium knowlesi]]></doc>
<doc title='SingleValued'>Choose at most one value from the options</doc>
<option value='Cryptosporidium parvum'><doc title='description'><![CDATA[Cryptosporidium parvum]]></doc></option>
<option value='Encephalitozoon cuniculi'><doc title='description'><![CDATA[Encephalitozoon cuniculi]]></doc></option>
<option value='Encephalitozoon intestinalis'><doc title='description'><![CDATA[Encephalitozoon intestinalis]]></doc></option>
<option value='Plasmodium berghei'><doc title='description'><![CDATA[Plasmodium berghei]]></doc></option>
<option value='Plasmodium chabaudi'><doc title='description'><![CDATA[Plasmodium chabaudi]]></doc></option>
<option value='Plasmodium falciparum'><doc title='description'><![CDATA[Plasmodium falciparum]]></doc></option>
<option value='Plasmodium knowlesi'><doc title='description'><![CDATA[Plasmodium knowlesi]]></doc></option>
<option value='Plasmodium vivax'><doc title='description'><![CDATA[Plasmodium vivax]]></doc></option>
<option value='Neospora caninum'><doc title='description'><![CDATA[Neospora caninum]]></doc></option>
<option value='Toxoplasma gondii GT1'><doc title='description'><![CDATA[Toxoplasma gondii GT1]]></doc></option>
<option value='Toxoplasma gondii ME49'><doc title='description'><![CDATA[Toxoplasma gondii ME49]]></doc></option>
<option value='Toxoplasma gondii VEG'><doc title='description'><![CDATA[Toxoplasma gondii VEG]]></doc></option>
<option value='Leishmania braziliensis'><doc title='description'><![CDATA[Leishmania braziliensis]]></doc></option>
<option value='Leishmania infantum'><doc title='description'><![CDATA[Leishmania infantum]]></doc></option>
<option value='Leishmania major'><doc title='description'><![CDATA[Leishmania major]]></doc></option>
<option value='Leishmania mexicana'><doc title='description'><![CDATA[Leishmania mexicana]]></doc></option>
<option value='Trypanosoma brucei Lister str...'><doc title='description'><![CDATA[Trypanosoma brucei Lister str...]]></doc></option>
<option value='Trypanosoma brucei TREU927'><doc title='description'><![CDATA[Trypanosoma brucei TREU927]]></doc></option>
<option value='Trypanosoma brucei gambiense'><doc title='description'><![CDATA[Trypanosoma brucei gambiense]]></doc></option>
<option value='Trypanosoma congolense'><doc title='description'><![CDATA[Trypanosoma congolense]]></doc></option>
<option value='Trypanosoma cruzi CL Brener E...'><doc title='description'><![CDATA[Trypanosoma cruzi CL Brener E...]]></doc></option>
<option value='Trypanosoma cruzi CL Brener N...'><doc title='description'><![CDATA[Trypanosoma cruzi CL Brener N...]]></doc></option>
<option value='Trypanosoma vivax'><doc title='description'><![CDATA[Trypanosoma vivax]]></doc></option>
</param>
<param name='chromosomeOptional' type='xsd:string' required='true' default='Choose chromosome' repeating='false'>
<doc title='prompt'><![CDATA[Chromosome]]></doc>
<doc title='help'><![CDATA[Select chromosome for a selected organism or enter genomic sequence ID. If you provide both you will get both.]]></doc>
<doc title='default'><![CDATA[Choose chromosome]]></doc>
<doc title='SingleValued'>Choose at most one value from the options</doc>
<option value='36'><doc title='description'><![CDATA[36]]></doc></option>
<option value='35'><doc title='description'><![CDATA[35]]></doc></option>
<option value='34'><doc title='description'><![CDATA[34]]></doc></option>
<option value='33'><doc title='description'><![CDATA[33]]></doc></option>
<option value='32'><doc title='description'><![CDATA[32]]></doc></option>
<option value='31'><doc title='description'><![CDATA[31]]></doc></option>
<option value='30'><doc title='description'><![CDATA[30]]></doc></option>
<option value='29'><doc title='description'><![CDATA[29]]></doc></option>
<option value='28'><doc title='description'><![CDATA[28]]></doc></option>
<option value='27'><doc title='description'><![CDATA[27]]></doc></option>
<option value='26'><doc title='description'><![CDATA[26]]></doc></option>
<option value='25'><doc title='description'><![CDATA[25]]></doc></option>
<option value='24'><doc title='description'><![CDATA[24]]></doc></option>
<option value='23'><doc title='description'><![CDATA[23]]></doc></option>
<option value='22'><doc title='description'><![CDATA[22]]></doc></option>
<option value='21'><doc title='description'><![CDATA[21]]></doc></option>
<option value='2'><doc title='description'><![CDATA[2]]></doc></option>
<option value='1'><doc title='description'><![CDATA[1]]></doc></option>
<option value='chromosome 11'><doc title='description'><![CDATA[chromosome 11]]></doc></option>
<option value='chromosome 10'><doc title='description'><![CDATA[chromosome 10]]></doc></option>
<option value='chromosome 9'><doc title='description'><![CDATA[chromosome 9]]></doc></option>
<option value='XI'><doc title='description'><![CDATA[XI]]></doc></option>
<option value='X'><doc title='description'><![CDATA[X]]></doc></option>
<option value='IX'><doc title='description'><![CDATA[IX]]></doc></option>
<option value='VIII'><doc title='description'><![CDATA[VIII]]></doc></option>
<option value='VII'><doc title='description'><![CDATA[VII]]></doc></option>
<option value='VI'><doc title='description'><![CDATA[VI]]></doc></option>
<option value='V'><doc title='description'><![CDATA[V]]></doc></option>
<option value='Choose chromosome'><doc title='description'><![CDATA[Choose chromosome]]></doc></option>
<option value='chromosome 1'><doc title='description'><![CDATA[chromosome 1]]></doc></option>
<option value='chromosome 2'><doc title='description'><![CDATA[chromosome 2]]></doc></option>
<option value='chromosome 3'><doc title='description'><![CDATA[chromosome 3]]></doc></option>
<option value='chromosome 4'><doc title='description'><![CDATA[chromosome 4]]></doc></option>
<option value='chromosome 5'><doc title='description'><![CDATA[chromosome 5]]></doc></option>
<option value='chromosome 6'><doc title='description'><![CDATA[chromosome 6]]></doc></option>
<option value='chromosome 7'><doc title='description'><![CDATA[chromosome 7]]></doc></option>
<option value='chromosome 8'><doc title='description'><![CDATA[chromosome 8]]></doc></option>
<option value='I'><doc title='description'><![CDATA[I]]></doc></option>
<option value='II'><doc title='description'><![CDATA[II]]></doc></option>
<option value='III'><doc title='description'><![CDATA[III]]></doc></option>
<option value='IV'><doc title='description'><![CDATA[IV]]></doc></option>
<option value='3'><doc title='description'><![CDATA[3]]></doc></option>
<option value='4'><doc title='description'><![CDATA[4]]></doc></option>
<option value='5'><doc title='description'><![CDATA[5]]></doc></option>
<option value='6'><doc title='description'><![CDATA[6]]></doc></option>
<option value='7'><doc title='description'><![CDATA[7]]></doc></option>
<option value='8'><doc title='description'><![CDATA[8]]></doc></option>
<option value='9'><doc title='description'><![CDATA[9]]></doc></option>
<option value='10'><doc title='description'><![CDATA[10]]></doc></option>
<option value='11'><doc title='description'><![CDATA[11]]></doc></option>
<option value='12'><doc title='description'><![CDATA[12]]></doc></option>
<option value='13'><doc title='description'><![CDATA[13]]></doc></option>
<option value='14'><doc title='description'><![CDATA[14]]></doc></option>
<option value='un'><doc title='description'><![CDATA[un]]></doc></option>
<option value='Ia'><doc title='description'><![CDATA[Ia]]></doc></option>
<option value='Ib'><doc title='description'><![CDATA[Ib]]></doc></option>
<option value='VIIa'><doc title='description'><![CDATA[VIIa]]></doc></option>
<option value='VIIb'><doc title='description'><![CDATA[VIIb]]></doc></option>
<option value='XII'><doc title='description'><![CDATA[XII]]></doc></option>
<option value='15'><doc title='description'><![CDATA[15]]></doc></option>
<option value='16'><doc title='description'><![CDATA[16]]></doc></option>
<option value='17'><doc title='description'><![CDATA[17]]></doc></option>
<option value='18'><doc title='description'><![CDATA[18]]></doc></option>
<option value='19'><doc title='description'><![CDATA[19]]></doc></option>
<option value='20'><doc title='description'><![CDATA[20]]></doc></option>
</param>
<param name='sequenceId' type='xsd:string' required='false' default='(Example: AAEL01000057)' >
<doc title='prompt'><![CDATA[Genomic sequence ID]]></doc>
<doc title='help'><![CDATA[Enter an identifier for a genomic sequence. The IDs correspond to the accession numbers in the GenBank records supplied by the sequencing centers. Wild cards are permitted in most queries, i.e. use AAEE* to ask for all <i> C.parvum </i> contigs. Genes By Chromosomal Location does not allow wildcards.]]></doc>
<doc title='default'><![CDATA[(Example: AAEL01000057)]]></doc>
</param>
<param name='start_point' type='xsd:string' required='true' default='1' >
<doc title='prompt'><![CDATA[Start at]]></doc>
<doc title='help'><![CDATA[Select the distance (in nucleotides) to the start]]></doc>
<doc title='default'><![CDATA[1]]></doc>
</param>
<param name='end_point' type='xsd:string' required='true' default='0' >
<doc title='prompt'><![CDATA[End Location (0 = end)]]></doc>
<doc title='help'><![CDATA[Select the nucleotide you would like to end in. Note that 0 equals the end so you can get genes right up to the end of the sequence.  The default settings start = 1 and end = 0 will give you results from the entire sequence.]]></doc>
<doc title='default'><![CDATA[0]]></doc>
</param>
<param name='min_orf_length' type='xsd:string' required='true' default='50' >
<doc title='prompt'><![CDATA[Minimum ORF length]]></doc>
<doc title='help'><![CDATA[Enter the minimum length of ORF to return (NOTE: 50 aa is the shortest that have been computed).]]></doc>
<doc title='default'><![CDATA[50]]></doc>
</param>
<param name='o-fields' type='xsd:string' required='false' default='none' repeating='true'>
<doc title='prompt'><![CDATA[Output Fields]]></doc>
<doc title='help'><![CDATA[Single valued attributes of the feature.]]></doc>
<doc title='default'><![CDATA[none]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='all'><doc title='description'>Show all attributes</doc></option>
<option value='none'><doc title='description'>Show no attributes</doc></option>
<option value='primary_key'><doc title='description'><![CDATA[ORF Id]]></doc></option>
<option value='organism'><doc title='description'><![CDATA[Organism]]></doc></option>
<option value='orf_location_text'><doc title='description'><![CDATA[Location]]></doc></option>
<option value='nas_id'><doc title='description'><![CDATA[Sequence ID]]></doc></option>
<option value='orf_start'><doc title='description'><![CDATA[orf_start]]></doc></option>
<option value='orf_end'><doc title='description'><![CDATA[orf_end]]></doc></option>
<option value='orf_start_text'><doc title='description'><![CDATA[Start]]></doc></option>
<option value='orf_end_text'><doc title='description'><![CDATA[End]]></doc></option>
<option value='orf_strand'><doc title='description'><![CDATA[Strand]]></doc></option>
<option value='length'><doc title='description'><![CDATA[Length]]></doc></option>
<option value='organism_text'><doc title='description'><![CDATA[Organism]]></doc></option>
<option value='sequence'><doc title='description'><![CDATA[Sequence]]></doc></option>
<option value='wdk_weight'><doc title='description'><![CDATA[Weight]]></doc></option>
<option value='dynamic_location'><doc title='description'><![CDATA[Location]]></doc></option>
</param>
<param name='o-tables' type='xsd:string' required='false' default='none' repeating='true'>
<doc title='prompt'><![CDATA[Output Tables]]></doc>
<doc title='help'><![CDATA[Multi-valued attributes of the feature.]]></doc>
<doc title='default'><![CDATA[none]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='all'><doc title='description'>Show all tables</doc></option>
<option value='none'><doc title='description'>Show no tables</doc></option>
</param>
</request>
<response>
<representation mediaType='text/xml'/>
<representation mediaType='text/plain'/>
</response>
</method>
<resource path='OrfByOrfId.xml'>
<method href='#orfbyorfid'/>
</resource>
<resource path='OrfByOrfId.json'>
<method href='#orfbyorfid'/>
</resource>
<method name='POST' id='orfbyorfid'>
<doc title='display_name'><![CDATA[Orfs by ID]]></doc>
<doc title='summary'><![CDATA[Find ORFs by ID.]]></doc>
<doc title='description'><![CDATA[Find open reading frames (ORFs) by ID. The ORF ID and sequences may change from release to release if the genomic sequence changes.
             The ORF naming system is designed to:
             <ul>
             <li>Specify the name of the DNA sequence producing the ORF, e.g. AAEL01000259</li>
             <li>The Frame (1-6) the ORF was found in, e.g. 5</li>
             <li>The span, in nucleotides, encoding the ORF, e.g. 3339-3085</li>
             <li>Putting it all together: AAEL01000259-5-3339-3085</li>
             </ul>]]></doc>
<request>
<param name='orf_id' type='xsd:string' required='true' default='AAEL01000259-5-3339-3085,Pf3D7_01-1-105160-105438,Ia-1-1000180-1000404,AACB02000007-6-227160-226945,DS113375-1-114214-114468' >
<doc title='prompt'><![CDATA[ORF ID input set]]></doc>
<doc title='help'><![CDATA[Input a comma delimited set of ORF ids, or upload a file]]></doc>
<doc title='default'><![CDATA[AAEL01000259-5-3339-3085,Pf3D7_01-1-105160-105438,Ia-1-1000180-1000404,AACB02000007-6-227160-226945,DS113375-1-114214-114468]]></doc>
</param>
<param name='signature' type='xsd:string' required='true' default='' >
<doc title='prompt'><![CDATA[User Signature]]></doc>
<doc title='help'><![CDATA[Used to pass the Users Signature to the component sites]]></doc>
<doc title='default'><![CDATA[null]]></doc>
</param>
<param name='o-fields' type='xsd:string' required='false' default='none' repeating='true'>
<doc title='prompt'><![CDATA[Output Fields]]></doc>
<doc title='help'><![CDATA[Single valued attributes of the feature.]]></doc>
<doc title='default'><![CDATA[none]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='all'><doc title='description'>Show all attributes</doc></option>
<option value='none'><doc title='description'>Show no attributes</doc></option>
<option value='primary_key'><doc title='description'><![CDATA[ORF Id]]></doc></option>
<option value='organism'><doc title='description'><![CDATA[Organism]]></doc></option>
<option value='orf_location_text'><doc title='description'><![CDATA[Location]]></doc></option>
<option value='nas_id'><doc title='description'><![CDATA[Sequence ID]]></doc></option>
<option value='orf_start'><doc title='description'><![CDATA[orf_start]]></doc></option>
<option value='orf_end'><doc title='description'><![CDATA[orf_end]]></doc></option>
<option value='orf_start_text'><doc title='description'><![CDATA[Start]]></doc></option>
<option value='orf_end_text'><doc title='description'><![CDATA[End]]></doc></option>
<option value='orf_strand'><doc title='description'><![CDATA[Strand]]></doc></option>
<option value='length'><doc title='description'><![CDATA[Length]]></doc></option>
<option value='organism_text'><doc title='description'><![CDATA[Organism]]></doc></option>
<option value='sequence'><doc title='description'><![CDATA[Sequence]]></doc></option>
<option value='wdk_weight'><doc title='description'><![CDATA[Weight]]></doc></option>
</param>
<param name='o-tables' type='xsd:string' required='false' default='none' repeating='true'>
<doc title='prompt'><![CDATA[Output Tables]]></doc>
<doc title='help'><![CDATA[Multi-valued attributes of the feature.]]></doc>
<doc title='default'><![CDATA[none]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='all'><doc title='description'>Show all tables</doc></option>
<option value='none'><doc title='description'>Show no tables</doc></option>
</param>
</request>
<response>
<representation mediaType='text/xml'/>
<representation mediaType='text/plain'/>
</response>
</method>
<resource path='OrfsByMassSpec.xml'>
<method href='#orfsbymassspec'/>
</resource>
<resource path='OrfsByMassSpec.json'>
<method href='#orfsbymassspec'/>
</resource>
<method name='POST' id='orfsbymassspec'>
<doc title='display_name'><![CDATA[Mass Spec. Evidence]]></doc>
<doc title='summary'><![CDATA[Find open reading frames that have evidence of expression based on peptides identified in sporozoites by MS/MS analysis.]]></doc>
<doc title='description'><![CDATA[Find <i>Cryptosporidium</i>, <i>GiardiaDB</i> and <i>Toxoplasma</i> open reading frames that have evidence of expression based on peptides identified by MS/MS analysis. NOTE: This query only returns ORFs that contain peptides that could not be mapped onto an annotated gene model overlapping with the ORF.
             <p>See the related <a href="showQuestion.do?questionFullName=GeneQuestions.GenesByMassSpec"><b>Genes with Mass Spec. Evidence</b></a> query to find gene models which have mapped MS/MS peptides.open reading frames that have evidence of expression 

            <br><hr>
             <p><b><i>C. parvum</i></b>
             <br><sup><b>1</b></sup>
   <!-- description by J. Wastling -->
             <i> S.J. Sanderson, D. Xia, H. Prieto, J. Yates, M. Heiges. J. Kissinger & J.M. Wastling (submitted). <b>Contact: Jonathan Wastling for details (<a href="mailto:j.wastling@liv.ac.uk">j.wastling@liv.ac.uk</a>)</b></i>.
             <br>Mass spectrometry data were obtained from two-dimensional gel electrophoretic protein separations, one-dimensional gel LC-MS/MS and 
             MudPIT analysis of a sporozoite/oocyst excystation mixture of <i>Cryptosporidium parvum</i>.  A total of approximately 3,500 protein 
             hits were obtained resulting in 1,252 non-redundant protein identifications. In addition a further 100 hits were obtained to sequences 
             which matched a predicted open reading frame, but for which no gene model currently exists. In total these protein identifications 
             represent nearly one third of the entire predicted proteome of <i>C. parvum</i>, although it is unlikely that the entire proteome 
             from all life-stages will be expressed at any one time.
             <br>
             <sup><b>2</b></sup> <i>
             William J. Snelling<sup>A</sup>, Qishan Lin<sup>B</sup>, John E. Moore<sup>C</sup>, B. Cherie Millar<sup>D</sup>, 
             Fabio Tosini<sup>D</sup>, Edoardo Pozio<sup>D</sup>, James S.G. Dooley<sup>A</sup>, and Colm J. Lowery<sup>A</sup><br> 
             <sup>A</sup>Centre for Molecular Biosciences, School of Biomedical Sciences, University of Ulster, Cromore Road, Coleraine, County 
             Londonderry, N. Ireland, BT52 1SA. <sup>B</sup>UAlbany Proteomics Facility, Centre for Functional Genomics, University of Albany, 
             One Discovery Drive, Rensselaer, NY 12144. <sup>C</sup>Northern Ireland Public Health Laboratory, Department of Bacteriology, 
             Belfast City Hospital, Belfast, N. Ireland, BT9 7AD. <sup>D</sup>Department of Infectious, Parasitic, and Immunomediated 
             Diseases, Istituto Superiore di Sanit&#224;, Rome, Italy.<br> 
             <a href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&db=pubmed&dopt=Abstract&list_uids=17124246"> Proteomics analysis and protein expression during sporozoite excystation of Cryptosporidium parvum (Coccidia, Apicomplexa). Mol. Cell Proteomics 2007 Feb;6(2):346-55 </a></i>
             <br>
             <sup><b>3</b></sup>
   <!-- description by Andras Fiser -->
             <i>Joseph M. Dybas, Carlos J. Madrid-Aliste, Fa-Yun Che, Edward Nieves, Louis M. Weiss, Kami Kim, Andr&#225;s Fiser and Ruth Hogue Angeletti<br>
             <a href="http://toro.aecom.yu.edu/biodefense/">Einstein Biodefense Proteomics Research Center</a><br>
             Albert Einstein College of Medicine, 1300 Morris Park Avenue, Bronx, NY 10461, USA</i><br>
             <a href="http://www.fiserlab.org/biodefense">Fiser Lab</a><br><br>
             Enriched cytoskeletal and membrane fractions were separated by 1D-SDS-PAGE or 2D gel electrophoresis. The bands/spots were digested with trypsin. The resulting peptides analyzed by nanoLC-MS/MS on a ThermoFinnigan linear ion trap (LTQ) mass spectrometer.  MASCOT was used to search the merged DTA mass spectrometry data file against the appropriate database to obtained unique peptide hits.  In order to extend the dynamic range of the membrane fractions, high pH sodium carbonate was used to remove the peripheral membrane proteins. For a few experiments, the remaining cytosolic fractions were also analyzed. 
<br>
             <sup><b>4</b></sup>
   <!-- description for Belinda ferrari data -->
             <i>Data provided by Belinda Ferrari and Quach Truong at the Department of Biological Sciences, Macquarie University, Sydney, Australia.</i><br><br>
Subcellular proteomic analysis of <i>C. parvum</i> oocysts. Proteome analysis was carried out on two components of the oocyst after excystation. (1) the proteins identified in the sporozoites and (2) the proteins identified belonging to residual oocyst wall.  Furthermore, proteome analysis was also carried on the intact oocyst.  Consequently, the aim of this study was to identify proteins unique to each subcellular component, and also to identify proteins shared between fractions.
            <br><br>
            <p><b><i>G. lamblia</i></b>
            <br>WB (genome project strain) Giardia lamblia grown axenically in TYI-S-33 medium supplemented with bile salts.  Adherent trophozoites were harvested during log-phase growth (60-70% confluent) and proteins extracted in 8M Urea and SDS.  1 mg of extracted protein was digested with sequencing-grade modified trypsin and fractionated via strong cation exchange chromatography into 90 fractions.  Each fraction was run via C-18 reverse phase chromatography and analyzed using an LTQ ProteomeX ion trap mass spectrometer (Thermo Finnigan).  Peptide assignments were made using SEQUEST, and the individual runs were compiled using DTASelect.
             <p><i>Daniel M. Ratner, Michael Lubrano, Martin Steffen, John Samuelson. University of Washington, Department of Bioengineering.</i>
             <p>Protocol adapted from Jaffe, J.D., Berg, H.C, Church, G. M. Proteogenomic mapping as a complementary method to perform genome annotation. <i>Proteomics</i>, <b>2004</b>, 4, 59-7
            <p>See the related <a href="showQuestion.do?questionFullName=OrfQuestions.OrfsByMassSpec"><b>ORFs with Mass Spec. Evidence</b></a> query to find genomic open reading frames which have mapped MS/MS peptides that do not correspond to current gene models.
            <br><br>
            <p><b><i>T. gondii</i></b>
             <br><sup>1</sup> 
<i>Dong Xia, Sanya J Sanderson, Andrew R Jones, Judith H Prieto, John R Yates III, Elizabeth Bromley, Fiona M Tomley, Kalpana Lal, Robert E Sinden, Brian P Brunk, David S Roos and Jonathan M Wastling. (July 2008) The proteome of Toxoplasma gondii: integration with the genome provides novel insights into gene expression and annotation.</i> <a href="http://genomebiology.com/2008/9/7/R116" target="new">Genome Biology, 2008 <b>9</b>:R116</a>.
             <br>Mass spectrometry data were obtained from one-dimensional gel LC-MS/MS and MudPIT analysis of Toxoplasma gondii tachyzoites. 6,546 protein hits were obtained resulting in 2217 non-redundant protein identifications. A further 318 hits were obtained to sequences which matched 226 predicted open reading frames for which no gene model currently exists.  Additionally, 163 gene predictions were hit that did not have an overlapping gene model to which at least 50% of the peptides could be mapped.  In total these protein identifications from one stage represent nearly one third of the entire predicted proteome of T. gondii.
             <br><i>Bradley PJ, Ward C, Cheng SJ, Alexander DL, Coller S, Coombs GH, Dunn JD, Ferguson DJ, Sanderson SJ, Wastling JM,Boothroyd JC. 
             Proteomic analysis of rhoptry organelles reveals many novel constituents for host-parasite interactions in Toxoplasma gondii. 
             J Biol Chem. 2005 Oct 7;280(<b>40</b>):34245-58</i>
             <br><sup>2</sup><i>Hu K, Johnson J, Florens L, Fraunholz M, Suravajjala S, DiLullo C, Yates JR, Roos DS, Murray JM. (2006) 
	     Cytoskeletal Components of an Invasion Machine - The Apical Complex of Toxoplasma gondii. PLoS Pathog <b>2</b>:121-138.</i><br>
             1,887 protein hits were obtained resulting in 1,166 non-redundant protein identifications. A further 498 hits were obtained to sequences which matched 446 predicted open reading frames for which no gene model currently exists.  
             <br>Taken together, these two datasets result in 8,433 protein hits to 2,436 non-redundant Toxoplasma proteins and 816 hits to 634 non-redundant ORFs that contain peptides that couldn't be mapped to annotated proteins. With the additional evidence from the predicted gene models, nearly 40% of the predicted proteome from T. gondii is represented.  The data provide evidence that often corroborates the annotated gene models and in some instances the peptides mapping to ORFs and predicted gene models provide evidence for alternatives to the current annotations.
             <br><sup>3</sup>
    <!-- description by Andras Fiser -->
             <i>Joseph Dybas, Dmitry Rykunov, Carlos Madrid, Edward Nieves, Fa-Yun Che, Hui Xiao, Kami Kim, Louis Weiss, Ruth Hogue Angeletti, Andr&#225;s Fiser (<a href="http://toro.aecom.yu.edu/biodefense/">Einstein Biodefense Proteomics Research Center</a>)</i>
             <br>Enriched cytoskeletal and membrane fractions of T. gondii were separated by 1D-SDS-PAGE or 2D gel electrophoresis.  The bands/spots were digested with trypsin. The resulting peptides analyzed by nanoLC-MS/MS on a ThermoFinnigan linear ion trap (LTQ) mass spectrometer.  MASCOT was used to search the merged DTA mass spectrometry data file against the appropriate database to obtained unique peptide hits.  In order to extend the dynamic range of the membrane fractions, high pH sodium carbonate was used to remove the peripheral membrane proteins. For a few experiments, the remaining cytosolic fractions were also analyzed. A total of 2604 proteins were identified by mass spectrometry in T. gondii to date. The 2604 predicted proteins cluster into 1534 groups of overlapping gene predictions that were identified by 14455 mass spectrometry peptide hits that gave an average 13.2% sequence coverage.
             <br><sup>4</sup>
   <!-- description by Andras Fiser -->
             <i> Vern Carruthers </i>
             <br>Carruthers lab analyzed a large cohort of freely released Toxoplasma secretory proteins by using two complementary methodologies, two-dimensional electrophoresis/mass spectrometry and liquid chromatography/electrospray ionization-tandem mass spectrometry (MudPIT, shotgun proteomics). <a href="http://www.ncbi.nlm.nih.gov/pubmed/16002397">J Biol Chem. 2005 Oct 7;280(40):34233-44.</a>
             <br><sup>5</sup>
   <!-- description by Andras Fiser -->
             <i>Silvia Moreno </i>
             <br>The samples were prepared by Silvia Moreno's laboratory at the University of Georgia, Athens, GA and analyzed by James Thompson and  John  Yates, III  at The Scripps Research Institute, La Jolla, CA
             <br>]]></doc>
<request>
<param name='orf_ms_assay' type='xsd:string' required='true' default='false' repeating='true'>
<doc title='prompt'><![CDATA[Experiments]]></doc>
<doc title='help'><![CDATA[Experiments]]></doc>
<doc title='default'><![CDATA[false]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='Cparvum'><doc title='description'><![CDATA[<i>Cryptosporidium parvum</i>]]></doc></option>
<option value='Wastling MassSpec 1D Gel LC-MS/MS'><doc title='description'><![CDATA[1D Gel LC-MS/MS <sup>1</sup>]]></doc></option>
<option value='Wastling MassSpec 2D Gel LC-MS/MS'><doc title='description'><![CDATA[2D Gel LC-MS/MS <sup>1</sup>]]></doc></option>
<option value='Wastling MassSpec MudPit Soluble'><doc title='description'><![CDATA[MudPit Soluble fractions <sup>1</sup>]]></doc></option>
<option value='Wastling MassSpec MudPit Insoluble'><doc title='description'><![CDATA[MudPit Insoluble fractions <sup>1</sup>]]></doc></option>
<option value='Lowery MassSpec LC-MS/MS Insoluble Excysted Fraction'><doc title='description'><![CDATA[Insoluble Excysted Fraction LC-MS/MS <sup>2</sup>]]></doc></option>
<option value='Lowery MassSpec LC-MS/MS Insoluble Non-excysted fraction'><doc title='description'><![CDATA[Insoluble Non-excysted Fraction LC-MS/MS <sup>2</sup>]]></doc></option>
<option value='Lowery MassSpec LC-MS/MS Soluble Excysted and Non-excysted fractions'><doc title='description'><![CDATA[Soluble Excysted and Non-excysted Fraction LC-MS/MS <sup>2</sup>]]></doc></option>
<option value='Fiser_Proteomics_14Aug2006_1D_gel'><doc title='description'><![CDATA[1D Gel 14Aug2006 <sup>3</sup>]]></doc></option>
<option value='Fiser_Proteomics_16May2006_1D_gel'><doc title='description'><![CDATA[1D Gel 16May2006 <sup>3</sup>]]></doc></option>
<option value='Fiser_Proteomics_24Jun2006_1D_gel'><doc title='description'><![CDATA[1D Gel 24Jun2006 <sup>3</sup>]]></doc></option>
<option value='Ferrari_Proteomics_LTQ_Oocyst_walls'><doc title='description'><![CDATA[Oocyst walls <sup>4</sup>]]></doc></option>
<option value='Ferrari_Proteomics_LTQ_intact_oocysts_merged'><doc title='description'><![CDATA[Intact Oocysts <sup>4</sup>]]></doc></option>
<option value='Ferrari_Proteomics_LTQ_Sporozoites merged'><doc title='description'><![CDATA[Sporozoites <sup>4</sup>]]></doc></option>
<option value='Glamblia'><doc title='description'><![CDATA[<i>Giardia Assemblage A isolate WB</i>]]></doc></option>
<option value='DTASelect-filter_032108_Proteomics'><doc title='description'><![CDATA[DTA-Select Filter]]></doc></option>
<option value='Tgondii'><doc title='description'><![CDATA[<i>Toxoplasma gondii</i>]]></doc></option>
<option value='Wastling 1-D SDS PAGE'><doc title='description'><![CDATA[1-D SDS PAGE<sup>1</sup>]]></doc></option>
<option value='Wastling 1-D SDS PAGE Soluble'><doc title='description'><![CDATA[1-D SDS PAGE Soluble Fraction<sup>1</sup>]]></doc></option>
<option value='Wastling 1-D SDS PAGE Insoluble'><doc title='description'><![CDATA[1-D SDS PAGE Insoluble Fraction<sup>1</sup>]]></doc></option>
<option value='Wastling MudPIT Soluble'><doc title='description'><![CDATA[MudPIT Soluble Fraction<sup>1</sup>]]></doc></option>
<option value='Wastling MudPIT Insoluble'><doc title='description'><![CDATA[MudPIT Insoluble Fraction<sup>1</sup>]]></doc></option>
<option value='Wastling Rhoptry'><doc title='description'><![CDATA[Rhoptry Fraction<sup>1*</sup>]]></doc></option>
<option value='Wastling Murray Conoid-enriched Fraction'><doc title='description'><![CDATA[Conoid-enriched Fraction<sup>2</sup>]]></doc></option>
<option value='Wastling Murray Conoid-depleted Fraction'><doc title='description'><![CDATA[Conoid-depleted Fraction<sup>2</sup>]]></doc></option>
<option value='1D Gel Tachyzoite Membrane fraction 12-2006'><doc title='description'><![CDATA[1D Gel Tachyzoite Membrane fraction 12-2006<sup>3</sup>]]></doc></option>
<option value='1D Gel Tachyzoite Cytosolic fraction 03-2006'><doc title='description'><![CDATA[1D Gel Tachyzoite Cytosolic fraction 03-2006<sup>3</sup>]]></doc></option>
<option value='1D Gel Tachyzoite Membrane fraction 10-2006'><doc title='description'><![CDATA[1D Gel Tachyzoite Membrane fraction 10-2006<sup>3</sup>]]></doc></option>
<option value='MS Tachyzoite Membrane fraction 05-02-2006'><doc title='description'><![CDATA[MS Tachyzoite Membrane fraction 05-02-2006<sup>3</sup>]]></doc></option>
<option value='MS Tachyzoite Membrane fraction 06-2006'><doc title='description'><![CDATA[MS Tachyzoite Membrane fraction 06-2006<sup>3</sup>]]></doc></option>
<option value='MS Tachyzoite Membrane fraction 10-2006'><doc title='description'><![CDATA[MS Tachyzoite Membrane fraction 10-2006<sup>3</sup>]]></doc></option>
<option value='MS Tachyzoite Membrane fraction 05-10-2006'><doc title='description'><![CDATA[MS Tachyzoite Membrane fraction 05-10-2006<sup>3</sup>]]></doc></option>
<option value='MS Tachyzoite Membrane fraction 02-03-2006'><doc title='description'><![CDATA[MS Tachyzoite Membrane fraction 02-03-2006<sup>3</sup>]]></doc></option>
<option value='MS Carruthers 2destinct peptides'><doc title='description'><![CDATA[MS RH Secretome fraction 2destinct peptides<sup>4</sup>]]></doc></option>
<option value='MS Carruthers MudPIT Twinscan hits'><doc title='description'><![CDATA[MS RH Secretome fraction MudPIT Twinscan hits<sup>4</sup>]]></doc></option>
<option value='RH Mass Spec Data (sample A)'><doc title='description'><![CDATA[RH Mass Spec Data (sample A)<sup>5</sup>]]></doc></option>
<option value='RH Mass Spec Data (sample G)'><doc title='description'><![CDATA[RH Mass Spec Data (sample G)<sup>5</sup>]]></doc></option>
</param>
<param name='min_sequence_count' type='xsd:string' required='true' default='1' >
<doc title='prompt'><![CDATA[Minimum Number of<br>Unique Peptide Sequences]]></doc>
<doc title='help'><![CDATA[Use this parameter to set a minimum for the number of unique peptide sequences found that must match a gene in order for it to be returned by the query. Roughly speaking this parameter provides a measure of the abundance of the protein product in question, at least within a particular experiment.]]></doc>
<doc title='default'><![CDATA[1]]></doc>
</param>
<param name='min_spectrum_count' type='xsd:string' required='true' default='1' >
<doc title='prompt'><![CDATA[Minimum Number of Spectra]]></doc>
<doc title='help'><![CDATA[Use this parameter to set a minimum for the number of mass spectra found that must match a gene in order for it to be returned by the query. Roughly speaking this parameter provides a measure of the abundance of the protein product in question, at least within a particular experiment.]]></doc>
<doc title='default'><![CDATA[1]]></doc>
</param>
<param name='o-fields' type='xsd:string' required='false' default='none' repeating='true'>
<doc title='prompt'><![CDATA[Output Fields]]></doc>
<doc title='help'><![CDATA[Single valued attributes of the feature.]]></doc>
<doc title='default'><![CDATA[none]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='all'><doc title='description'>Show all attributes</doc></option>
<option value='none'><doc title='description'>Show no attributes</doc></option>
<option value='primary_key'><doc title='description'><![CDATA[ORF Id]]></doc></option>
<option value='organism'><doc title='description'><![CDATA[Organism]]></doc></option>
<option value='orf_location_text'><doc title='description'><![CDATA[Location]]></doc></option>
<option value='nas_id'><doc title='description'><![CDATA[Sequence ID]]></doc></option>
<option value='orf_start'><doc title='description'><![CDATA[orf_start]]></doc></option>
<option value='orf_end'><doc title='description'><![CDATA[orf_end]]></doc></option>
<option value='orf_start_text'><doc title='description'><![CDATA[Start]]></doc></option>
<option value='orf_end_text'><doc title='description'><![CDATA[End]]></doc></option>
<option value='orf_strand'><doc title='description'><![CDATA[Strand]]></doc></option>
<option value='length'><doc title='description'><![CDATA[Length]]></doc></option>
<option value='organism_text'><doc title='description'><![CDATA[Organism]]></doc></option>
<option value='sequence'><doc title='description'><![CDATA[Sequence]]></doc></option>
<option value='wdk_weight'><doc title='description'><![CDATA[Weight]]></doc></option>
<option value='sum_sequence_count'><doc title='description'><![CDATA[Number of Peptide Sequences]]></doc></option>
<option value='sum_spectrum_count'><doc title='description'><![CDATA[Number of Spectra]]></doc></option>
</param>
<param name='o-tables' type='xsd:string' required='false' default='none' repeating='true'>
<doc title='prompt'><![CDATA[Output Tables]]></doc>
<doc title='help'><![CDATA[Multi-valued attributes of the feature.]]></doc>
<doc title='default'><![CDATA[none]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='all'><doc title='description'>Show all tables</doc></option>
<option value='none'><doc title='description'>Show no tables</doc></option>
</param>
</request>
<response>
<representation mediaType='text/xml'/>
<representation mediaType='text/plain'/>
</response>
</method>
<resource path='OrfsByMotifSearch.xml'>
<method href='#orfsbymotifsearch'/>
</resource>
<resource path='OrfsByMotifSearch.json'>
<method href='#orfsbymotifsearch'/>
</resource>
<method name='POST' id='orfsbymotifsearch'>
<doc title='display_name'><![CDATA[Protein Motif Search]]></doc>
<doc title='summary'><![CDATA[Find orfs with a motif pattern that you specify, e.g.: two cysteines followed by one or more hydrophobic amino acids, followed by arginine, then lysine.]]></doc>
<doc title='description'><![CDATA[Find genes whose protein product contains a motif pattern that you specify.<p>

           Specify the pattern with a (Perl style) "regular expression".
           (Regular expressions are more powerful than PROSITE patterns.) For
           a description of how to create regular expressions, please see 
           the  <a href="regexp.jsp">Regular Expression
           Tutorial</a>.
            <br><br>
             The following codes can be used to represent classes of amino acids.
        <table border columns=3>
                   <TR>
                      <TD><B>AA property</B>
                      </TD>
                      <TD><B>Amino acids</B>
                      </TD>
                      <TD><B>Code</B>
                      </TD>
                   </TR>

                   <TR>
                      <TD>
                      <B>Acidic</B>
                      </TD>
                      <TD><B>DE</B>
                      </TD>
                      <TD><B>0</B>
                      </TD>
                   </TR>
                   <TR>
                      <TD><B>Alcohol</B>
                      </TD>
                      <TD><B>ST</B>
                      </TD>
                      <TD><B>1</B>
                      </TD>
                   </TR>
                   <TR>
                      <TD><B>Aliphatic</B>
                      </TD>
                      <TD><B>ILV</B>
                      </TD>
                      <TD><B>2</B>
                      </TD>
                   </TR>
                   <TR>
                      <TD><B>Aromatic</B>
                      </TD>
                      <TD><B>FHWY</B>
                      </TD>
                      <TD><B>3</B>
                      </TD>
                   </TR>
                   <TR>
                      <TD><B>Basic</B>
                      </TD>
                      <TD><B>KRH</B>
                      </TD>
                      <TD><B>4</B>
                      </TD>
                   </TR>
                   <TR>
                      <TD><B>Charged</B>
                      </TD>
                      <TD><B>DEHKR</B>
                      </TD>
                      <TD><B>5</B>
                      </TD>
                   </TR>
                   <TR>
                      <TD><B>Hydrophobic</B>
                      </TD>
                      <TD><B>AVILMFYW</B>
                      </TD>
                      <TD><B>6</B>
                      </TD>
                   </TR>
                   <TR>
                      <TD><B>Hydrophilic</B>
                      </TD>
                      <TD><B>KRHDENQ</B>
                      </TD>
                      <TD><B>7</B>
                      </TD>
                   </TR>
                   <TR>
                      <TD><B>Polar</B>
                      </TD>
                      <TD><B>CDEHKNQRST</B>
                      </TD>
                      <TD><B>8</B>
                      </TD>
                   </TR>
                   <TR>
                      <TD><B>Small</B>
                      </TD>
                      <TD><B>ACDGNPSTV</B>
                      </TD>
                      <TD><B>9</B>
                      </TD>
                   </TR>
                   <TR>
                      <TD><B>Tiny</B>
                      </TD>
                      <TD><B>AGS</B>
                      </TD>
                      <TD><B>B</B>
                      </TD>
                   </TR>
                   <TR>
                      <TD><B>Turnlike</B>
                      </TD>
                      <TD><B>ACDEGHKNQRST</B>
                      </TD>
                      <TD><B>Z</B>
                      </TD>
                   </TR>
                   <TR>
                      <TD><B>Any</B>
                      </TD>
                      <TD><b>ACDEFGHIKLM<br>
                             NPQRSTVWY</b>
                      </TD>
                      <TD><B>.</B>
                      </TD>
                   </TR>
                   </table>]]></doc>
<request>
<param name='motif_organism' type='xsd:string' required='true' default='Entamoeba histolytica HM-1:IMSS' repeating='true'>
<doc title='prompt'><![CDATA[Organism]]></doc>
<doc title='help'><![CDATA[Choose one or more organisms to search with the given motif]]></doc>
<doc title='default'><![CDATA[Entamoeba histolytica HM-1:IMSS]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='Entamoeba histolytica HM-1:IMSS'><doc title='description'><![CDATA[Entamoeba histolytica HM-1:IMSS]]></doc></option>
<option value='Entamoeba dispar SAW760'><doc title='description'><![CDATA[Entamoeba dispar SAW760]]></doc></option>
<option value='Entamoeba invadens IP1'><doc title='description'><![CDATA[Entamoeba invadens IP1]]></doc></option>
<option value='Encephalitozoon intestinalis'><doc title='description'><![CDATA[Encephalitozoon intestinalis]]></doc></option>
<option value='Encephalitozoon cuniculi GB-M1'><doc title='description'><![CDATA[Encephalitozoon cuniculi GB-M1]]></doc></option>
<option value='Enterocytozoon bieneusi H348'><doc title='description'><![CDATA[Enterocytozoon bieneusi H348]]></doc></option>
<option value='Nematocida parisii'><doc title='description'><![CDATA[Nematocida parisii]]></doc></option>
<option value='Octosporea bayeri OER-3-3'><doc title='description'><![CDATA[Octosporea bayeri OER-3-3]]></doc></option>
<option value='Cryptosporidium parvum'><doc title='description'><![CDATA[Cryptosporidium parvum]]></doc></option>
<option value='Cryptosporidium hominis'><doc title='description'><![CDATA[Cryptosporidium hominis]]></doc></option>
<option value='Cryptosporidium muris'><doc title='description'><![CDATA[Cryptosporidium muris]]></doc></option>
<option value='Cryptosporidium parvum ESTs'><doc title='description'><![CDATA[Cryptosporidium parvum ESTs]]></doc></option>
<option value='Cryptosporidium muris ESTs'><doc title='description'><![CDATA[Cryptosporidium muris ESTs]]></doc></option>
<option value='Giardia Assemblage A isolate WB'><doc title='description'><![CDATA[Giardia Assemblage A isolate WB]]></doc></option>
<option value='Giardia Assemblage B isolate GS'><doc title='description'><![CDATA[Giardia Assemblage B isolate GS]]></doc></option>
<option value='Giardia Assemblage E isolate P15'><doc title='description'><![CDATA[Giardia Assemblage E isolate P15]]></doc></option>
<option value='Plasmodium falciparum'><doc title='description'><![CDATA[Plasmodium falciparum]]></doc></option>
<option value='Plasmodium falciparum mitochondrial'><doc title='description'><![CDATA[Plasmodium falciparum mitochondrial]]></doc></option>
<option value='Plasmodium falciparum plastid'><doc title='description'><![CDATA[Plasmodium falciparum plastid]]></doc></option>
<option value='Plasmodium vivax'><doc title='description'><![CDATA[Plasmodium vivax]]></doc></option>
<option value='Plasmodium vivax mitochondrial'><doc title='description'><![CDATA[Plasmodium vivax mitochondrial]]></doc></option>
<option value='Plasmodium yoelii'><doc title='description'><![CDATA[Plasmodium yoelii]]></doc></option>
<option value='Plasmodium berghei'><doc title='description'><![CDATA[Plasmodium berghei]]></doc></option>
<option value='Plasmodium chabaudi'><doc title='description'><![CDATA[Plasmodium chabaudi]]></doc></option>
<option value='Plasmodium knowlesi'><doc title='description'><![CDATA[Plasmodium knowlesi]]></doc></option>
<option value='Plasmodium gallinaceum'><doc title='description'><![CDATA[Plasmodium gallinaceum]]></doc></option>
<option value='Plasmodium reichenowi'><doc title='description'><![CDATA[Plasmodium reichenowi]]></doc></option>
<option value='Toxoplasma gondii TgCkUg2'><doc title='description'><![CDATA[Toxoplasma gondii TgCkUg2]]></doc></option>
<option value='Toxoplasma gondii GT1'><doc title='description'><![CDATA[Toxoplasma gondii GT1]]></doc></option>
<option value='Toxoplasma gondii ME49'><doc title='description'><![CDATA[Toxoplasma gondii ME49]]></doc></option>
<option value='Toxoplasma gondii VEG'><doc title='description'><![CDATA[Toxoplasma gondii VEG]]></doc></option>
<option value='Toxoplasma gondii Apicoplast'><doc title='description'><![CDATA[Toxoplasma gondii Apicoplast]]></doc></option>
<option value='Neospora caninum'><doc title='description'><![CDATA[Neospora caninum]]></doc></option>
<option value='Trichomonas vaginalis'><doc title='description'><![CDATA[Trichomonas vaginalis]]></doc></option>
<option value='Trypanosoma cruzi strain Esmeraldo'><doc title='description'><![CDATA[Trypanosoma cruzi strain Esmeraldo]]></doc></option>
<option value='Trypanosoma cruzi CL Brener Esmeraldo-like'><doc title='description'><![CDATA[Trypanosoma cruzi CL Brener Esmeraldo-like]]></doc></option>
<option value='Trypanosoma cruzi CL Brener Non-Esmeraldo-like'><doc title='description'><![CDATA[Trypanosoma cruzi CL Brener Non-Esmeraldo-like]]></doc></option>
<option value='Trypanosoma cruzi unassigned contigs (strain CL Brener)'><doc title='description'><![CDATA[Trypanosoma cruzi unassigned contigs (strain CL Brener)]]></doc></option>
<option value='Trypanosoma brucei gambiense'><doc title='description'><![CDATA[Trypanosoma brucei gambiense]]></doc></option>
<option value='Trypanosoma brucei Lister strain 427'><doc title='description'><![CDATA[Trypanosoma brucei Lister strain 427]]></doc></option>
<option value='Trypanosoma brucei TREU927'><doc title='description'><![CDATA[Trypanosoma brucei TREU927]]></doc></option>
<option value='Leishmania major'><doc title='description'><![CDATA[Leishmania major]]></doc></option>
<option value='Leishmania infantum'><doc title='description'><![CDATA[Leishmania infantum]]></doc></option>
<option value='Leishmania braziliensis'><doc title='description'><![CDATA[Leishmania braziliensis]]></doc></option>
<option value='Leishmania tarentolae'><doc title='description'><![CDATA[Leishmania tarentolae]]></doc></option>
<option value='Crithidia fasciculata'><doc title='description'><![CDATA[Crithidia fasciculata]]></doc></option>
<option value='Leishmania mexicana'><doc title='description'><![CDATA[Leishmania mexicana]]></doc></option>
<option value='Trypanosoma congolense'><doc title='description'><![CDATA[Trypanosoma congolense]]></doc></option>
<option value='Trypanosoma vivax'><doc title='description'><![CDATA[Trypanosoma vivax]]></doc></option>
</param>
<param name='motif_expression' type='xsd:string' required='true' default='CC6+RK' >
<doc title='prompt'><![CDATA[Pattern]]></doc>
<doc title='help'><![CDATA[Enter a Perl regular expression describing the desired motif.  Example: 'CC6+RK' searches for two consecutive cysteine residues followed by a stretch of hydrophobic amino acids followed by the aminoacids arginine and lysine.]]></doc>
<doc title='default'><![CDATA[CC6+RK]]></doc>
</param>
<param name='o-fields' type='xsd:string' required='false' default='none' repeating='true'>
<doc title='prompt'><![CDATA[Output Fields]]></doc>
<doc title='help'><![CDATA[Single valued attributes of the feature.]]></doc>
<doc title='default'><![CDATA[none]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='all'><doc title='description'>Show all attributes</doc></option>
<option value='none'><doc title='description'>Show no attributes</doc></option>
<option value='primary_key'><doc title='description'><![CDATA[ORF Id]]></doc></option>
<option value='organism'><doc title='description'><![CDATA[Organism]]></doc></option>
<option value='orf_location_text'><doc title='description'><![CDATA[Location]]></doc></option>
<option value='nas_id'><doc title='description'><![CDATA[Sequence ID]]></doc></option>
<option value='orf_start'><doc title='description'><![CDATA[orf_start]]></doc></option>
<option value='orf_end'><doc title='description'><![CDATA[orf_end]]></doc></option>
<option value='orf_start_text'><doc title='description'><![CDATA[Start]]></doc></option>
<option value='orf_end_text'><doc title='description'><![CDATA[End]]></doc></option>
<option value='orf_strand'><doc title='description'><![CDATA[Strand]]></doc></option>
<option value='length'><doc title='description'><![CDATA[Length]]></doc></option>
<option value='organism_text'><doc title='description'><![CDATA[Organism]]></doc></option>
<option value='sequence'><doc title='description'><![CDATA[Sequence]]></doc></option>
<option value='wdk_weight'><doc title='description'><![CDATA[Weight]]></doc></option>
</param>
<param name='o-tables' type='xsd:string' required='false' default='none' repeating='true'>
<doc title='prompt'><![CDATA[Output Tables]]></doc>
<doc title='help'><![CDATA[Multi-valued attributes of the feature.]]></doc>
<doc title='default'><![CDATA[none]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='all'><doc title='description'>Show all tables</doc></option>
<option value='none'><doc title='description'>Show no tables</doc></option>
</param>
</request>
<response>
<representation mediaType='text/xml'/>
<representation mediaType='text/plain'/>
</response>
</method>
<resource path='OrfsBySimilarity.xml'>
<method href='#orfsbysimilarity'/>
</resource>
<resource path='OrfsBySimilarity.json'>
<method href='#orfsbysimilarity'/>
</resource>
<method name='POST' id='orfsbysimilarity'>
<doc title='display_name'><![CDATA[BLAST]]></doc>
<doc title='summary'><![CDATA[Find ORFs that have BLAST similarity to your input sequence.]]></doc>
<doc title='description'><![CDATA[Find ORFs that have BLAST similarity to your input query sequence.
            <p>The search uses <a href="http://blast.wustl.edu/" target="_blank">WU BLAST</a>.]]></doc>
<request>
<param name='BlastDatabaseType' type='xsd:string' required='true' default='Transcripts' repeating='false'>
<doc title='prompt'><![CDATA[Target Data Type]]></doc>
<doc title='help'><![CDATA[Select the data type that you want to blast against.]]></doc>
<doc title='default'><![CDATA[Transcripts]]></doc>
<doc title='SingleValued'>Choose at most one value from the options</doc>
<option value='Transcripts'><doc title='description'><![CDATA[Transcripts]]></doc></option>
<option value='Proteins'><doc title='description'><![CDATA[Proteins]]></doc></option>
<option value='Genome'><doc title='description'><![CDATA[Genome]]></doc></option>
<option value='ORF'><doc title='description'><![CDATA[ORF]]></doc></option>
<option value='EST'><doc title='description'><![CDATA[EST]]></doc></option>
<option value='Assemblies'><doc title='description'><![CDATA[Assemblies]]></doc></option>
<option value='Isolates'><doc title='description'><![CDATA[Isolates]]></doc></option>
<option value='Genome Survey Sequences'><doc title='description'><![CDATA[Genome Survey Sequences]]></doc></option>
</param>
<param name='BlastAlgorithm' type='xsd:string' required='true' default='blastn' repeating='false'>
<doc title='prompt'><![CDATA[BLAST Program]]></doc>
<doc title='help'><![CDATA[The Blast Program that will be executed: <b> blastp </b>  compares an aminoacid query sequence against a protein sequence database;  <b> blastn  </b> compares a nucleotide query sequence against a nucleotide sequence database; <b> blastx  </b> compares the six-frame conceptual translation products of a nucleotide query sequence (both strands) against a protein sequence database;  <b>tblastn  </b> compares a protein query sequence against a nucleotide sequence database dynamically translated in all six reading frames (both strands);  <b>tblastx  </b>  compares the six-frame translations of a nucleotide query sequence against the six-frame translations of a nucleotide sequence database.]]></doc>
<doc title='default'><![CDATA[blastn]]></doc>
<doc title='SingleValued'>Choose at most one value from the options</doc>
<option value='blastn'><doc title='description'><![CDATA[blastn]]></doc></option>
<option value='blastp'><doc title='description'><![CDATA[blastp]]></doc></option>
<option value='blastx'><doc title='description'><![CDATA[blastx]]></doc></option>
<option value='tblastn'><doc title='description'><![CDATA[tblastn]]></doc></option>
<option value='tblastx'><doc title='description'><![CDATA[tblastx]]></doc></option>
</param>
<param name='BlastDatabaseOrganism' type='xsd:string' required='true' default='Entamoeba histolytica DS4' repeating='true'>
<doc title='prompt'><![CDATA[Target Organism]]></doc>
<doc title='help'><![CDATA[Organism(s) from which the sequences in the BLAST database originated]]></doc>
<doc title='default'><![CDATA[Entamoeba histolytica DS4]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='Entamoeba histolytica DS4'><doc title='description'><![CDATA[Entamoeba histolytica DS4]]></doc></option>
<option value='Entamoeba histolytica HM-1:CA'><doc title='description'><![CDATA[Entamoeba histolytica HM-1:CA]]></doc></option>
<option value='Entamoeba histolytica KU27'><doc title='description'><![CDATA[Entamoeba histolytica KU27]]></doc></option>
<option value='Entamoeba histolytica KU48'><doc title='description'><![CDATA[Entamoeba histolytica KU48]]></doc></option>
<option value='Entamoeba histolytica KU50'><doc title='description'><![CDATA[Entamoeba histolytica KU50]]></doc></option>
<option value='Entamoeba histolytica MS96'><doc title='description'><![CDATA[Entamoeba histolytica MS96]]></doc></option>
<option value='Entamoeba histolytica HM-1:IMSS'><doc title='description'><![CDATA[Entamoeba histolytica HM-1:IMSS]]></doc></option>
<option value='Entamoeba dispar SAW760'><doc title='description'><![CDATA[Entamoeba dispar SAW760]]></doc></option>
<option value='Entamoeba invadens IP1'><doc title='description'><![CDATA[Entamoeba invadens IP1]]></doc></option>
<option value='Encephalitozoon intestinalis'><doc title='description'><![CDATA[Encephalitozoon intestinalis]]></doc></option>
<option value='Encephalitozoon cuniculi GB-M1'><doc title='description'><![CDATA[Encephalitozoon cuniculi GB-M1]]></doc></option>
<option value='Enterocytozoon bieneusi H348'><doc title='description'><![CDATA[Enterocytozoon bieneusi H348]]></doc></option>
<option value='Nematocida parisii'><doc title='description'><![CDATA[Nematocida parisii]]></doc></option>
<option value='Octosporea bayeri OER-3-3'><doc title='description'><![CDATA[Octosporea bayeri OER-3-3]]></doc></option>
<option value='Leishmania major'><doc title='description'><![CDATA[Leishmania major]]></doc></option>
<option value='Leishmania major strain SD 75.1'><doc title='description'><![CDATA[Leishmania major strain SD 75.1]]></doc></option>
<option value='Leishmania infantum'><doc title='description'><![CDATA[Leishmania infantum]]></doc></option>
<option value='Leishmania braziliensis'><doc title='description'><![CDATA[Leishmania braziliensis]]></doc></option>
<option value='Leishmania tarentolae'><doc title='description'><![CDATA[Leishmania tarentolae]]></doc></option>
<option value='Crithidia fasciculata'><doc title='description'><![CDATA[Crithidia fasciculata]]></doc></option>
<option value='Trypanosoma brucei gambiense'><doc title='description'><![CDATA[Trypanosoma brucei gambiense]]></doc></option>
<option value='Trypanosoma brucei Lister strain 427'><doc title='description'><![CDATA[Trypanosoma brucei Lister strain 427]]></doc></option>
<option value='Trypanosoma brucei TREU927'><doc title='description'><![CDATA[Trypanosoma brucei TREU927]]></doc></option>
<option value='Trypanosoma cruzi strain Esmeraldo'><doc title='description'><![CDATA[Trypanosoma cruzi strain Esmeraldo]]></doc></option>
<option value='Trypanosoma cruzi CL Brener Esmeraldo-like'><doc title='description'><![CDATA[Trypanosoma cruzi CL Brener Esmeraldo-like]]></doc></option>
<option value='Trypanosoma cruzi CL Brener Non-Esmeraldo-like'><doc title='description'><![CDATA[Trypanosoma cruzi CL Brener Non-Esmeraldo-like]]></doc></option>
<option value='Trypanosoma cruzi unassigned contigs (strain CL Brener)'><doc title='description'><![CDATA[Trypanosoma cruzi unassigned contigs (strain CL Brener)]]></doc></option>
<option value='Leishmania mexicana'><doc title='description'><![CDATA[Leishmania mexicana]]></doc></option>
<option value='Trypanosoma congolense'><doc title='description'><![CDATA[Trypanosoma congolense]]></doc></option>
<option value='Trypanosoma vivax'><doc title='description'><![CDATA[Trypanosoma vivax]]></doc></option>
<option value='Cryptosporidium parvum'><doc title='description'><![CDATA[Cryptosporidium parvum]]></doc></option>
<option value='Cryptosporidium parvum Chr6'><doc title='description'><![CDATA[Cryptosporidium parvum Chr6]]></doc></option>
<option value='Cryptosporidium hominis'><doc title='description'><![CDATA[Cryptosporidium hominis]]></doc></option>
<option value='Cryptosporidium muris'><doc title='description'><![CDATA[Cryptosporidium muris]]></doc></option>
<option value='Cryptosporidium muris EST'><doc title='description'><![CDATA[Cryptosporidium muris EST]]></doc></option>
<option value='Cryptosporidium parvum EST'><doc title='description'><![CDATA[Cryptosporidium parvum EST]]></doc></option>
<option value='Plasmodium berghei'><doc title='description'><![CDATA[Plasmodium berghei]]></doc></option>
<option value='Plasmodium chabaudi'><doc title='description'><![CDATA[Plasmodium chabaudi]]></doc></option>
<option value='Plasmodium falciparum'><doc title='description'><![CDATA[Plasmodium falciparum]]></doc></option>
<option value='Plasmodium falciparum mitochondrial'><doc title='description'><![CDATA[Plasmodium falciparum mitochondrial]]></doc></option>
<option value='Plasmodium falciparum plastid'><doc title='description'><![CDATA[Plasmodium falciparum plastid]]></doc></option>
<option value='Plasmodium gallinaceum'><doc title='description'><![CDATA[Plasmodium gallinaceum]]></doc></option>
<option value='Plasmodium knowlesi'><doc title='description'><![CDATA[Plasmodium knowlesi]]></doc></option>
<option value='Plasmodium reichenowi'><doc title='description'><![CDATA[Plasmodium reichenowi]]></doc></option>
<option value='Plasmodium vivax'><doc title='description'><![CDATA[Plasmodium vivax]]></doc></option>
<option value='Plasmodium vivax mitochondrial'><doc title='description'><![CDATA[Plasmodium vivax mitochondrial]]></doc></option>
<option value='Plasmodium yoelii'><doc title='description'><![CDATA[Plasmodium yoelii]]></doc></option>
<option value='Toxoplasma gondii TgCkUg2'><doc title='description'><![CDATA[Toxoplasma gondii TgCkUg2]]></doc></option>
<option value='Toxoplasma gondii GT1'><doc title='description'><![CDATA[Toxoplasma gondii GT1]]></doc></option>
<option value='Toxoplasma gondii ME49'><doc title='description'><![CDATA[Toxoplasma gondii ME49]]></doc></option>
<option value='Toxoplasma gondii VEG'><doc title='description'><![CDATA[Toxoplasma gondii VEG]]></doc></option>
<option value='Toxoplasma gondii apicoplast'><doc title='description'><![CDATA[Toxoplasma gondii apicoplast]]></doc></option>
<option value='Neospora caninum'><doc title='description'><![CDATA[Neospora caninum]]></doc></option>
<option value='Giardia Assemblage A isolate WB'><doc title='description'><![CDATA[Giardia Assemblage A isolate WB]]></doc></option>
<option value='Giardia Assemblage B isolate GS'><doc title='description'><![CDATA[Giardia Assemblage B isolate GS]]></doc></option>
<option value='Giardia Assemblage E isolate P15'><doc title='description'><![CDATA[Giardia Assemblage E isolate P15]]></doc></option>
<option value='Trichomonas vaginalis'><doc title='description'><![CDATA[Trichomonas vaginalis]]></doc></option>
</param>
<param name='BlastQuerySequence' type='xsd:string' required='true' default='' >
<doc title='prompt'><![CDATA[Input Sequence]]></doc>
<doc title='help'><![CDATA[BLAST Input Sequence (upto 2MB)]]></doc>
<doc title='default'><![CDATA[null]]></doc>
</param>
<param name='-e' type='xsd:string' required='true' default='10' >
<doc title='prompt'><![CDATA[Expectation value]]></doc>
<doc title='help'><![CDATA[Expected number of hits with at least this score. The lower the e- value the more significant the hit.]]></doc>
<doc title='default'><![CDATA[10]]></doc>
</param>
<param name='-v' type='xsd:string' required='true' default='50' >
<doc title='prompt'><![CDATA[Maximum descriptions (V)]]></doc>
<doc title='help'><![CDATA[Number of one-line descriptions to show]]></doc>
<doc title='default'><![CDATA[50]]></doc>
</param>
<param name='-b' type='xsd:string' required='true' default='50' >
<doc title='prompt'><![CDATA[Maximum alignments (B)]]></doc>
<doc title='help'><![CDATA[Number of alignments to show]]></doc>
<doc title='default'><![CDATA[50]]></doc>
</param>
<param name='-filter' type='xsd:string' required='true' default='yes' repeating='false'>
<doc title='prompt'><![CDATA[Low complexity filter]]></doc>
<doc title='help'><![CDATA[If this filter is set to yes, you will omit results which contain repetitive and low complexity sequence.]]></doc>
<doc title='default'><![CDATA[yes]]></doc>
<doc title='SingleValued'>Choose at most one value from the options</doc>
<option value='yes'><doc title='description'><![CDATA[yes]]></doc></option>
<option value='no'><doc title='description'><![CDATA[no]]></doc></option>
</param>
<param name='o-fields' type='xsd:string' required='false' default='none' repeating='true'>
<doc title='prompt'><![CDATA[Output Fields]]></doc>
<doc title='help'><![CDATA[Single valued attributes of the feature.]]></doc>
<doc title='default'><![CDATA[none]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='all'><doc title='description'>Show all attributes</doc></option>
<option value='none'><doc title='description'>Show no attributes</doc></option>
<option value='primary_key'><doc title='description'><![CDATA[ORF Id]]></doc></option>
<option value='organism'><doc title='description'><![CDATA[Organism]]></doc></option>
<option value='orf_location_text'><doc title='description'><![CDATA[Location]]></doc></option>
<option value='nas_id'><doc title='description'><![CDATA[Sequence ID]]></doc></option>
<option value='orf_start'><doc title='description'><![CDATA[orf_start]]></doc></option>
<option value='orf_end'><doc title='description'><![CDATA[orf_end]]></doc></option>
<option value='orf_start_text'><doc title='description'><![CDATA[Start]]></doc></option>
<option value='orf_end_text'><doc title='description'><![CDATA[End]]></doc></option>
<option value='orf_strand'><doc title='description'><![CDATA[Strand]]></doc></option>
<option value='length'><doc title='description'><![CDATA[Length]]></doc></option>
<option value='organism_text'><doc title='description'><![CDATA[Organism]]></doc></option>
<option value='sequence'><doc title='description'><![CDATA[Sequence]]></doc></option>
<option value='wdk_weight'><doc title='description'><![CDATA[Weight]]></doc></option>
</param>
<param name='o-tables' type='xsd:string' required='false' default='none' repeating='true'>
<doc title='prompt'><![CDATA[Output Tables]]></doc>
<doc title='help'><![CDATA[Multi-valued attributes of the feature.]]></doc>
<doc title='default'><![CDATA[none]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='all'><doc title='description'>Show all tables</doc></option>
<option value='none'><doc title='description'>Show no tables</doc></option>
</param>
</request>
<response>
<representation mediaType='text/xml'/>
<representation mediaType='text/plain'/>
</response>
</method>
</resource>
</resources>
</application>
