Books/XML-and-Web-technology/Data/WADL/OrfsByMassSpec.wadl

<?xml version='1.0'?>
<application xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance' xsi:schemaLocation='http://wadl.dev.java.net/2009/02 wadl.xsd' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns='http://wadl.dev.java.net/2009/02'>
<resources base='http://eupathdb.org/webservices/'>
<resource path='OrfQuestions'>
<resource path='OrfsByMassSpec.xml'>
<method href='#orfsbymassspec'/>
</resource>
<resource path='OrfsByMassSpec.json'>
<method href='#orfsbymassspec'/>
</resource>
<method name='POST' id='orfsbymassspec'>
<doc title='display_name'><![CDATA[Mass Spec. Evidence]]></doc>
<doc title='summary'><![CDATA[Find open reading frames that have evidence of expression based on peptides identified in sporozoites by MS/MS analysis.]]></doc>
<doc title='description'><![CDATA[Find <i>Cryptosporidium</i>, <i>GiardiaDB</i> and <i>Toxoplasma</i> open reading frames that have evidence of expression based on peptides identified by MS/MS analysis. NOTE: This query only returns ORFs that contain peptides that could not be mapped onto an annotated gene model overlapping with the ORF.
             <p>See the related <a href="showQuestion.do?questionFullName=GeneQuestions.GenesByMassSpec"><b>Genes with Mass Spec. Evidence</b></a> query to find gene models which have mapped MS/MS peptides.open reading frames that have evidence of expression 

            <br><hr>
             <p><b><i>C. parvum</i></b>
             <br><sup><b>1</b></sup>
   <!-- description by J. Wastling -->
             <i> S.J. Sanderson, D. Xia, H. Prieto, J. Yates, M. Heiges. J. Kissinger & J.M. Wastling (submitted). <b>Contact: Jonathan Wastling for details (<a href="mailto:j.wastling@liv.ac.uk">j.wastling@liv.ac.uk</a>)</b></i>.
             <br>Mass spectrometry data were obtained from two-dimensional gel electrophoretic protein separations, one-dimensional gel LC-MS/MS and 
             MudPIT analysis of a sporozoite/oocyst excystation mixture of <i>Cryptosporidium parvum</i>.  A total of approximately 3,500 protein 
             hits were obtained resulting in 1,252 non-redundant protein identifications. In addition a further 100 hits were obtained to sequences 
             which matched a predicted open reading frame, but for which no gene model currently exists. In total these protein identifications 
             represent nearly one third of the entire predicted proteome of <i>C. parvum</i>, although it is unlikely that the entire proteome 
             from all life-stages will be expressed at any one time.
             <br>
             <sup><b>2</b></sup> <i>
             William J. Snelling<sup>A</sup>, Qishan Lin<sup>B</sup>, John E. Moore<sup>C</sup>, B. Cherie Millar<sup>D</sup>, 
             Fabio Tosini<sup>D</sup>, Edoardo Pozio<sup>D</sup>, James S.G. Dooley<sup>A</sup>, and Colm J. Lowery<sup>A</sup><br> 
             <sup>A</sup>Centre for Molecular Biosciences, School of Biomedical Sciences, University of Ulster, Cromore Road, Coleraine, County 
             Londonderry, N. Ireland, BT52 1SA. <sup>B</sup>UAlbany Proteomics Facility, Centre for Functional Genomics, University of Albany, 
             One Discovery Drive, Rensselaer, NY 12144. <sup>C</sup>Northern Ireland Public Health Laboratory, Department of Bacteriology, 
             Belfast City Hospital, Belfast, N. Ireland, BT9 7AD. <sup>D</sup>Department of Infectious, Parasitic, and Immunomediated 
             Diseases, Istituto Superiore di Sanit&#224;, Rome, Italy.<br> 
             <a href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&db=pubmed&dopt=Abstract&list_uids=17124246"> Proteomics analysis and protein expression during sporozoite excystation of Cryptosporidium parvum (Coccidia, Apicomplexa). Mol. Cell Proteomics 2007 Feb;6(2):346-55 </a></i>
             <br>
             <sup><b>3</b></sup>
   <!-- description by Andras Fiser -->
             <i>Joseph M. Dybas, Carlos J. Madrid-Aliste, Fa-Yun Che, Edward Nieves, Louis M. Weiss, Kami Kim, Andr&#225;s Fiser and Ruth Hogue Angeletti<br>
             <a href="http://toro.aecom.yu.edu/biodefense/">Einstein Biodefense Proteomics Research Center</a><br>
             Albert Einstein College of Medicine, 1300 Morris Park Avenue, Bronx, NY 10461, USA</i><br>
             <a href="http://www.fiserlab.org/biodefense">Fiser Lab</a><br><br>
             Enriched cytoskeletal and membrane fractions were separated by 1D-SDS-PAGE or 2D gel electrophoresis. The bands/spots were digested with trypsin. The resulting peptides analyzed by nanoLC-MS/MS on a ThermoFinnigan linear ion trap (LTQ) mass spectrometer.  MASCOT was used to search the merged DTA mass spectrometry data file against the appropriate database to obtained unique peptide hits.  In order to extend the dynamic range of the membrane fractions, high pH sodium carbonate was used to remove the peripheral membrane proteins. For a few experiments, the remaining cytosolic fractions were also analyzed. 
<br>
             <sup><b>4</b></sup>
   <!-- description for Belinda ferrari data -->
             <i>Data provided by Belinda Ferrari and Quach Truong at the Department of Biological Sciences, Macquarie University, Sydney, Australia.</i><br><br>
Subcellular proteomic analysis of <i>C. parvum</i> oocysts. Proteome analysis was carried out on two components of the oocyst after excystation. (1) the proteins identified in the sporozoites and (2) the proteins identified belonging to residual oocyst wall.  Furthermore, proteome analysis was also carried on the intact oocyst.  Consequently, the aim of this study was to identify proteins unique to each subcellular component, and also to identify proteins shared between fractions.
            <br><br>
            <p><b><i>G. lamblia</i></b>
            <br>WB (genome project strain) Giardia lamblia grown axenically in TYI-S-33 medium supplemented with bile salts.  Adherent trophozoites were harvested during log-phase growth (60-70% confluent) and proteins extracted in 8M Urea and SDS.  1 mg of extracted protein was digested with sequencing-grade modified trypsin and fractionated via strong cation exchange chromatography into 90 fractions.  Each fraction was run via C-18 reverse phase chromatography and analyzed using an LTQ ProteomeX ion trap mass spectrometer (Thermo Finnigan).  Peptide assignments were made using SEQUEST, and the individual runs were compiled using DTASelect.
             <p><i>Daniel M. Ratner, Michael Lubrano, Martin Steffen, John Samuelson. University of Washington, Department of Bioengineering.</i>
             <p>Protocol adapted from Jaffe, J.D., Berg, H.C, Church, G. M. Proteogenomic mapping as a complementary method to perform genome annotation. <i>Proteomics</i>, <b>2004</b>, 4, 59-7
            <p>See the related <a href="showQuestion.do?questionFullName=OrfQuestions.OrfsByMassSpec"><b>ORFs with Mass Spec. Evidence</b></a> query to find genomic open reading frames which have mapped MS/MS peptides that do not correspond to current gene models.
            <br><br>
            <p><b><i>T. gondii</i></b>
             <br><sup>1</sup> 
<i>Dong Xia, Sanya J Sanderson, Andrew R Jones, Judith H Prieto, John R Yates III, Elizabeth Bromley, Fiona M Tomley, Kalpana Lal, Robert E Sinden, Brian P Brunk, David S Roos and Jonathan M Wastling. (July 2008) The proteome of Toxoplasma gondii: integration with the genome provides novel insights into gene expression and annotation.</i> <a href="http://genomebiology.com/2008/9/7/R116" target="new">Genome Biology, 2008 <b>9</b>:R116</a>.
             <br>Mass spectrometry data were obtained from one-dimensional gel LC-MS/MS and MudPIT analysis of Toxoplasma gondii tachyzoites. 6,546 protein hits were obtained resulting in 2217 non-redundant protein identifications. A further 318 hits were obtained to sequences which matched 226 predicted open reading frames for which no gene model currently exists.  Additionally, 163 gene predictions were hit that did not have an overlapping gene model to which at least 50% of the peptides could be mapped.  In total these protein identifications from one stage represent nearly one third of the entire predicted proteome of T. gondii.
             <br><i>Bradley PJ, Ward C, Cheng SJ, Alexander DL, Coller S, Coombs GH, Dunn JD, Ferguson DJ, Sanderson SJ, Wastling JM,Boothroyd JC. 
             Proteomic analysis of rhoptry organelles reveals many novel constituents for host-parasite interactions in Toxoplasma gondii. 
             J Biol Chem. 2005 Oct 7;280(<b>40</b>):34245-58</i>
             <br><sup>2</sup><i>Hu K, Johnson J, Florens L, Fraunholz M, Suravajjala S, DiLullo C, Yates JR, Roos DS, Murray JM. (2006) 
	     Cytoskeletal Components of an Invasion Machine - The Apical Complex of Toxoplasma gondii. PLoS Pathog <b>2</b>:121-138.</i><br>
             1,887 protein hits were obtained resulting in 1,166 non-redundant protein identifications. A further 498 hits were obtained to sequences which matched 446 predicted open reading frames for which no gene model currently exists.  
             <br>Taken together, these two datasets result in 8,433 protein hits to 2,436 non-redundant Toxoplasma proteins and 816 hits to 634 non-redundant ORFs that contain peptides that couldn't be mapped to annotated proteins. With the additional evidence from the predicted gene models, nearly 40% of the predicted proteome from T. gondii is represented.  The data provide evidence that often corroborates the annotated gene models and in some instances the peptides mapping to ORFs and predicted gene models provide evidence for alternatives to the current annotations.
             <br><sup>3</sup>
    <!-- description by Andras Fiser -->
             <i>Joseph Dybas, Dmitry Rykunov, Carlos Madrid, Edward Nieves, Fa-Yun Che, Hui Xiao, Kami Kim, Louis Weiss, Ruth Hogue Angeletti, Andr&#225;s Fiser (<a href="http://toro.aecom.yu.edu/biodefense/">Einstein Biodefense Proteomics Research Center</a>)</i>
             <br>Enriched cytoskeletal and membrane fractions of T. gondii were separated by 1D-SDS-PAGE or 2D gel electrophoresis.  The bands/spots were digested with trypsin. The resulting peptides analyzed by nanoLC-MS/MS on a ThermoFinnigan linear ion trap (LTQ) mass spectrometer.  MASCOT was used to search the merged DTA mass spectrometry data file against the appropriate database to obtained unique peptide hits.  In order to extend the dynamic range of the membrane fractions, high pH sodium carbonate was used to remove the peripheral membrane proteins. For a few experiments, the remaining cytosolic fractions were also analyzed. A total of 2604 proteins were identified by mass spectrometry in T. gondii to date. The 2604 predicted proteins cluster into 1534 groups of overlapping gene predictions that were identified by 14455 mass spectrometry peptide hits that gave an average 13.2% sequence coverage.
             <br><sup>4</sup>
   <!-- description by Andras Fiser -->
             <i> Vern Carruthers </i>
             <br>Carruthers lab analyzed a large cohort of freely released Toxoplasma secretory proteins by using two complementary methodologies, two-dimensional electrophoresis/mass spectrometry and liquid chromatography/electrospray ionization-tandem mass spectrometry (MudPIT, shotgun proteomics). <a href="http://www.ncbi.nlm.nih.gov/pubmed/16002397">J Biol Chem. 2005 Oct 7;280(40):34233-44.</a>
             <br><sup>5</sup>
   <!-- description by Andras Fiser -->
             <i>Silvia Moreno </i>
             <br>The samples were prepared by Silvia Moreno's laboratory at the University of Georgia, Athens, GA and analyzed by James Thompson and  John  Yates, III  at The Scripps Research Institute, La Jolla, CA
             <br>]]></doc>
<request>
<param name='orf_ms_assay' type='xsd:string' required='true' default='false' repeating='true'>
<doc title='prompt'><![CDATA[Experiments]]></doc>
<doc title='help'><![CDATA[Experiments]]></doc>
<doc title='default'><![CDATA[false]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='Cparvum'><doc title='description'><![CDATA[<i>Cryptosporidium parvum</i>]]></doc></option>
<option value='Wastling MassSpec 1D Gel LC-MS/MS'><doc title='description'><![CDATA[1D Gel LC-MS/MS <sup>1</sup>]]></doc></option>
<option value='Wastling MassSpec 2D Gel LC-MS/MS'><doc title='description'><![CDATA[2D Gel LC-MS/MS <sup>1</sup>]]></doc></option>
<option value='Wastling MassSpec MudPit Soluble'><doc title='description'><![CDATA[MudPit Soluble fractions <sup>1</sup>]]></doc></option>
<option value='Wastling MassSpec MudPit Insoluble'><doc title='description'><![CDATA[MudPit Insoluble fractions <sup>1</sup>]]></doc></option>
<option value='Lowery MassSpec LC-MS/MS Insoluble Excysted Fraction'><doc title='description'><![CDATA[Insoluble Excysted Fraction LC-MS/MS <sup>2</sup>]]></doc></option>
<option value='Lowery MassSpec LC-MS/MS Insoluble Non-excysted fraction'><doc title='description'><![CDATA[Insoluble Non-excysted Fraction LC-MS/MS <sup>2</sup>]]></doc></option>
<option value='Lowery MassSpec LC-MS/MS Soluble Excysted and Non-excysted fractions'><doc title='description'><![CDATA[Soluble Excysted and Non-excysted Fraction LC-MS/MS <sup>2</sup>]]></doc></option>
<option value='Fiser_Proteomics_14Aug2006_1D_gel'><doc title='description'><![CDATA[1D Gel 14Aug2006 <sup>3</sup>]]></doc></option>
<option value='Fiser_Proteomics_16May2006_1D_gel'><doc title='description'><![CDATA[1D Gel 16May2006 <sup>3</sup>]]></doc></option>
<option value='Fiser_Proteomics_24Jun2006_1D_gel'><doc title='description'><![CDATA[1D Gel 24Jun2006 <sup>3</sup>]]></doc></option>
<option value='Ferrari_Proteomics_LTQ_Oocyst_walls'><doc title='description'><![CDATA[Oocyst walls <sup>4</sup>]]></doc></option>
<option value='Ferrari_Proteomics_LTQ_intact_oocysts_merged'><doc title='description'><![CDATA[Intact Oocysts <sup>4</sup>]]></doc></option>
<option value='Ferrari_Proteomics_LTQ_Sporozoites merged'><doc title='description'><![CDATA[Sporozoites <sup>4</sup>]]></doc></option>
<option value='Glamblia'><doc title='description'><![CDATA[<i>Giardia Assemblage A isolate WB</i>]]></doc></option>
<option value='DTASelect-filter_032108_Proteomics'><doc title='description'><![CDATA[DTA-Select Filter]]></doc></option>
<option value='Tgondii'><doc title='description'><![CDATA[<i>Toxoplasma gondii</i>]]></doc></option>
<option value='Wastling 1-D SDS PAGE'><doc title='description'><![CDATA[1-D SDS PAGE<sup>1</sup>]]></doc></option>
<option value='Wastling 1-D SDS PAGE Soluble'><doc title='description'><![CDATA[1-D SDS PAGE Soluble Fraction<sup>1</sup>]]></doc></option>
<option value='Wastling 1-D SDS PAGE Insoluble'><doc title='description'><![CDATA[1-D SDS PAGE Insoluble Fraction<sup>1</sup>]]></doc></option>
<option value='Wastling MudPIT Soluble'><doc title='description'><![CDATA[MudPIT Soluble Fraction<sup>1</sup>]]></doc></option>
<option value='Wastling MudPIT Insoluble'><doc title='description'><![CDATA[MudPIT Insoluble Fraction<sup>1</sup>]]></doc></option>
<option value='Wastling Rhoptry'><doc title='description'><![CDATA[Rhoptry Fraction<sup>1*</sup>]]></doc></option>
<option value='Wastling Murray Conoid-enriched Fraction'><doc title='description'><![CDATA[Conoid-enriched Fraction<sup>2</sup>]]></doc></option>
<option value='Wastling Murray Conoid-depleted Fraction'><doc title='description'><![CDATA[Conoid-depleted Fraction<sup>2</sup>]]></doc></option>
<option value='1D Gel Tachyzoite Membrane fraction 12-2006'><doc title='description'><![CDATA[1D Gel Tachyzoite Membrane fraction 12-2006<sup>3</sup>]]></doc></option>
<option value='1D Gel Tachyzoite Cytosolic fraction 03-2006'><doc title='description'><![CDATA[1D Gel Tachyzoite Cytosolic fraction 03-2006<sup>3</sup>]]></doc></option>
<option value='1D Gel Tachyzoite Membrane fraction 10-2006'><doc title='description'><![CDATA[1D Gel Tachyzoite Membrane fraction 10-2006<sup>3</sup>]]></doc></option>
<option value='MS Tachyzoite Membrane fraction 05-02-2006'><doc title='description'><![CDATA[MS Tachyzoite Membrane fraction 05-02-2006<sup>3</sup>]]></doc></option>
<option value='MS Tachyzoite Membrane fraction 06-2006'><doc title='description'><![CDATA[MS Tachyzoite Membrane fraction 06-2006<sup>3</sup>]]></doc></option>
<option value='MS Tachyzoite Membrane fraction 10-2006'><doc title='description'><![CDATA[MS Tachyzoite Membrane fraction 10-2006<sup>3</sup>]]></doc></option>
<option value='MS Tachyzoite Membrane fraction 05-10-2006'><doc title='description'><![CDATA[MS Tachyzoite Membrane fraction 05-10-2006<sup>3</sup>]]></doc></option>
<option value='MS Tachyzoite Membrane fraction 02-03-2006'><doc title='description'><![CDATA[MS Tachyzoite Membrane fraction 02-03-2006<sup>3</sup>]]></doc></option>
<option value='MS Carruthers 2destinct peptides'><doc title='description'><![CDATA[MS RH Secretome fraction 2destinct peptides<sup>4</sup>]]></doc></option>
<option value='MS Carruthers MudPIT Twinscan hits'><doc title='description'><![CDATA[MS RH Secretome fraction MudPIT Twinscan hits<sup>4</sup>]]></doc></option>
<option value='RH Mass Spec Data (sample A)'><doc title='description'><![CDATA[RH Mass Spec Data (sample A)<sup>5</sup>]]></doc></option>
<option value='RH Mass Spec Data (sample G)'><doc title='description'><![CDATA[RH Mass Spec Data (sample G)<sup>5</sup>]]></doc></option>
</param>
<param name='min_sequence_count' type='xsd:string' required='true' default='1' >
<doc title='prompt'><![CDATA[Minimum Number of<br>Unique Peptide Sequences]]></doc>
<doc title='help'><![CDATA[Use this parameter to set a minimum for the number of unique peptide sequences found that must match a gene in order for it to be returned by the query. Roughly speaking this parameter provides a measure of the abundance of the protein product in question, at least within a particular experiment.]]></doc>
<doc title='default'><![CDATA[1]]></doc>
</param>
<param name='min_spectrum_count' type='xsd:string' required='true' default='1' >
<doc title='prompt'><![CDATA[Minimum Number of Spectra]]></doc>
<doc title='help'><![CDATA[Use this parameter to set a minimum for the number of mass spectra found that must match a gene in order for it to be returned by the query. Roughly speaking this parameter provides a measure of the abundance of the protein product in question, at least within a particular experiment.]]></doc>
<doc title='default'><![CDATA[1]]></doc>
</param>
<param name='o-fields' type='xsd:string' required='false' default='none' repeating='true'>
<doc title='prompt'><![CDATA[Output Fields]]></doc>
<doc title='help'><![CDATA[Single valued attributes of the feature.]]></doc>
<doc title='default'><![CDATA[none]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='all'><doc title='description'>Show all attributes</doc></option>
<option value='none'><doc title='description'>Show no attributes</doc></option>
<option value='primary_key'><doc title='description'><![CDATA[ORF Id]]></doc></option>
<option value='organism'><doc title='description'><![CDATA[Organism]]></doc></option>
<option value='orf_location_text'><doc title='description'><![CDATA[Location]]></doc></option>
<option value='nas_id'><doc title='description'><![CDATA[Sequence ID]]></doc></option>
<option value='orf_start'><doc title='description'><![CDATA[orf_start]]></doc></option>
<option value='orf_end'><doc title='description'><![CDATA[orf_end]]></doc></option>
<option value='orf_start_text'><doc title='description'><![CDATA[Start]]></doc></option>
<option value='orf_end_text'><doc title='description'><![CDATA[End]]></doc></option>
<option value='orf_strand'><doc title='description'><![CDATA[Strand]]></doc></option>
<option value='length'><doc title='description'><![CDATA[Length]]></doc></option>
<option value='organism_text'><doc title='description'><![CDATA[Organism]]></doc></option>
<option value='sequence'><doc title='description'><![CDATA[Sequence]]></doc></option>
<option value='wdk_weight'><doc title='description'><![CDATA[Weight]]></doc></option>
<option value='sum_sequence_count'><doc title='description'><![CDATA[Number of Peptide Sequences]]></doc></option>
<option value='sum_spectrum_count'><doc title='description'><![CDATA[Number of Spectra]]></doc></option>
</param>
<param name='o-tables' type='xsd:string' required='false' default='none' repeating='true'>
<doc title='prompt'><![CDATA[Output Tables]]></doc>
<doc title='help'><![CDATA[Multi-valued attributes of the feature.]]></doc>
<doc title='default'><![CDATA[none]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='all'><doc title='description'>Show all tables</doc></option>
<option value='none'><doc title='description'>Show no tables</doc></option>
</param>
</request>
<response>
<representation mediaType='text/xml'/>
<representation mediaType='text/plain'/>
</response>
</method>
</resource>
</resources>
</application>
