Books/XML-and-Web-technology/Data/WADL/SageTagByGeneSourceId.wadl

<?xml version='1.0'?>
<application xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance' xsi:schemaLocation='http://wadl.dev.java.net/2009/02 wadl.xsd' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns='http://wadl.dev.java.net/2009/02'>
<resources base='http://eupathdb.org/webservices/'>
<resource path='SageTagQuestions'>
<resource path='SageTagByGeneSourceId.xml'>
<method href='#sagetagbygenesourceid'/>
</resource>
<resource path='SageTagByGeneSourceId.json'>
<method href='#sagetagbygenesourceid'/>
</resource>
<method name='POST' id='sagetagbygenesourceid'>
<doc title='display_name'><![CDATA[GeneSource Id]]></doc>
<doc title='summary'><![CDATA[Find SAGE Tags in GiardiaDB, PlasmoDB and ToxoDB By Gene Identifier]]></doc>
<doc title='description'><![CDATA[Find SAGE Tags in GiardiaDB, TriTrypDB, PlasmoDB and ToxoDB By Gene Identifier]]></doc>
<request>
<param name='single_gene_id' type='xsd:string' required='true' default='TGME49_039250' >
<doc title='prompt'><![CDATA[Gene ID]]></doc>
<doc title='help'><![CDATA[Gene IDs (locus tags) are quite different for each species. We use the gene IDs provided by the sequence generator.]]></doc>
<doc title='default'><![CDATA[TGME49_039250]]></doc>
</param>
<param name='st_max_five_prime_distance' type='xsd:string' required='true' default='0' >
<doc title='prompt'><![CDATA[Maximum distance from 5' gene end]]></doc>
<doc title='help'><![CDATA[Enter the maximum distance you want to allow the tag to be from the 5' end of the gene.  This is assuming that the gene model does  not contain the entire transcribed region which is frequently the case.  Note that the larger the value entered here (1000 bp maximum) the greater the chance for aberrant results.]]></doc>
<doc title='default'><![CDATA[0]]></doc>
</param>
<param name='st_max_three_prime_distance' type='xsd:string' required='true' default='0' >
<doc title='prompt'><![CDATA[Maximum distance from 3' gene end]]></doc>
<doc title='help'><![CDATA[Enter the maximum distance you want to allow the tag to be from the 3' end of the gene.  This is assuming that the gene model does  not contain the entire transcribed region which is frequently the case.  Note that the larger the value entered here (1000 bp maximum) the greater the chance for aberrant results.]]></doc>
<doc title='default'><![CDATA[0]]></doc>
</param>
<param name='o-fields' type='xsd:string' required='false' default='none' repeating='true'>
<doc title='prompt'><![CDATA[Output Fields]]></doc>
<doc title='help'><![CDATA[Single valued attributes of the feature.]]></doc>
<doc title='default'><![CDATA[none]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='all'><doc title='description'>Show all attributes</doc></option>
<option value='none'><doc title='description'>Show no attributes</doc></option>
<option value='primary_key'><doc title='description'><![CDATA[Tag]]></doc></option>
<option value='tag_sequence'><doc title='description'><![CDATA[Tag Sequence]]></doc></option>
<option value='sequence_id'><doc title='description'><![CDATA[Sequence Id]]></doc></option>
<option value='start_min'><doc title='description'><![CDATA[Tag Start]]></doc></option>
<option value='end_max'><doc title='description'><![CDATA[Tag End]]></doc></option>
<option value='strand'><doc title='description'><![CDATA[Strand]]></doc></option>
<option value='context_start'><doc title='description'><![CDATA[Genomic Context Start]]></doc></option>
<option value='context_end'><doc title='description'><![CDATA[Genomic Context End]]></doc></option>
<option value='organism'><doc title='description'><![CDATA[Organism]]></doc></option>
<option value='rad_source_id'><doc title='description'><![CDATA[External Identifier]]></doc></option>
<option value='project_id'><doc title='description'><![CDATA[Project Id]]></doc></option>
<option value='gene_source_id'><doc title='description'><![CDATA[Gene]]></doc></option>
<option value='gene_product'><doc title='description'><![CDATA[Gene Product]]></doc></option>
<option value='feature_source_id'><doc title='description'><![CDATA[Feature source id]]></doc></option>
<option value='location_text'><doc title='description'><![CDATA[Genomic Location]]></doc></option>
<option value='wdk_weight'><doc title='description'><![CDATA[Weight]]></doc></option>
</param>
<param name='o-tables' type='xsd:string' required='false' default='none' repeating='true'>
<doc title='prompt'><![CDATA[Output Tables]]></doc>
<doc title='help'><![CDATA[Multi-valued attributes of the feature.]]></doc>
<doc title='default'><![CDATA[none]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='all'><doc title='description'>Show all tables</doc></option>
<option value='none'><doc title='description'>Show no tables</doc></option>
</param>
</request>
<response>
<representation mediaType='text/xml'/>
<representation mediaType='text/plain'/>
</response>
</method>
</resource>
</resources>
</application>
