Books/XML-and-Web-technology/Data/WADL/SnpsByIsolateType.wadl

<?xml version='1.0'?>
<application xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance' xsi:schemaLocation='http://wadl.dev.java.net/2009/02 wadl.xsd' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns='http://wadl.dev.java.net/2009/02'>
<resources base='http://eupathdb.org/webservices/'>
<resource path='SnpQuestions'>
<resource path='SnpsByIsolateType.xml'>
<method href='#snpsbyisolatetype'/>
</resource>
<resource path='SnpsByIsolateType.json'>
<method href='#snpsbyisolatetype'/>
</resource>
<method name='POST' id='snpsbyisolatetype'>
<doc title='display_name'><![CDATA[Presence in isolate assay]]></doc>
<doc title='summary'><![CDATA[Find SNPs that are being used for isolate typing.]]></doc>
<doc title='description'><![CDATA[Find SNPs that are being used for isolate typing either in the barcoding assay or on the 3K SNP chip.]]></doc>
<request>
<param name='organism' type='xsd:string' required='true' default='Plasmodium falciparum' repeating='true'>
<doc title='prompt'><![CDATA[Organism]]></doc>
<doc title='help'><![CDATA[Organism]]></doc>
<doc title='default'><![CDATA[Plasmodium falciparum]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='Plasmodium falciparum'><doc title='description'><![CDATA[Plasmodium falciparum]]></doc></option>
</param>
<param name='snp_assay_type' type='xsd:string' required='true' default='3kChip' repeating='true'>
<doc title='prompt'><![CDATA[Isolate assay type]]></doc>
<doc title='help'><![CDATA[Choose the isolate type you want to query]]></doc>
<doc title='default'><![CDATA[3kChip]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='3kChip'><doc title='description'><![CDATA[3kChip]]></doc></option>
<option value='Barcode'><doc title='description'><![CDATA[Barcode]]></doc></option>
<option value='HD_Array'><doc title='description'><![CDATA[HD_Array]]></doc></option>
</param>
<param name='o-fields' type='xsd:string' required='false' default='none' repeating='true'>
<doc title='prompt'><![CDATA[Output Fields]]></doc>
<doc title='help'><![CDATA[Single valued attributes of the feature.]]></doc>
<doc title='default'><![CDATA[none]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='all'><doc title='description'>Show all attributes</doc></option>
<option value='none'><doc title='description'>Show no attributes</doc></option>
<option value='primary_key'><doc title='description'><![CDATA[SNP Id]]></doc></option>
<option value='organism'><doc title='description'><![CDATA[Organism]]></doc></option>
<option value='dataset'><doc title='description'><![CDATA[Dataset]]></doc></option>
<option value='start_min_text'><doc title='description'><![CDATA[start_min_text]]></doc></option>
<option value='snp_location'><doc title='description'><![CDATA[Location]]></doc></option>
<option value='chromosome_order_num'><doc title='description'><![CDATA[Chromosome]]></doc></option>
<option value='start_min'><doc title='description'><![CDATA[Position]]></doc></option>
<option value='strains'><doc title='description'><![CDATA[Strains]]></doc></option>
<option value='gene_source_id'><doc title='description'><![CDATA[Gene ID]]></doc></option>
<option value='gene_strand'><doc title='description'><![CDATA[Gene strand]]></doc></option>
<option value='is_coding'><doc title='description'><![CDATA[Coding]]></doc></option>
<option value='position_in_CDS'><doc title='description'><![CDATA[Position in CDS]]></doc></option>
<option value='position_in_protein'><doc title='description'><![CDATA[Position in protein]]></doc></option>
<option value='has_nonsynonymous_allele'><doc title='description'><![CDATA[Non-synonymous]]></doc></option>
<option value='strains_gene_strand'><doc title='description'><![CDATA[Strains (gene strand)]]></doc></option>
<option value='lflank_gene_strand'><doc title='description'><![CDATA[Left Flank (gene strand)]]></doc></option>
<option value='allele_gene_strand'><doc title='description'><![CDATA[3D7 Allele (gene strand)]]></doc></option>
<option value='rflank_gene_strand'><doc title='description'><![CDATA[Right Flank (gene strand)]]></doc></option>
<option value='major_allele_frequency'><doc title='description'><![CDATA[Major Allele Frequency]]></doc></option>
<option value='minor_allele_frequency'><doc title='description'><![CDATA[Minor Allele Frequency]]></doc></option>
<option value='strain_count'><doc title='description'><![CDATA[Strain Count]]></doc></option>
<option value='major_allele'><doc title='description'><![CDATA[Major Allele]]></doc></option>
<option value='minor_allele'><doc title='description'><![CDATA[Minor Allele]]></doc></option>
<option value='major_product'><doc title='description'><![CDATA[Major Product]]></doc></option>
<option value='minor_product'><doc title='description'><![CDATA[Minor Product]]></doc></option>
<option value='major_strains'><doc title='description'><![CDATA[Major Strains]]></doc></option>
<option value='minor_strains'><doc title='description'><![CDATA[Minor Strains]]></doc></option>
<option value='organism_text'><doc title='description'><![CDATA[Organism]]></doc></option>
<option value='wdk_weight'><doc title='description'><![CDATA[Weight]]></doc></option>
</param>
<param name='o-tables' type='xsd:string' required='false' default='none' repeating='true'>
<doc title='prompt'><![CDATA[Output Tables]]></doc>
<doc title='help'><![CDATA[Multi-valued attributes of the feature.]]></doc>
<doc title='default'><![CDATA[none]]></doc>
<doc title='MultiValued'>Provide one or more values. Use comma as a delimter.</doc>
<option value='all'><doc title='description'>Show all tables</doc></option>
<option value='none'><doc title='description'>Show no tables</doc></option>
</param>
</request>
<response>
<representation mediaType='text/xml'/>
<representation mediaType='text/plain'/>
</response>
</method>
</resource>
</resources>
</application>
